<div class="grid-row">
  <div class="column-two-thirds">
    <header class="page-header">
      <h1 class="heading-xlarge" tabindex="0">Thank you</h1>
    </header>

    <p class="text" tabindex="0">
      You have completed the multiplication tables check.
    </p>

    <p class="text" tabindex="0">
      Thank you for taking part in this trial. To help ensure it is easy to use please leave <a routerLink="/feedback">feedback.</a>
    </p>

    <p class="form-buttons">
      <a id='sign-out' routerLink="/sign-out" class="button">Sign out</a>
    </p>
  </div>
</div>
