<app-header class="full-width"></app-header>
<main id="content" class="js-content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <header class="page-header">
                <h1 class="heading-xlarge" tabindex="0">Thank you</h1>
            </header>
            <p class="lede" tabindex="0">
                Please leave <a
              routerLink="/feedback">feedback.</a>
            </p>
            <p class="form-buttons">
                <a id='sign-out' routerLink="/sign-out" class="button">Sign out</a>
            </p>
        </div>
    </div>
</main>
