<div id="retroAddInputAssistantInfo">
    <p>
        If you need to assign an input assistant after the pupil has taken the official check go to
        <a href="/access-arrangements/retro-add-input-assistant">Record input assistant used for official check</a>.
    </p>
</div>
