<div id="retroAddInputAssistantInfo">
    <p>
        If you need to assign an input assistant after the pupil has taken the official check, select <a href="/access-arrangements/retro-add-input-assistant">record input assistant used for official check</a>.
    </p>
</div>
