<div class="header-proposition">
    <div class="content">
        <nav id="proposition-menu">
            <a href="/" title="" id="proposition-name">
                Multiplication Tables Check
            </a>
        </nav>
    </div>
</div>