<%
    const err = error;
    const input = (typeof formData !== 'undefined') ? formData : {};
    const heading = 'Add single pupil';
    const submitLabel = 'Add pupil';
    const headingClass = 'heading-large-no-bold';
%>

<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>
<header>
    <h1>Add single pupil</h1>
</header>

<header class="page-header">
    <h1 class="heading-xlarge">Add single pupil</h1>
</header>

<%- partial('school/_pupil-form', {
        input: input,
        err: err,
        school: school,
        formData: input,
        heading: heading,
        submitLabel: submitLabel,
        headingClass: headingClass,
        formHeader: 'Add'
    }) %>
