<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Headteacher’s declaration form submitted</h1>

        <%- partial('partials/_session_expiry') %>

        <p class="lede">You submitted the headteacher’s declaration form on <%= signedDate %>.</p>

        <div class="font-small">Thank you for taking part in this trial.
            To help ensure it is simple and intuitive for schools to use please leave
            <a target="_blank" href="http://www.smartsurvey.co.uk/s/mtc-trial-june-2017">feedback</a>.
        </div>

        <br style="clear: both"/>
        <br style="clear: both"/>

        <form action="/school/results">
            <input class="button" type="submit" value="View results" />
        </form>
    </div>
</div>
