<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <header class="page-header">
            <h1 class="heading-xlarge">Select pupils to generate pupil PINs</h1>
        </header>
    </div>
</div>
