<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<header class="page-header">
    <h1 class="heading-xlarge">Generate pupil PINs</h1>
</header>

<div class="grid-row">
    <div class="column-two-thirds">
        Pupils will need a Personal Identification Number (PIN) and school password in order to start the check. These expire daily.
    </div>
</div>

<br style="clear: both"/>

<div class="grid-row">
    <div class="column-two-thirds">
        <ol class="list list-number">
            <li>Generate pupil Personal Identification Numbers (PINs) and a school password.</li>
            <li>Distribute the PINs and password to your pupils.</li>
        </ol>
        <form action="#" name="generate-pins-list">
            <div class="form-group">
                <div class="form-buttons">
                    <input type="submit" class="button" value="Generate PINs"/>
                </div>
            </div>
        </form>
    </div>
</div>