<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Results</h1>

        <%- partial('partials/_session_expiry') %>

        <p class="lede" id="lead-paragraph" aria-describedby="lead-paragraph">This page will show individual pupil results. You can download the pupil results to see the breakdown of questions completed by each pupil.<br />
            In order to view the results you must:</p>

        <ul class="list list-bullet font-medium" role="listbox">
            <li role="listitem">approve your school’s attendance register</li>
            <li role="listitem">submit the headteacher’s declaration form</li>
        </ul>

        <br style="clear: both"/>

        <form action="/school/submit-attendance">
            <input class="button-secondary" type="submit" value="Go to attendance register" />
        </form>
    </div>
</div>
