<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row" aria-describedby="heading-xlarge">
    <div class="column-two-thirds" id="checkWindowsForm">
        <h1 class="heading-xlarge" id="heading-xlarge" tabindex="0">Pupils not taking the check</h1>

        <p class="lede">Click on the button below to add reasons for pupils who are not taking the check</p>

        <p>
            <a class="button button-primary" href="#">Add reason for pupil</a>
        </p>

        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <div class="back-to-top-container">
            <a href="#top">Back to top</a>
        </div>
    </div>

    <div class="column-one-third add-title-margin" tabindex="0" aria-label="sidebar">
        <aside role="complementary" class="support-column">
            <h3 class="heading-medium" tabindex="0">Start check</h3>
            <nav role="navigation">
                <ul class="list">
                    <li>
                        <a href="#">Generate PINs</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>
