<div class="grid-row">
    <div class="column-full">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row" aria-describedby="lead-paragraph">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Multiplication tables check
            for <%= schoolName %></h1>

        <%- partial('partials/_session_expiry') %>

        <ol class="list">
            <li>
                <h2 class="heading-small arrow-up"><a href="/pupil-register/pupils-list">Pupil register</a></h2>
                <p>Add, edit and review pupils</p>
            </li>

            <li>
                <h2 class="heading-small"><a href="/group/pupils-list">Group pupil</a></h2>
                <p>Create groups</p>
            </li>

            <li>
                <h2 class="heading-small"><a href="/pupils-not-taking-the-check/pupils-list">Pupils not taking the check</a></h2>
                <p>Enter a reason for pupils who are unable to take the check</p>
            </li>

            <li>
                <h2 class="heading-small"><a class="font-greyed-out disabled-link" href="#">Access arrangements</a></h2>
                <p>Select arrangements for pupils with access needs</p>
            </li>

            <li>
                <h2 class="heading-small"><a href="/pupil-pin/generate-pins-overview">Generate pupil PINs</a></h2>
                <p>Generate pupil Personal Identification Numbers (PINs) and view school password</p>
            </li>

            <li>
                <h2 class="heading-small"><a href="/restart/overview">Restarts</a></h2>
                <p>Select a pupil to restart because of an interrupted check</p>
            </li>

            <li>
                <!-- <h2 class="heading-small"><a href="/school/submit-attendance">Headteacher's declaration form</a></h2>
                <p>Complete headteacher's declaration form once pupil register has been submitted</p> -->
                <h2 class="heading-small"><a class="font-greyed-out disabled-link" href="#">Headteacher's declaration form</a></h2>
                <p>Complete the headteacher's declaration form after you have submitted your pupil register</p>
            </li>

            <li>
                <h2 class="heading-small"><a class="font-greyed-out disabled-link" href="/school/results">Results</a></h2>
                <p>View pupil results</p>
            </li>
        </ol>
    </div>

    <div class="column-one-third sidebar" role="group" aria-label="sidebar">
        <aside role="complementary" class="support-column">
            <h3 class="heading-medium">Related</h3>
            <nav role="navigation">
                <ul class="list">
                    <li>
                        <a href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Guidance</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>
