language: node_js
dist: trusty
branches:
  only:
  - master
cache:
  yarn: true
  directories:
  - "/home/travis/.rvm/"
  - "${TRAVIS_BUILD_DIR}/admin/node_modules"
  - "${TRAVIS_BUILD_DIR}/pupil-api/node_modules"
  - "${TRAVIS_BUILD_DIR}/functions/node_modules"
  - "${TRAVIS_BUILD_DIR}/pupil-spa/node_modules"
env:
  global:
  - OVERRIDE_PIN_EXPIRY=true
#  - ENVIRONMENT_NAME=hpa-travis
  - FEATURE_USE_HPA=true
  - CORS_WHITELIST=http://localhost:4200
  - AUTH_URL=http://localhost:3003/auth
  - secure: eNQ7oPdxw3AhzBL0qg+M/nEzZa0vK4P0BG6usUJhX0BP2kqbwQNw9zyihiQzAwqLF9Npnfro1GLvDjcSzRqSOWoKJpLtG7Ze87LqusCKKJ35cMs1Xb8b42YJPrIliVgaLVK+1l6kj383xh/kjDM95NftH7dvyjPpXi1uCxz6NyvfQbp8a0ZRntp7/A+fL1UwUgjeF9v6JEyW6t/A3bvBuLmUkP1ArHPlFRvHUIEj7giE671b2nNsWVBOHzgH/bPnFlEbe+jTNcYGTshguILIIbNWbcIY4w5gzwja1VaMDdnAbdRNbPgIbeR+aRslq3qCACHTGrGU4QhwKb+SbYj4n0mc/Vbc4tAuUjocv9GS1Ziszs2Gpe2Vn8tu5XY1JC4CgWdXm/A0HQ/NSXvs0LIQsLIeNtJEdzrz3t3zVKZbQPYNO0tlDkz4jyW9i5CFGdGTOqVElsBTcVlHGeMdEUxy6EQ6oOjsrDPsnwOntl3ERHMrYrSP4XtjsVWXBIeXD9c0jmsERvRf14o0L1+0Vwpbo/1UBmrI5xtIeWxE84ljUh+ndQ8b4jgeyON0gDXavcPdQvCMjQKMKaYPtfdHiuWOHY/2HhMGnHMcpIbUBT/zKk4jr/6Yj0Z7CPo+gvEucX2DYKItex1zDL3g+NLavYkAB7UvKwMxSOj5m08qOu10VEE=
  - secure: LXdzM1Tf3EuIweD6iDJBfSZ1NibgC+DFz/gBWPx8DA+cpjwgl5c1C25EH0vOCj8p8TutL8WbsJ8Umn3sxCG3VfnghGbA9sYyKvme0F4aKAoNqz1eriOXKaE65dD4Jq17TMukf5Kl+sFAo7PRzIFj6Z5QtwwbSJBXQKfQjHu5P3t1k0ALyShruGcOs8PdeJ+S8zUMxS3YASY7xLzNVIK4qaI+xY4Ew8UpZH39kJJxoWFYrpxiv58ZP4r5W6EzeTTzUe0RLXTpKI2lEmOaKxO7W5Ax2r4qiN0km02d5V+gltzOqil8PpyPktINOqd4D1zaFhDHHW9sYH3K3my3do52GmLrLpfbiJJElJm3w6ff0zLoGi8IWCQBkqqv/snX5d//4JQ0shxCBMkIiSAIcKymjhYJ5SKVwq+3LRf/erMhuQgaE7w/Ew6+LL90M3L0trs819jCETXcW2rsGIkgrcX/alcz6W+q1D7pcVQZ+vdrUVhmXVfrvhVH/rAPGSbHjHFWzvBR+zURstirNLMKuk1SyBpyR9EMv7ZXgL6fkwSiMo0S595oXTJev2YbImm7tIA+oCE7PW01o5VPfFjMYuYJfsrK13WtoF/CF61rRtD21d+i8qORpCkRCYWsEufrb5vMrBFHai0rhXpWCzOYTcu7zK6NdmVffA031BBFDD4Cs+4=
  - secure: hrNaM8No5syQEIQiVbVjuo4AbwpgQ+qxlB5+IJWyPF2niWroh6q/zEkf+TnCx7MiLcz3sXCFiedKR2y+Fkvna2eablqbL5LZcbcSx1nMn5mBVnUtpIG0HZHcpBDrIC703aD1xuK2Baf4ZVO2VpevyTJO+/RRSF/wp5Cr61lvLjlpdchfFXenAQ5G5Fs64m7XpmI5PkdbdFEN89tP3lJz82/PudGLDIHK/Y34xgO/xCc5Ytvs5YnRNsMZH2DrB3Oq4Cj9OidqIu00vPgQA4ciHiZ6mkuyMbwU7QsOr34V3q8CnuRerLZil/S/bPdGti1ZIsHiKgHWdJsPkoOBbSlepBnx+UdeADXDfetvK85ebSEmrbpSfsCACvm3WD8CRddiUSt8jL+jiNiOZuhuGTUirVa8CuzS1TUNZUHZT2LQy9cP3bMrG3GA/2DtdeYPwKdQNOkwPCQMjxAa1AaIjZBhzTbJrfeJQQU52mSGazqYPKaI5LvyufKWyn5fcrEvubVabpynvnz8FHnbwOEqBdMk5ZKstBUj3w39g4UZisvCt7mICFDb8SvGISR2SUVbIt+jVOtBO2qiCMRuZ5+YVpK6mSN8Zc1CA9SK9/ugaOiIrMw8hY1gWiE0kBQWEMIGH8Z1oO9YgjXMNzkekzyuPwbbDog+iR2IJCrddodlVnljrb0=
  - secure: "FB3kLngZtyghjGazuoTxX+daZ6pUwX/KY5hD9++Mw01yYv76pcQQT0Lr0/qQDntyqdE2muRF5+R2HRXJ2/6mnAzRILCBsmOLM//chykwOzlXvpg7LtzwLpkFppdIJYZ3kUckLnaqbSCCRb7vuWMuBUIb+cHH4OhNy7y5I22Ux3a9FvEwHlUQaXUa4y5hy87FV0D3oZq1IOgFDJKyYBrUkat851IP/HIuN5zkBYWYBNGt52XwKD7L6f5ovtLsyRJEJ4TxIiXoCcxJBe0sIDudiX6VbVhMqo3evyvkmN1Oa7pYJwVJw1aK3XJWy+xyPh38EKtLVoGE4HyrEZS3P0K+QazLqb8UVxlkW66fLZckBNFF36BYMZQao/fimitOyguXncrdzUFtkxqbnc9ZTBBbZGr4kSqpGD1wt6HmKWkujj042AjJXwgS+oycEW4eQUr3Tj+aENzU5qq+Mwt4H3c6wb7qOATnWzrdzCpi4MDgGecix0iH6Y1mGouzuukOo3mpMYiWrAy67Uisq2RC3c9W82OGYZXX2s/z33XsSwu8+cJd7t4jxsMXEV8j7AIxnL4iJdh5uHn1hWKFJm/kctpSkJrPzH+a6YMMIXlF51cAaMOy7hCkpVpKC05sYhgCzHaro7DqwCLQanuDYxG3Q1RhepiF+vmPLxPljM3/GZzcON0="
node_js:
- 8
addons:
  chrome: stable
services:
- docker
#- redis-server
sudo: required
before_install:
- node ./deploy/should-it-build.js $TRAVIS_PULL_REQUEST
- rvm reload && rvm use ruby 2.4.1
- sudo apt-get install google-chrome-stable
- "${TRAVIS_BUILD_DIR}/admin/bin/install-freetds.sh"
install:
- docker-compose -f docker-compose.yml -f docker-compose.functions.yml up --build -d && sleep 30
- docker info
- cd ${TRAVIS_BUILD_DIR}/pupil-spa && travis_retry yarn install --frozen-lockfile
- cd ${TRAVIS_BUILD_DIR}/pupil-api && travis_retry yarn install --frozen-lockfile
- cd ${TRAVIS_BUILD_DIR}/admin && travis_retry yarn install --frozen-lockfile
- cd ${TRAVIS_BUILD_DIR}/test/admin-hpa && gem install bundler --conservative && bundle
  install
- cd ${TRAVIS_BUILD_DIR}/test/pupil-hpa && gem install bundler --conservative && bundle
  install
- docker-compose logs
- cd ${TRAVIS_BUILD_DIR}/admin && yarn migrate-sql && yarn seed-sql
# We need to restart the functions container to allow it to connect to the database
# that was created in the step above.
- docker restart mtc_funcs
script:
- cd ${TRAVIS_BUILD_DIR}/test/pupil-hpa && ./hpa_travis_reduced.sh;
after_script:
- docker-compose down
