language: node_js

dist: trusty

branches:
  only:
    - bug/travis

cache:
  yarn: true
  directories:
    - /home/travis/.rvm/
    - ${TRAVIS_BUILD_DIR}/admin/node_modules
    - ${TRAVIS_BUILD_DIR}/pupil-spa/node_modules

env:
  - TEST_TYPE=admin-e2e-1
  - TEST_TYPE=admin-e2e-2
  - TEST_TYPE=admin-e2e-3
  - TEST_TYPE=pupil-e2e-1
  - TEST_TYPE=pupil-e2e-2
global:
  - STD_LOG_FILE="./build.log"
  - CXX=g++-4.8
  - secure: R6g72N+8NN5/gXe4g8PmlEw0IsmaCB4cBBgWjA944IwmoAChIGOOO9p6nhX99UcY9X3kFhzQM2TvT8T3WGCDiy9+r4AF1D80qFyMrTxIT2NEIuZZi+UerDugVAdN0/557DykG5mVUmtxT4z+b/qi1tLKRKCBE4HZ9lf8I5uzUIobTLaC0+rfFtFe34wxoICW6Q1X9TMCUo2gEa0T+TXecjWWvv+PUl4+PwTZvVGQaFg+BIOofXvn9jAk7PBnJi/FPBLsBrDXt75HTyAjCHnM2WsjQLtGbUs5kKI8nkydwbvu3p/u3XRHhxazH+79w9yDqyFEZ5S86op4NyjqYAP/LK86oUt1qPgj0lGphgxcscEm6znFCiB0UdNVgoFbPGBDcwC7B4g9HvNuRB4VxOHRFbIwDJWMBxCp1EDKgm5lk1/aZqK6fKcID8cvSY6zQ2KRXH5Ztdf+TeNbvdJFFtNATMyZ7+CQfcdNwlp25LTpzd+H5pKzhUl8oGeoEGiCWsU2ZMESKrrcs6/Vv2XCOi9MjHRuJ72iZ8xLIsNnam+R4j/asvtOg5gIrA/4SjLLIfqRFwHX56HfggGrtdQeKc2NtSmyqYo5AKnwe73Rb18vPchoj/2XVMH5kAGgXSe7v9dywS0nvxaD0xzLNNZmLNjthvCwuq+o9jhObhsBWXTDuXo=
  - secure: fXLqXS0ziuJxyIf5rCtBJ+3/YFdyVYu8sgSmFecCs4wATN8w6PSgP2t36JOlAPbm96LiDTNGlyIh8eQvu2FcKDp0S0R1thrTfjH/EVvA/Gq46w1MdTv/21R1KoeJhzIuNkLnRLG3EdYN/PSWdmLALJADeG7aAtDpfdV7HUN658ur9Rr5vvWoR9R7rK/iOqk34k4tF7ZRIe2ilKNj4HzsqlolQfNzIiwWMibUNRBzrHEEO+jW3u+ByF7TAEar6evolfC8luZfPjlIhRTHkmSkbXFjxKmr6ZzU/1UqCNye939POzwGQ7CFI2+danmsRBZhfBzXHuhRkcBhYpR2F0+UuxXA8exA/d820dMN0WApXHvau6IvnccSdZtE15TeOEAVqQKyumIIQClWZvL1RusZMAGtDOFEUzg2o4yGzbDQS7cSzROutdsHuMg6GwL6im4QgeZQHW9Cw3GazDWycpqe42+NSJ3g9NbdV8/9vlbARsNUDtcXm6VfWdQi+/qtmkM9SCFb3OWIg3Nmnt1DKtiEJfib/o4eaUwDQJ29toTTmq4zX9fNPi3nL6vDFtUVGQozGBV4fuLxNH8TsbKSa/8/Hjd1C80TO9uOZJHuNuunmZyjXxvS6/9D+CU/mzXUdC6Be6sSpppWQQsIQjgIILYLxyC2yNOl5X1imgGtqXwFnvQ=

node_js:
  - 8

addons:
  chrome: stable
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

services:
 # - mongodb
  - docker

sudo: required

before_install:
#  - "$CXX --version"
  - rvm reload && rvm use ruby 2.4.1
  - sudo apt-get install google-chrome-stable
  - ${TRAVIS_BUILD_DIR}/admin/bin/install-freetds.sh

install:
  - cd ${TRAVIS_BUILD_DIR}/pupil-spa && travis_retry yarn install --frozen-lockfile
  - cd ${TRAVIS_BUILD_DIR}/admin && travis_retry yarn install --frozen-lockfile
  - cd ${TRAVIS_BUILD_DIR}/admin/test && gem install bundler --conservative && bundle install
  - cd ${TRAVIS_BUILD_DIR}/pupil-spa/test && gem install bundler --conservative && bundle install

before_script:
  - docker-compose up --build -d && sleep 10
  - docker info
  - docker-compose logs
  - cd ${TRAVIS_BUILD_DIR}/admin && yarn migrate-sql

script:
  - if [[ "$TEST_TYPE" = admin-e2e-1 ]]; then cd ${TRAVIS_BUILD_DIR}/admin && ./test.sh; fi
  - if [[ "$TEST_TYPE" = admin-e2e-2 ]]; then cd ${TRAVIS_BUILD_DIR}/admin && ./test2.sh; fi
  - if [[ "$TEST_TYPE" = admin-e2e-3 ]]; then cd ${TRAVIS_BUILD_DIR}/admin && ./test3.sh; fi
#  - if [[ "$TEST_TYPE" = pupil-e2e-1 ]]; then cd ${TRAVIS_BUILD_DIR}/pupil-spa && ./test.sh; fi
#  - if [[ "$TEST_TYPE" = pupil-e2e-2 ]]; then cd ${TRAVIS_BUILD_DIR}/pupil-spa && ./test2.sh; fi

after_script:
  - docker-compose down
