version: '3'
services:
  mongo:
    image: mongo
    container_name: mtc_mongo
    ports:
    - "27017:27017"
  sqldb:
    image: "microsoft/mssql-server-linux:2017-latest"
    container_name: mtc_mssql
    ports:
    - "1433:1433"
    environment:
        SA_PASSWORD: "Mtc-D3v.5ql_S3rv3r"
        ACCEPT_EULA: "Y"
        HOMEBREW_NO_ENV_FILTERING: 1

