services:
  sqldb:
    image: "mcr.microsoft.com/mssql/server:2022-latest"
    #image: "mcr.microsoft.com/azure-sql-edge"
    container_name: mtc_mssql
    ports:
      - "1433:1433"
    environment:
      SA_PASSWORD: "Mtc-D3v.5ql_S3rv3r"
      ACCEPT_EULA: "Y"
      HOMEBREW_NO_ENV_FILTERING: 1
      MSSQL_AGENT_ENABLED: "true"
  redis:
    image: "redis:6.0-alpine"
    container_name: mtc_redis
    ports:
      - "6379:6379"
