<app-header class="full-width"></app-header>
<main id="content" class="js-content" role="main">
  <app-breadcrumbs [breadcrumbs]="[{ url: '.', name: 'Home' }, { name: 'Contact' } ]"></app-breadcrumbs>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Contact</h1>
      <div class="panel panel-border-wide">
        National curriculum assessments helpline
        <br />
        0300 303 3013
      </div>
      <div class="panel panel-border-wide">
        Email
        <br />
        assessments@education.gov.uk
      </div>
    </div>

    <div class="column-one-third add-title-margin">
      <br />
      <aside role="complementary" class="support-column">
        <h3 class="heading-medium">Related</h3>
        <nav role="navigation">
          <ul class="list">
            <li>
              <a href="/">Home</a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
</main>
<app-footer></app-footer>
