<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <% if (error) { %>
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading-1">
                <%= error %>
            </h2>
            <p>Multiplication tables check helpline<br>
                0345 278 8080
            </p>
        </div>
        <% } %>
        <header class="page-header">
            <h1 class="heading-xlarge">Generate pupil PINs</h1>
        </header>
        <br />
        Pupils will need a Personal Identification Number (PIN) and school password in order to start the check. These expire daily.
    </div>
    <div class="column-one-third sidebar" aria-label="sidebar">
        <aside role="complementary" class="support-column">
            <h3 class="heading-medium">Related</h3>
            <nav role="navigation">
                <ul class="list">
                    <li>
                        <a href="/pdfs/mtc_cag_feb_2018_trial.pdf" target="_blank" rel="noopener noreferrer">Guidance</a>
                    </li>
                    <li>
                        <a href="" >Group pupils</a>
                    </li>
                    <li>
                        <a href="" >Restarts</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <ol class="list list-number">
            <li>Generate pupil PINs and school password.</li>
            <li>Distribute pupil PINs and school password to your pupils.</li>
        </ol>
        <form action="/pupil-pin/generate-pins-list/lastName/asc" name="generate-pins-list">
            <div class="form-group">
                <div class="form-buttons">
                    <% if (error) { %>
                    <input type="submit" class="button" disabled value="Generate PINs"/>
                    <% } else { %>
                    <input type="submit" class="button" value="Generate PINs"/>
                    <% } %>
                </div>
            </div>
        </form>
    </div>
</div>
