<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%- partial('partials/_gds_session_expiry') %>

      <%- partial('partials/_service_message', { serviceMessages }) %>

      <% if (messages && messages.info && messages.info.length) { %>
            <div class="govuk-body govuk-info-message govuk-!-margin-bottom-7">
          <% messages.info.forEach( msg => { %>
            <p><%= msg %></p>
          <% }) %>
        </div>
      <% } %>

      <h1 class="govuk-heading-xl">Tech Support</h1>
      <ol class="govuk-list">
        <li class="govuk-!-margin-bottom-4">
          <h2 class="govuk-heading-s arrow-up">
            <a class="govuk-link" title="View check details: DB, marked, received"
            href="/tech-support/checkview">Check view</a></h2>
        </li>
        <li class="govuk-!-margin-bottom-4">
          <h2 class="govuk-heading-s arrow-up"><a class="govuk-link" href="/tech-support/redis-overview">Redis</a></h2>
        </li>
        <li class="govuk-!-margin-bottom-4">
          <h2 class="govuk-heading-s arrow-up"><a class="govuk-link" href="/tech-support/queue-overview">Queues Overview</a></h2>
        </li>
        <li class="govuk-!-margin-bottom-4">
          <h2 class="govuk-heading-s arrow-up"><a class="govuk-link" href="/tech-support/sb-queue-submit">Submit Service Bus Queue Message</a></h2>
        </li>
        <li class="govuk-!-margin-bottom-4">
          <h2 class="govuk-heading-s arrow-up"><a class="govuk-link" href="/tech-support/check-submit">Submit Check</a></h2>
        </li>
        <li class="govuk-!-margin-bottom-4">
          <h2 class="govuk-heading-s arrow-up">
            <a class="govuk-link" href="/tech-support/results-resync-check">Resync single check result</a>
          </h2>
        </li>
        <li class="govuk-!-margin-bottom-4">
          <h2 class="govuk-heading-s arrow-up">
            <a class="govuk-link" href="/tech-support/results-resync-school">Resync school results</a>
          </h2>
        </li>
        <li class="govuk-!-margin-bottom-4">
          <h2 class="govuk-heading-s arrow-up">
            <a class="govuk-link" href="/tech-support/results-resync-all">Resync uncalculated/all results</a>
          </h2>
        </li>
        <li class="govuk-!-margin-bottom-4">
          <h2 class="govuk-heading-s arrow-up">
            <a class="govuk-link" href="/tech-support/ps-report-run">Run PS Report</a>
          </h2>
        </li>
      </ol>
    </div>
  </div>
</main>
