<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <%- partial('partials/_name_and_sign_out') %>
  </div>
</div>
<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Tech Support</h1>
      <a href="/tech-support/checkview">Check View</a>
    </div>
  </div>
</main>
