// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: '/govuk_template/stylesheets/images/';

// Base GDS Toolkit
// Settings (variables)
@import '../../node_modules/govuk_frontend_toolkit/stylesheets/colours';                            // Colour variables
@import '../../node_modules/govuk_frontend_toolkit/stylesheets/font_stack';                         // Font family variables
@import '../../node_modules/govuk_frontend_toolkit/stylesheets/measurements';                       // Widths and gutter variables

$mainstream-brand: $department-for-education;

// Mixins
@import '../../node_modules/govuk_frontend_toolkit/stylesheets/conditionals';                       // Media query mixin
@import '../../node_modules/govuk_frontend_toolkit/stylesheets/device-pixels';                      // Retina image mixin
@import '../../node_modules/govuk_frontend_toolkit/stylesheets/grid_layout';                        // Basic grid layout mixin
@import '../../node_modules/govuk_frontend_toolkit/stylesheets/typography';                         // Core bold and heading mixins, also external links
@import '../../node_modules/govuk_frontend_toolkit/stylesheets/shims';                              // Inline block mixin, clearfix placeholder

// Extras
@import '../../node_modules/govuk_frontend_toolkit/stylesheets/helpers';                            // needed for tables.
@import '../../node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/alpha-beta';
@import '../../node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/buttons';
@import '../../node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/breadcrumbs';
@import '../../node_modules/govuk_frontend_toolkit/stylesheets/url-helpers';

// From https://github.com/alphagov/govuk_elements
@import '../../node_modules/govuk-elements-sass/public/sass/elements/helpers';
@import '../../node_modules/govuk-elements-sass/public/sass/elements/layout';
@import '../../node_modules/govuk-elements-sass/public/sass/elements/elements-typography';
@import '../../node_modules/govuk-elements-sass/public/sass/elements/buttons';
@import '../../node_modules/govuk-elements-sass/public/sass/elements/forms';
@import '../../node_modules/govuk-elements-sass/public/sass/elements/forms/form-multiple-choice';
@import '../../node_modules/govuk-elements-sass/public/sass/elements/forms/form-validation';
@import '../../node_modules/govuk-elements-sass/public/sass/elements/forms/form-date';
@import '../../node_modules/govuk-elements-sass/public/sass/elements/panels';
@import '../../node_modules/govuk-elements-sass/public/sass/elements/icons';
@import '../../node_modules/govuk-elements-sass/public/sass/elements/details';
@import '../../node_modules/govuk-elements-sass/public/sass/elements/shame';
@import '../../node_modules/govuk-elements-sass/public/sass/elements/lists';
@import '../../node_modules/govuk-elements-sass/public/sass/elements/components';

@import '_variables';
@import 'elements/_phase-banner';
@import 'elements/_headings';
@import 'elements/_organization-logo';
@import 'elements/_pupils';
@import 'elements/_printing';
@import 'elements/_top_navigation';
@import 'elements/_electron';
@import 'elements/_filters';
@import 'elements/_flash-messages';
@import 'elements/_boxes';
@import 'elements/_check-forms';
@import 'elements/_sign-out';
@import 'elements/_results';
@import 'elements/_check-windows';
@import 'elements/_sorting';
@import 'elements/_not-taking-check';
@import 'elements/_sticky-confirmation-banner';
@import 'elements/_mtc-checkboxes';
@import 'elements/_modal';
@import 'elements/_restarts';
@import 'elements/_groups';
@import 'elements/_pupil-census';

// Global

.nowrap {
  white-space: nowrap;
}

.wrap-text {
  word-wrap: break-word;
}

.back-to-top-container {
  margin-top: 0;

  @include media(desktop) {
    margin-top: 4.4em;
  }
}

// Sidebar

.sidebar {
  margin-top: 40px;
}

.support-column {
  border-top: pem(10px) solid $mainstream-brand;
  padding-top: pem(10px);

  ul {
    @include core-16();

    list-style: none;
  }

  h2, h3, h4 {
    @include bold-24();

    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }
}

hr.divider {
  clear: both;
  border: 0;
  height: pem(1px);
  color: $grey-2; /* old IE */
  background-color: $grey-2;
  padding: 0;
}

.thin-border {
  border: 1px solid $grey-2;
}

.strong-no-underline {
  font-weight: bold;
  text-decoration: none;

  &:link,
  &:active,
  &:visited,
  &:hover {
    text-decoration: none;
  }
}

// GDS customisation

.information {
  @include core-24;

  text-align: center;
  width: 100%;
  clear: both;
  padding: 1em 0;
  margin: $gutter-and-a-half 0;
  background-color: $grey-3;
  display: table;

  p {
    display: table-cell;
    vertical-align: middle;
  }
}

.sta-horizontal-logo {
  width: 250px;
  margin-top: $gutter;

  @include media(mobile) {
    margin-top: $gutter-half;
  }
}

// General alignments, positions and spacing.

.text-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.left-padding-30 {
  padding-left: $gutter;
}

.top-padding-30 {
  margin-top: $gutter;
}

.float-right {
  float: right;
}

// Visibility

.hidden {
  display: none;
  visibility: hidden;
}

.hidden-and-readable {
  position: absolute;
  left: -10000px;
  top: auto;
  width: pem(1px);
  height: pem(1px);
  overflow:hidden;
}

// Footer

#footer {
  border-top: pem(10px) solid $mainstream-brand;
}

// Fonts

.font-greyed-out {
  color: $grey-1;
}

.italic {
  font-style: italic;
}

// Lists

ol.numeric-list {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: pem(22px);

  li {
    margin-bottom: pem(10px);
  }
}

dl dd {
  margin-left: 0;
}

.list-nested {
  margin-left: pem(35px);
}

// Forms
input:disabled {
  border: 0;
}

#removeUploadedFile {
  visibility: hidden;
  display: none;
}

// Show an input as if it was a link

input.link {
  @include copy-19;

  text-align: left;
  color: $link-colour;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;

  &.remove-file {
    padding-top: pem(10px);
    font-size: medium;
  }
}

.textarea {
  width: 30em;
  max-width: 100%;
  height: 10em;
  resize: vertical;
}

.narrow-width {
  width: pem(60px);
}

legend {
  padding: 0;
}

.form-horizontal {
  select {
    height: pem(36px);
  }

  input[type=submit] {
    padding-top: .4em;
    padding-bottom: .2em;
    height: pem(35px);
  }

  @include media(tablet) {
    select {
      width: auto;
    }

    input[type=submit] {
      width: auto
    }
  }
}

input[type=checkbox]:disabled {
  cursor: not-allowed;
}

input {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: normal;
}

.form-buttons {
  @extend .form-group;

  input, a {
    margin-right: 15px; // 'pem' returns the wrong conversion to px.
  }
}

.label-optional {
  font-weight: 400;
  margin-left: pem(5);
}

// Buttons and button as link

.button-secondary {
  @include button($grey-3);

  margin-top: em(20);

  &:not(:last-child) {
    margin-right: pem(10);
  }

  @include ie(8) {
    margin-right: pem(10);
  }

  @include media(tablet) {
    margin-top: 0;
  }

  &.disabled-link {
    color: $grey-1;
  }
}

.button-single {
  margin-left: 0;
}

.button-wrapper {
  padding-top: pem(5);
  margin-bottom: 0;
}

.link-button {
  padding-left: 0;
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 19px;
  color: $link-colour;
}

.link-button:visited {
  color: $link-visited-colour;
}

.link-button:hover {
  color: $link-hover-colour;
}

.link-button:active {
  color: $link-hover-colour;
}

.link-icon-wrapper {
  padding-top: pem(10);
  padding-bottom: pem(25);
}

// Errors

.error-summary {
  padding: 20px 15px 5px 15px;
}

// Hide 'check all' checkboxes if JS is not enabled

.tick-all-boxes {
  display: none;
  visibility: hidden;
}

.js-enabled .tick-all-boxes {
  visibility: visible;
  display: table-cell;
}

// 'tick-all-boxes' classes should be removed once
// the new implementation of checkboxes is in place
.tick-all-boxes-nojs {
  display: table-cell;
  visibility: visible;
  margin-left: .5em;
}

.js-enabled .tick-all-boxes-nojs {
  display: none;
  visibility: hidden;
}

// Tables

table.spacious {
  border-bottom: 1px solid $grey-2;
  border-collapse: collapse;
  margin-bottom: $gutter-and-a-half;
  margin-top: $gutter-and-a-half;
  width: 100%;

  tr {
    border-bottom: 1px solid $grey-2;
  }

  th, td {
    display: table-cell;

    &:first-child {
      white-space: nowrap;
    }
  }

  th {
    text-align: left;
    padding-bottom: 10px;

    a {
      color: $black;
      text-decoration: none;
    }
  }

  td {
    padding-bottom: $gutter-half;
    padding-top: $gutter-half;

    a {
      text-decoration: none;
    }
  }
}

table.spacious {
  .button-secondary {
    text-decoration: none;
  }
}

table.spacious-two-column {
  @extend table.spacious;
}

table.spacious.reduced-top-margin {
  margin-top: pem(15px);
}

.column-narrow {
  width: 10%;
}

.master-detail {
  margin-top: 1.1em;
}

// Panels

.panel-no-border {
  @extend .panel;
  border-left: 0;
  padding-left: pem(20);
}

.panel.panel-border-wide.short {
  padding: 5px 0 6px 15px;
  margin-top: 8px;
  margin-bottom: 10px;
}

.panel, .warning-panel, .panel-no-border {
  margin-bottom: 0;
}

.panel-list {
  margin-top: 0;
  padding-left: 0;

  li {
    margin-bottom: 15px;

    ul > li {
      list-style-type: disc;
      margin-bottom: 5px;
    }
  }
}

a.disabled-link {
  pointer-events: none;
  cursor: default;
  color: #6f777b;
  text-decoration: none;
}
