// New GOVUK Frontend Toolkit

$govuk-assets-path: "/vendor/govuk-frontend/";
$govuk-images-path: "#{$govuk-assets-path}images/";
$govuk-fonts-path: "#{$govuk-assets-path}fonts/";

$govuk-global-styles: true;
@import "../../node_modules/govuk-frontend/govuk/all";
@import "elements/access-arrangements";
@import "elements/accessible-autocomplete";
@import "elements/app-cookie-banner";
@import "elements/app-related-items";
@import "elements/back-to-top";
@import "elements/check-forms";
@import "elements/cards";
@import "elements/cookie-banner";
@import "elements/cookie-settings";
@import "elements/check-windows";
@import "elements/custom-banners";
@import "elements/custom-fonts";
@import "elements/custom-icons";
@import "elements/filters";
@import "elements/flash-messages";
@import "elements/form-multiple-choice";
@import "elements/forms";
@import "elements/icons";
@import "elements/links";
@import "elements/lists";
@import "elements/modal";
@import "elements/mtc-checkboxes";
@import "elements/panel-list";
@import "elements/results";
@import "elements/sticky-confirmation-banner";
@import "elements/sorting";
@import "elements/tables";
@import "elements/groups";
@import "elements/hdf";
@import "elements/not-taking-check";
@import "elements/pupils";
@import "elements/pupil-census";
@import "elements/pupil-pin";
@import "elements/restarts";
@import "elements/session-expiry";
@import "elements/sign-out";
@import "elements/sta-organisation-logo";
@import "elements/step-by-step-navigation";
@import "elements/summary-sections";
@import "elements/assign-forms";
@import "elements/uploaded-files";
@import "elements/key-value-list";
@import "elements/printing";

// Self-clearing floats
.group:after {
  content: "";
  display: table;
  clear: both;
}

// A way to hide radio buttons on a form.  Used in cookies-form.ejs
.mtc-not-visible-not-accessible {
  visibility: hidden;
}

// access arangements panel details - dt headings space
.govuk-panel-list dt {
  margin-top: 20px;
  margin-bottom: 5px;
}
