// New GOVUK Frontend Toolkit

$govuk-assets-path: '/vendor/govuk-frontend/';
$govuk-images-path: '#{$govuk-assets-path}images/';
$govuk-fonts-path: '#{$govuk-assets-path}fonts/';

$govuk-global-styles: true;
@import '../../node_modules/govuk-frontend/govuk/all';
@import 'elements/_access-arrangements';
@import 'elements/_accessible-autocomplete';
@import 'elements/_app-cookie-banner';
@import 'elements/_app-related-items';
@import 'elements/_back-to-top';
@import 'elements/_check-forms';
@import 'elements/_cards';
@import 'elements/_cookie-banner';
@import 'elements/_cookie-settings';
@import 'elements/_check-windows';
@import 'elements/_custom-banners.scss';
@import 'elements/_custom-fonts';
@import 'elements/_custom-icons';
@import 'elements/_filters';
@import 'elements/_flash-messages';
@import 'elements/_form-multiple-choice';
@import 'elements/_forms';
@import 'elements/_icons';
@import 'elements/_links';
@import 'elements/_lists';
@import 'elements/_modal';
@import 'elements/_mtc-checkboxes';
@import 'elements/_panel-list';
@import 'elements/_results';
@import 'elements/_sticky-confirmation-banner';
@import 'elements/_sorting';
@import 'elements/_tables';
@import 'elements/_groups';
@import 'elements/_hdf';
@import 'elements/_not-taking-check';
@import 'elements/_pupils';
@import 'elements/_pupil-census';
@import 'elements/_pupil-pin';
@import 'elements/_restarts';
@import 'elements/_session-expiry';
@import 'elements/_sign-out';
@import 'elements/_sta-organisation-logo';
@import 'elements/_step-by-step-navigation';
@import 'elements/_summary-sections';
@import 'elements/_assign-forms';
@import 'elements/_uploaded-files';
@import 'elements/key-value-list';
@import 'elements/printing';


// Self-clearing floats
.group:after {
  content: "";
  display: table;
  clear: both;
}

// A way to hide radio buttons on a form.  Used in cookies-form.ejs
.mtc-not-visible-not-accessible {
  visibility: hidden;
}

// access arangements panel details - dt headings space
.govuk-panel-list dt {
  margin-top: 20px;
  margin-bottom: 5px;
}

.text-align-right {
  text-align: right;
}
