$aa-copy-size-xxlarge: 36px;
$aa-copy-size-xlarge: 28px;
$aa-copy-size-large: 24px;
$aa-copy-size-regular: 19px; // Should match application default
$aa-copy-size-small: 14px;
$aa-copy-size-xsmall: 12px;

$aa-title-size-xxlarge: 96px;
$aa-title-size-xlarge: 72px;
$aa-title-size-large: 60px;
$aa-title-size-regular: 48px; // Should match application default
$aa-title-size-small: 36px;
$aa-title-size-xsmall: 24px;

$aa-question-size-xxlarge: 160px;
$aa-question-size-xlarge: 120px;
$aa-question-size-large: 100px;
$aa-question-size-regular: 80px; // Should match application default
$aa-question-size-small: 60px;
$aa-question-size-xsmall: 40px;

$aa-lead-size-xxlarge: 48px;
$aa-lead-size-xlarge: 36px;
$aa-lead-size-large: 30px;
$aa-lead-size-regular: 24px; // Should match application default
$aa-lead-size-small: 18px;
$aa-lead-size-xsmall: 14px;

$aa-link-size-xxlarge: 32px;
$aa-link-size-xlarge: 24px;
$aa-link-size-large: 20px;
$aa-link-size-regular: 19px; // Should match application default
$aa-link-size-small: 14px;
$aa-link-size-xsmall: 12px;

$aa-button-size-xxlarge: 36px;
$aa-button-size-xlarge: 28px;
$aa-button-size-large: 24px;
$aa-button-size-regular: 19px; // Should match application default
$aa-button-size-small: 14px;
$aa-button-size-xsmall: 12px;

$aa-button-width-xxlarge: 180px;
$aa-button-width-xlarge: 150px;
$aa-button-width-large: 120px;
$aa-button-width-regular: 70px; // Should match application default
$aa-button-width-small: 70px;
$aa-button-width-xsmall: 70px;

$aa-button-height-xxlarge: 70px;
$aa-button-height-xlarge: 60px;
$aa-button-height-large: 50px;
$aa-button-height-regular: 40px; // Should match application default
$aa-button-height-small: 40px;
$aa-button-height-xsmall: 40px;

$aa-numpad-button-number-size-xxlarge: 72px;
$aa-numpad-button-number-size-xlarge: 56px;
$aa-numpad-button-number-size-large: 48px;
$aa-numpad-button-number-size-regular: 36px;
$aa-numpad-button-number-size-small: 28px;
$aa-numpad-button-number-size-xsmall: 19px;

$aa-numpad-button-text-size-xxlarge: 56px;
$aa-numpad-button-text-size-xlarge: 42px;
$aa-numpad-button-text-size-large: 35px;
$aa-numpad-button-text-size-regular: 28px;
$aa-numpad-button-text-size-small: 21px;
$aa-numpad-button-text-size-xsmall: 14px;

$aa-numpad-button-width-xxlarge: 163px;
$aa-numpad-button-width-xlarge: 125px;
$aa-numpad-button-width-large: 100px;
$aa-numpad-button-width-regular: 100px;
$aa-numpad-button-width-small: 70px;
$aa-numpad-button-width-xsmall: 60px;

$aa-numpad-button-height-xxlarge: 70px;
$aa-numpad-button-height-xlarge: 70px;
$aa-numpad-button-height-large: 70px;
$aa-numpad-button-height-regular: 70px;
$aa-numpad-button-height-small: 50px;
$aa-numpad-button-height-xsmall: 44px;

$aa-numpad-button-preview-width-xxlarge: 155px;
$aa-numpad-button-preview-width-xlarge: 125px;
$aa-numpad-button-preview-width-large: 100px;
$aa-numpad-button-preview-width-regular: 100px;
$aa-numpad-button-preview-width-small: 70px;
$aa-numpad-button-preview-width-xsmall: 60px;

$aa-radio-outside-xxlarge: 38px;
$aa-radio-outside-xlarge: 30px;
$aa-radio-outside-large: 24px;
$aa-radio-outside-regular: 18px;
$aa-radio-outside-small: 14px;
$aa-radio-outside-xsmall: 10px;

$aa-radio-inside-xxlarge: 34px;
$aa-radio-inside-xlarge: 26px;
$aa-radio-inside-large: 20px;
$aa-radio-inside-regular: 14px;
$aa-radio-inside-small: 10px;
$aa-radio-inside-xsmall: 6px;
