// Questions

$vertical-breakpoint-1: 600px;
$vertical-breakpoint-2: 500px;
$small-screen-breakpoint: 485px; // screens below this threshold get a fallback stacked view

@mixin mtc-core-64($line-height: (64 / 64), $line-height-640: (55 / 53), $tabular-numbers: false, $font-weight: 400) {
  $font-size: 59px;
  $font-size-640: 46px;
  $font-size-print: 28pt;
  @include _core-font-generator($font-size, $font-size-640, $font-size-print, $line-height, $line-height-640, $tabular-numbers, $font-weight);
}

.question-container {
  margin: 0 15px;
  max-width: 960px;
  vertical-align: top;

  @media (min-width: 641px) {
    margin: 0 30px;
  }
  @media (min-width: 1020px) {
    margin: 0 auto;
  }
}

.question-and-answer {
  @include mtc-core-64;

  text-align: center;
  margin-top: 35px;

  @include media(tablet) {
    text-align: left;
    margin-top: 65px; // condense this space for small screens
  }

  @include media(desktop) {
    @include core-80;
    margin-top: 70px;
    text-align: center;
  }

  @media only screen
  and (max-height: $vertical-breakpoint-1) {
    margin-top: 35px;
  }

  @media only screen
  and (max-height: $vertical-breakpoint-2) {
    margin-top: 5px;
  }
}

.question {
  // mobile view
  display: block;
  line-height: 1.15 !important;
  margin: 0 auto; // center it in the page
  text-align: right;
  vertical-align: top;
  width: 223px;  // mobile

  // For tablets we want the question and answer to be on the same line
  @include media(tablet) {
    margin: 0;
    width: 3.7em;
    display: inline-block;
    line-height: 1.425em !important;
  }

  @include media(desktop) {
    margin: 0;
  }
}

// Answers
.answer-container {
  display: inline-block;

  @include media(tablet) {
    text-align: left;
    padding: 0;
  }
}

.answer {
  border: 2px solid $black;
  outline: 3px solid $focus-colour;
  display: block;
  height: pem(80px, 64);
  margin: auto;
  text-align: right;
  width: 223px;  // mobile

  line-height: 1.35;

  // Tablet : question and answer on one line
  @include media(tablet) {
    width: 319px;
    text-align: left;
    margin: 0 0 0 10px;
    line-height: 1.4;
  }
}

// Numpad
.numpad-container {
  margin-top: 2px;
  text-align: center;

  @include media(tablet) {
    margin-top: 12px;
  }
}


.key {
  @include core-27;

  background-color: $grey-1;
  padding-top: 5px;
}

.preload {
  clear: both;
}
