$horizontal-breakpoint-1: 641px;
$horizontal-breakpoint-2: 721px;
$horizontal-breakpoint-3: 781px;

@mixin mtc-core-59($line-height: (64 / 64), $line-height-640: (55 / 53), $tabular-numbers: false, $font-weight: 400) {
  $font-size: 59px;
  $font-size-640: 46px;
  $font-size-print: 28pt;

  @include _core-font-generator($font-size, $font-size-640, $font-size-print, $line-height, $line-height-640, $tabular-numbers, $font-weight);
}

.practice-box, .badge {
  color: $white;
  background-color: $grey-1;
  float: left;
  padding: 2px 5px;
  text-transform: uppercase;
  width: auto;
}

/*
  Our .question-container is set to inline block to ensure its
  only as wide as its contents (variable font sizing) which means
  we cannot center it using its margin. Instead text-align: center
  is set on an outer container.
*/
.question-wrapper {
  text-align: center;
}

/*
  The familiarisation title content needs to change based on screen size.
  An empty div is used in the question component and the contents
  is set using css :after
*/
.familiarisation-title {
  position: absolute;
  top: 0;
  left: 50%;

  &:after {
    content: "Try it out";
    display: inline-block;
    position: relative;
    top: 5px;
    left: -50%;
  }
}

/*
  See comment above. Here we change the contents of the familiarisation-title
  when the user has set the default font and is on a small screen
*/
.copy-size-regular .familiarisation-title:after {
  @media (max-width: $horizontal-breakpoint-1) {
    content: "Try it out";
  }
}

.question-header {
  @extend %contain-floats;

  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

// set maximum header widths based on font size
.copy-size-xxlarge .question-header {
  max-width: 980px;
}

.copy-size-xlarge .question-header,
.copy-size-large .question-header,
.copy-size-regular .question-header {
  max-width: 950px;
}

.copy-size-small .question-header {
  max-width: 490px;
}

.copy-size-xsmall .question-header {
  max-width: 430px;
}


.question-container {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

.question-and-answer {
  @include mtc-core-59;

  text-align: center;
  margin: 0;
  line-height: 0 !important;

  @media (min-width: $horizontal-breakpoint-1) {
    margin-top: 35px;
  }
}

.question {
  display: block;
  margin: 0 auto; // center it in the page
  text-align: left;
  padding: 0 10px;

  @media (min-width: $horizontal-breakpoint-1) {
    margin: 0;
    padding: 0;
    vertical-align: top;
    text-align: right;
    display: inline-block;
  }
}

// Answers
.answer-container {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

.answer {
  border: 2px solid $black;
  box-shadow: 0 0 0 3px $focus-colour;
  display: block;
  margin: 0 10px;
  text-align: right;
  max-width: 100%;
  line-height: 1.35em;
  height: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Numpad
.numpad-container {
  margin: 10px 0 0 0;
  text-align: center;
}

.preload {
  clear: both;
}
