// Questions
.question-container {
  margin-top: pem($gutter, 16);
}

.question-and-answer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.question {
  @include core-80;

  display: inline-block;
  padding-top: 3px; // allow for the border that the .answer has
  vertical-align: top;
  line-height: 1.15 !important;
}

// Answers
.answer-container {
  display: inline-block;
}

.answer {
  @include core-80;

  border: 3px solid $focus-colour;
  display: block;
  height: pem(80px, 80);
  margin: auto;
  text-align: left;
  width: pem(320px, 80); // IE Edge needs 0.02em more than other browsers.
  line-height: 1.15 !important;
}

// Numpad
.numpad-container {
  margin-top: 2em;
  text-align: center;
}

.numpad {
  border-spacing: pem(10px, 16);
}

.key {
  @include core-36;

  background-color: $grey-1;
  cursor: pointer;
  height: 2em;
  text-align: center;
  width: 2.75em;

  img {
    vertical-align: middle;
  }
}

.enter-key {
  @extend .key;

  @include core-27;
}

.preload {
  clear: both;
}