// Questions
.question-container {
  margin-top: pem(70px, 16); // TODO: condense this space for small screens
}

.question-and-answer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.question {
  @include core-80;

  display: inline-block;
  padding-top: 3px; // allow for the border that the .answer has
  vertical-align: top;
  line-height: 1.15 !important;
}

// Answers
.answer-container {
  display: inline-block;
}

.answer {
  @include core-80;

  border: 3px solid $focus-colour;
  display: block;
  height: pem(80px, 80);
  margin: auto;
  text-align: left;
  width: pem(320px, 80); // IE Edge needs 0.02em more than other browsers.
  line-height: 1.15 !important;
}

// Numpad
.numpad-container {
  margin-top: 10px;  // total spacing is 20px made up of 10px border-spacing + 10px margin
  text-align: center;
}

.numpad {
  border-spacing: pem(10px, 16);
}

.key {
  @include core-27;

  background-color: $grey-1;
  cursor: pointer;
  //height: 2em;
  text-align: center;
  //width: 2.75em;
  border-bottom: 3px solid #000;
  padding-top: 5px;
}

.preload {
  clear: both;
}