// Questions

.question-and-answer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: pem(35px, 16);

  @include media(desktop) {
    margin-top: pem(65px, 16); // TODO: condense this space for small screens
  }
}

.question-container {
  vertical-align: top;
}

.question {
  @include core-80;

  display: block; // mobile

  width: pem(326px, 80); // 320px + 6px for the border on the .answer
  margin-left: auto;
  margin-right: auto;
  text-align: right;

  @include media(desktop) {
    display: inline-block;
    padding-top: 3px; // allow for the border that the .answer has
    margin: 0;
    text-align: right;
    width: pem(300, 80) // shrink the width as much as possible so as to center the image
  }

  vertical-align: top;
  line-height: 1.15 !important;
}

// Answers
.answer-container {
  display: inline-block;
}

.answer {
  @include core-80;

  border: 2px solid $black;
  outline: 3px solid $focus-colour;
  display: block;
  height: pem(80px, 80);
  margin: auto;
  text-align: right;
  width: pem(320px, 80); // IE Edge needs 0.02em more than other browsers.
  line-height: 1.15 !important;

  @include media(desktop) {
    text-align: left;
  }
}

// Numpad
.numpad-container {
  margin-top: 8px;  // total spacing is 20px made up of 10px border-spacing + 8px margin + ?
  text-align: center;
}

.numpad {
  border-spacing: pem(10px, 16);
}

.key {
  @include core-27;

  background-color: $grey-1;
  padding-top: 5px;
}

.preload {
  clear: both;
}