@mixin colour-contrast($background-color, $copy-colour) {
  background-color: $background-color;

  p, strong, li, span {
    color: $copy-colour;
  }

  .button {
    background-color: $background-color;
    color: $copy-colour;
  }
}

.colour-contrast-yob {
  @include colour-contrast(#000000, #ffff00);
}

.colour-contrast-bob {
  @include colour-contrast(#000000, #96adfc);
}

.colour-contrast-bop {
  @include colour-contrast(#000000, #edd1b0);
}

.colour-contrast-boc {
  @include colour-contrast(#00008b, #fff5cd);
}
