@mixin copy-size($question-text-size, $header-size, $lead-size, $copy-size, $link-size, $button-text-size, $button-width, $button-height) {
  // $copy-size is also used for practive / time left 

  p, li, .aa-copy-size {
    font-size: $copy-size !important;
  }

  strong, .aa-lead-size {
    font-size: $lead-size !important;
  }

  a, .aa-link-size {
    font-size: $link-size !important;
  }

  h1, .aa-header-size {
    font-size: $header-size !important;
  }

  .familiarisation-title, .loading-text, .remaining-time-warmup, .remaining-time {
    font-size: $copy-size !important;
  }

  .button:not(.numpad-button):not(.button-start) {
    font-size: $button-text-size !important;
    width: $button-width !important;
    height: $button-height !important;
    line-height: 0.5em;
  }

  .button-start {
    font-size: $button-text-size !important;
    line-height: 1.5em;
  }

  .question-and-answer {
    font-size: $question-text-size !important;
  }

  .badge, .practice-box {
    font-size: $copy-size;
  }

  .question {
    font-size: $question-text-size !important;
  }

  .answer {
    font-size: $question-text-size !important;
  }
}

.copy-size-xsmall {
  @include copy-size(40px, 24px, 14px, 12px, 12px, 12px, 70px, 40px);
}

.copy-size-small {
  @include copy-size(60px, 36px, 18px, 14px, 14px, 14px, 70px, 40px);
}

.copy-size-regular {

}

.copy-size-large {
  @include copy-size(100px, 60px, 30px, 24px, 20px, 24px, 120px, 50px);
}

.copy-size-xlarge {
  @include copy-size(120px, 72px, 36px, 28px, 24px, 28px, 150px, 60px);
}

.copy-size-xxlarge {
  @include copy-size(160px, 96px, 48px, 38px, 32px, 38px, 180px, 70px);
}
