$aa-copy-size-xxlarge: 38px;
$aa-copy-size-xlarge: 28px;
$aa-copy-size-large: 24px;
$aa-copy-size-regular: 19px; // Should match application default
$aa-copy-size-small: 14px;
$aa-copy-size-xsmall: 12px;

$aa-question-size-xxlarge: 160px;
$aa-question-size-xlarge: 120px;
$aa-question-size-large: 100px;
$aa-question-size-regular: 80px; // Should match application default
$aa-question-size-small: 60px;
$aa-question-size-xsmall: 40px;

$aa-lead-size-xxlarge: 48px;
$aa-lead-size-xlarge: 36px;
$aa-lead-size-large: 30px;
$aa-lead-size-regular: 24px; // Should match application default
$aa-lead-size-small: 18px;
$aa-lead-size-xsmall: 14px;

$aa-link-size-xxlarge: 32px;
$aa-link-size-xlarge: 24px;
$aa-link-size-large: 20px;
$aa-link-size-regular: 19px;// Should match application default
$aa-link-size-small: 14px;
$aa-link-size-xsmall: 12px;

$aa-button-size-xxlarge: 38px;
$aa-button-size-xlarge: 28px;
$aa-button-size-large: 24px;
$aa-button-size-regular: 19px;// Should match application default
$aa-button-size-small: 14px;
$aa-button-size-xsmall: 12px;

$aa-button-width-xxlarge: 180px;
$aa-button-width-xlarge: 150px;
$aa-button-width-large: 120px;
$aa-button-width-regular: 70px;// Should match application default
$aa-button-width-small: 70px;
$aa-button-width-xsmall: 70px;

$aa-button-height-xxlarge: 70px;
$aa-button-height-xlarge: 60px;
$aa-button-height-large: 50px;
$aa-button-height-regular: 40px;// Should match application default
$aa-button-height-small: 40px;
$aa-button-height-xsmall: 40px;

@mixin copy-size($size, $question-size, $lead-size, $copy-size, $link-size, $button-text-size, $button-width, $button-height) {

  .aa-copy-size-#{$size} {
    font-size: $copy-size !important;
  }

  .aa-lead-size-#{$size} {
    font-size: $lead-size !important;
  }

  .aa-link-size-#{$size} {
    font-size: $link-size !important;
  }

  .aa-question-size-#{$size} {
    font-size: $question-size !important;
  }

  .aa-button-size-#{$size} {
    font-size: $button-text-size !important;
    width: $button-width !important;
    height: $button-height !important;
    line-height: 0.5em;
  }
}

@include copy-size(
  "xsmall",
  $aa-question-size-xsmall,
  $aa-lead-size-xsmall,
  $aa-copy-size-xsmall,
  $aa-link-size-xsmall,
  $aa-button-size-xsmall,
  $aa-button-width-xsmall,
  $aa-button-height-xsmall
);
@include copy-size(
  "small",
  $aa-question-size-small,
  $aa-lead-size-small,
  $aa-copy-size-small,
  $aa-link-size-small,
  $aa-button-size-small,
  $aa-button-width-small,
  $aa-button-height-small
);
@include copy-size(
  "regular",
  $aa-question-size-regular,
  $aa-lead-size-regular,
  $aa-copy-size-regular,
  $aa-link-size-regular,
  $aa-button-size-regular,
  $aa-button-width-regular,
  $aa-button-height-regular
);
@include copy-size(
  "large",
  $aa-question-size-large,
  $aa-lead-size-large,
  $aa-copy-size-large,
  $aa-link-size-large,
  $aa-button-size-large,
  $aa-button-width-large,
  $aa-button-height-large
);
@include copy-size(
  "xlarge",
  $aa-question-size-xlarge,
  $aa-lead-size-xlarge,
  $aa-copy-size-xlarge,
  $aa-link-size-xlarge,
  $aa-button-size-xlarge,
  $aa-button-width-xlarge,
  $aa-button-height-xlarge
);
@include copy-size(
  "xxlarge",
  $aa-question-size-xxlarge,
  $aa-lead-size-xxlarge,
  $aa-copy-size-xxlarge,
  $aa-link-size-xxlarge,
  $aa-button-size-xxlarge,
  $aa-button-width-xxlarge,
  $aa-button-height-xxlarge
);
