// JS / no-JS

// scss-lint:disable IdSelector
#nojs-content {
  @extend %site-width-container;
  @extend %contain-floats;
  @include core-19;

  padding-bottom: $gutter;
  -webkit-font-smoothing: antialiased;
  display: block;

  @include media(desktop) {
    padding-bottom: $gutter * 3;
  }
  // Pressing enter when focus is on the skiplink sets focus on the #content area
  // Remove the blue outline
  outline: none;
}

.js-content {
  visibility: hidden;
  display: none;
}

.js-enabled .js-content {
  visibility: visible;
  display: block;
}

.nojs-content {
  visibility: visible;
  display: block;
}

.js-enabled .nojs-content {
  visibility: hidden;
  display: none;
}
