@import "./aa-variables.scss";

@mixin customsize($size, $button-width, $button-preview-width, $button-height, $button-number-size, $button-text-size, $answer-width, $answer-height) {

  .copy-size-#{$size} .question-container {
    table {
      border-spacing: 10px;
    }

    td {
      padding: 0;
      margin: 0;
      vertical-align: top;
    }

    td > button {
      color: $white;
      border: 0;
      cursor: pointer;
      font-weight: 400;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    .question {
      min-width: $answer-width !important;
      height: $answer-height !important;
      line-height: $answer-height !important;
    }

    .answer {
      width: $answer-width !important;
      height: $answer-height !important;
      line-height: $answer-height !important;
    }
  }

  .numpad-button-#{$size}, .numpad-button-preview-#{$size}, .copy-size-#{$size} .numpad-button,
  .numpad-enter-button-#{$size}, .copy-size-#{$size} .numpad-enter-button {
    position: relative;
    font-family: Arial, Segoe UI Symbol, sans-serif !important;

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .numpad-button-#{$size}, .copy-size-#{$size} .numpad-button {
    @include button($grey-1);

    font-size: $button-number-size !important;
    line-height: $button-height !important;
    width: $button-width !important;
    height: $button-height !important;
    max-height: $button-height !important;
    max-width: $button-width !important;
  }

  .numpad-button-preview-#{$size}, .copy-size-#{$size} .numpad-button {
    @include button($grey-1);

    font-size: $button-number-size !important;
    line-height: $button-height !important;
    width: $button-preview-width !important;
    height: $button-height !important;
    max-height: $button-height !important;
    max-width: $button-preview-width !important;
  }

  .numpad-enter-button-#{$size}, .copy-size-#{$size} .numpad-enter-button {
    @include button($grey-1);

    font-size: $button-text-size !important;
    line-height: $button-height !important;
    width: $button-width !important;
    height: $button-height !important;
    max-height: $button-height !important;
    max-width: $button-width !important;
  }
}


@include customsize(
  "xsmall",
  $aa-numpad-button-width-xsmall,
  $aa-numpad-button-preview-width-xsmall,
  $aa-numpad-button-height-xsmall,
  $aa-numpad-button-number-size-xsmall,
  $aa-numpad-button-text-size-xsmall,
  200px,
  50px
);
@include customsize(
  "small",
  $aa-numpad-button-width-small,
    $aa-numpad-button-preview-width-small,
  $aa-numpad-button-height-small,
  $aa-numpad-button-number-size-small,
  $aa-numpad-button-text-size-small,
  230px,
  70px
);
@include customsize(
  "regular",
  $aa-numpad-button-width-regular,
    $aa-numpad-button-preview-width-regular,
  $aa-numpad-button-height-regular,
  $aa-numpad-button-number-size-regular,
  $aa-numpad-button-text-size-regular,
  320px,
  100px
);
@include customsize(
  "large",
  $aa-numpad-button-width-large,
    $aa-numpad-button-preview-width-large,
  $aa-numpad-button-height-large,
  $aa-numpad-button-number-size-large,
  $aa-numpad-button-text-size-large,
  320px,
  100px
);
@include customsize(
  "xlarge",
  $aa-numpad-button-width-xlarge,
    $aa-numpad-button-preview-width-xlarge,
  $aa-numpad-button-height-xlarge,
  $aa-numpad-button-number-size-xlarge,
  $aa-numpad-button-text-size-xlarge,
  395px,
  120px
);
@include customsize(
  "xxlarge",
  $aa-numpad-button-width-xxlarge,
    $aa-numpad-button-preview-width-xxlarge,
  $aa-numpad-button-height-xxlarge,
  $aa-numpad-button-number-size-xxlarge,
  $aa-numpad-button-text-size-xxlarge,
  510px,
  150px
);
