.numpad {
  td {
    height: pem(70px, 36);
    width: pem(100px, 36);
  }

  td > button {
    background-color: $grey-1;
    color: $white;
    border: 0;
    cursor: pointer;
    font-size: 36px;
    font-weight: 400;
    height: pem(70px, 36);
    width: pem(100px, 36);
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .enter-key {
    @include core-27;
  }
}
