.numpad {
  td {
    max-height: 72px;
    max-width: 72px;
  }

  td > button {
    background-color: #dee0e2;
    border: 0;
    cursor: hand;
    font-size: 36px;
    font-weight: 400;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;

    &.backspace-button {
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAYCAYAAABwZEQ3AAAAAXNSR0IArs4c6QAAAAlwSFlzAAAuIwAALiMBeKU/dgAABCRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IlhNUCBDb3JlIDUuNC4wIj4KICAgPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6dGlmZj0iaHR0cDovL25zLmFkb2JlLmNvbS90aWZmLzEuMC8iCiAgICAgICAgICAgIHhtbG5zOmV4aWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20vZXhpZi8xLjAvIgogICAgICAgICAgICB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iCiAgICAgICAgICAgIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyI+CiAgICAgICAgIDx0aWZmOlJlc29sdXRpb25Vbml0PjI8L3RpZmY6UmVzb2x1dGlvblVuaXQ+CiAgICAgICAgIDx0aWZmOkNvbXByZXNzaW9uPjU8L3RpZmY6Q29tcHJlc3Npb24+CiAgICAgICAgIDx0aWZmOlhSZXNvbHV0aW9uPjMwMDwvdGlmZjpYUmVzb2x1dGlvbj4KICAgICAgICAgPHRpZmY6T3JpZW50YXRpb24+MTwvdGlmZjpPcmllbnRhdGlvbj4KICAgICAgICAgPHRpZmY6WVJlc29sdXRpb24+MzAwPC90aWZmOllSZXNvbHV0aW9uPgogICAgICAgICA8ZXhpZjpQaXhlbFhEaW1lbnNpb24+MzU8L2V4aWY6UGl4ZWxYRGltZW5zaW9uPgogICAgICAgICA8ZXhpZjpDb2xvclNwYWNlPjE8L2V4aWY6Q29sb3JTcGFjZT4KICAgICAgICAgPGV4aWY6UGl4ZWxZRGltZW5zaW9uPjI0PC9leGlmOlBpeGVsWURpbWVuc2lvbj4KICAgICAgICAgPGRjOnN1YmplY3Q+CiAgICAgICAgICAgIDxyZGY6U2VxLz4KICAgICAgICAgPC9kYzpzdWJqZWN0PgogICAgICAgICA8eG1wOk1vZGlmeURhdGU+MjAxNzowMToyNSAxNTowMTo0MDwveG1wOk1vZGlmeURhdGU+CiAgICAgICAgIDx4bXA6Q3JlYXRvclRvb2w+UGl4ZWxtYXRvciAzLjY8L3htcDpDcmVhdG9yVG9vbD4KICAgICAgPC9yZGY6RGVzY3JpcHRpb24+CiAgIDwvcmRmOlJERj4KPC94OnhtcG1ldGE+CoSt54IAAAJYSURBVEgNtZY5ixRBGIZnRUQxEBRNNKjAFe9ARVHURfHA+0o8wEBQXFwWwd/hD1BB8BdsoJgbGJsIihebeYu34sH4PMP2MvZ2V3ft9LzwDN31ffX1W91VH9NqpWkv6b+h3Q9mJngZIvcWOOdrwryq1BkkzIGBumY0Mgaz4SzchwHoVb7hJXAX5tYptoOk9/AdjtSZkJijmc+gsaj2EP0EGjkWzZx+MDC10sxukjTyBfZBEyr6tIHCUTMHJxLcqPshpkUE3U+nYknEzsEdML9bgZtSMwcIfoOP4FGu0hoSzP0JJ0qSzzBuS3gLK3I5gftCM0cJ+DYsvhPqaiuJPkhD+b11mjGNvIQNkFdgYIoZV2WxD7ALUrWNCe/gB2Sn7iTXv0AjG6FIgcH/zBxnwBPj6lzldLWdibYBN/1VcHGvYROUKRCYNHOeG1+jBbZAr7KGn9m+8QbWQ0yBYMeMrfgBPANb8jroVQspkHX2WVwvSC24lAmPwNVcTp3cle/n9tO8givg/qtqD4Gcyc/EdUeD/D4GDY12RtJ+PEVuXjdxtu88CFWNM5AzxQxjrWXwBDQ0AnVlS8iMeKq6lXVyH1jUtwLjhWYsshyegoYuQZU8sh4AP8lQSbImPCAaXpvLCdyXmjHXLumm1tAwxDSf4E3wDcR0mOB1mJdLCtxHzZi/Ep6Dhi5CvxQoXGnGh6+CF6ChC9APBYrWMuPDV8M4aMgG2bQWU7BjJmtOsQc8JHgIbsM1sJHdg6akGZtvkjwF4+Ab+tMgfydqtov+eREr1WYiN8C306RcYPsfZCG38xrUWBEAAAAASUVORK5CYII=');
    }
  }

  .enter-key {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 20px;
    line-height: 1.11111;
  }
}
