.numpad {
  td {
    max-height: 72px;
    max-width: 102px;
  }

  td > button {
    background-color: $grey-1;
    color: $white;
    border: 0;
    overflow: no-display;
    cursor: hand;
    font-size: 36px;
    font-weight: 400;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .enter-key {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 20px;
    line-height: 1.11111;
  }
}
