@mixin customsize($button-width, $button-height, $button-number-size, $button-text-size) {
  border-spacing: 10px;

  td {
    padding: 0;
    margin: 0;
  }

  td > button {
    background-color: $grey-1;
    color: $white;
    border: 0;
    cursor: pointer;
    font-weight: 400;
    height: $button-height;
    width: $button-width;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .numpad-button {
    @include button($grey-1);
    @include _core-font-generator($button-number-size, $button-number-size, $button-number-size);
    line-height: $button-number-size !important;

    padding: 0.1em 0 0 0;
  }

  .numpad-enter-button {
    @include button($grey-1);
    @include _core-font-generator($button-text-size, $button-text-size, $button-text-size);
    line-height: $button-text-size !important;

    padding: 0.1em 0 0 0;
  }
}

.numpad-xsmall {
  @include customsize(60px, 44px, 12px, 12px);
}

.numpad-small {
  @include customsize(60px, 44px, 19px, 19px);
}

.numpad-regular {
  @include customsize(70px, 50px, 36px, 27px);
}

.numpad-large {
  @include customsize(125px, 70px, 45px, 40px);
}

.numpad-xlarge {
  @include customsize(140px, 70px, 54px, 45px);
}

.numpad-xxlarge {
  @include customsize(140px, 60px, 60px, 50px);
}
