.numpad {
  td {
    height: pem(65px, 36);
    width: pem(100px, 36);
    padding: 0;
    margin: 0;
  }

  td > button {
    background-color: $grey-1;
    color: $white;
    border: 0;
    cursor: pointer;
    font-size: 36px;
    font-weight: 400;
    height: pem(65px, 36);
    width: pem(100px, 36);
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .enter-key {
    @include core-27;
  }

  .numpad-button {
    @include button($grey-1);
    @include core-36;

    padding: 0.1em 0 0 0;
  }

  .enter-button {
    @include button($grey-1);
    @include core-27;

    width: 100%;
    height: 100%;
    padding: 0.1em 0 0 0;
  }
}
