// Warm-up questions
.warm-up-questions-label {
  background-color: $govuk-blue;
  color: $white;
  padding:.526315em .789473em .263157em;
  font-size: 1em;
  font-weight: bold;
}

.practice-box {
  color: $white;
  background-color: $grey-1;
  display: inline-block;
  font-weight: bold;
  padding: pem(6px) pem(15px) pem(6px) pem(15px);
  text-transform: uppercase;
  width: auto;
}
