<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">The multiplication tables check service is currently closed</h1>
            <%- partial('partials/_gds_session_expiry') %>

            <p class="govuk-body">The multiplication tables check service opens in April 2026 for maintained schools, special schools and academies (including free schools) with year 4 pupils.</p>

            <p class="govuk-body">Further information is available on GOV.UK:
                <a href="https://www.gov.uk/government/collections/multiplication-tables-check" target="_blank" rel="noopener noreferrer">https://www.gov.uk/government/collections/multiplication-tables-check</a>
            </p>


            <% if (isAuthenticated) { %>
                <p><a class="govuk-link" href="/sign-out">Sign out</a></p>
            <% } %>
        </div>
        <div class="govuk-grid-column-one-third" aria-label="sidebar">
            <aside class="app-related-items" role="complementary">
                <h2 class="govuk-heading-m" id="subsection-title">
                    Related
                </h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            <a class="govuk-link" href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Read the guidance and watch videos</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</main>
