<app-header class="full-width"></app-header>
<main id="content" class="js-content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <header class="page-header">
                <h1 class="heading-xlarge" tabindex="0">Unable to connect</h1>
            </header>
            <div class="panel panel-border-wide" tabindex="0">
                Please contact the helpline on {{supportNumber}} for advice on how to upload the check.
            </div>
            <a routerLink="/check" class="button">
                Retry
            </a>
        </div>
    </div>
</main>