<app-header></app-header>

<main id="content" role="main">
  <div class="breadcrumbs">
    <ol class="list">
      <li><a href="/ict-survey/start">Home</a></li>
      <li aria-current="page">Privacy notice</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        2018 multiplication tables check ICT survey: privacy notice
      </h1>

      <p>Contents:</p>

      <div class="grid-row">
        <div class="column-full">
          <ul class="list list-contents">
            <li class="list-item-dashed"><a href="/ict-survey/privacy#overview">Overview</a></li>
            <li class="list-item-dashed"><a href="/ict-survey/privacy#legal">What is the legal basis for collecting and processing the data?</a></li>
            <li class="list-item-dashed"><a href="/ict-survey/privacy#collect">What data will be collected and who can access it?</a></li>
            <li class="list-item-dashed"><a href="/ict-survey/privacy#retain">Retaining personal data</a></li>
            <li class="list-item-dashed"><a href="/ict-survey/privacy#info">Further information</a></li>
          </ul>
        </div>
      </div>

      <h2 class="heading-small heading-contents" id="overview">Overview:</h2>

      <p>
        The Standards and Testing Agency (STA) is administering the multiplication tables check 
        (MTC) information communications technology (ICT) survey. The survey will involve a sample of schools in England, 
        and be undertaken over the period September - October 2018.
      </p>

      <p>
        STA will use the results of the survey to:
      </p>

      <ul class="list list-bullet">
        <li>
          understand the types and capacity of devices and systems/infrastructure in use in schools
        </li>

        <li>
          develop and refine the digital service for implementing live checks
        </li>
      </ul>

      <p>
        STA is the data controller for the survey and is responsible for determining how personal data 
        collected during the period will be treated. We will not publish the results of the survey, 
        and no individual school will be identified.
      </p>

      <p>
        With regards to data processing, STA is responsible for securely storing and handling any personal 
        data required to administer the survey. STA will securely dispose of this data in line with the requirements 
        of UK data protection legislation and the
        <a target="_blank" rel="noopener noreferrer" href="https://www.ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/">
          General Data Protection Regulation (GDPR)
        </a>.
      </p>

      <h2 class="heading-small heading-contents" id="legal">What is the legal basis for collecting and processing the data?</h2>

      <p>
        The legal basis for processing the personal data used and collected 
        during the 2018 MTC trial is covered by:
      </p>

      <ul class="list list-bullet">
        <li>
          _Data Protection Act 2018, Part 2 Chapter 2 Lawfulness of processing Section 8 (d), 
          which allows for when (data) processing is necessary for the exercise of a function of the Crown, 
          a Minister of the Crown or a government department.        
        </li>
        <li>
          _GDPR Article 6 (1) (e), which states that the processing is for the performance of a task carried out in the public 
          interest, or in the exercise of the data controller’s official authority, where the processing is necessary for the 
          exercise of a function of the Crown, a Minister of the Crown or a government department and is a proportionate means of 
          achieving a legitimate aim. This provision covers personal data.
        </li>
      </ul>

      <h2 class="heading-small heading-contents" id="collect">What data will be collected and who can access it?</h2>

      <p>
        STA will collect and hold school ICT infrastructure and system data and information gathered from the survey. This will include:
      </p>

      <ul class="list list-bullet">
        <li>
          School internet browser settings
        </li>
        <li>
          School internet connection speed
        </li>
        <li>
          ICT device type (if available)
        </li>
        <li>
          School ICT operating system
        </li>
        <li>
          ICT device screen width
        </li>
        <li>
          Any additional data or information provided on the online feedback form
        </li>
      </ul>

      <p>
        The MTC ICT survey is to be completed online by a selected sample of schools.
      </p>

      <p>
        Access to the survey results will be restricted to those STA employees who need to see the survey data to inform the 
        final design and development of the live MTC services. All data for the survey will be supplied in electronic data 
        files and sent by secure file transfer protocol (SFTP).
      </p>

      <p>
        No information or data collected during the trial will be transferred or stored outside of the European 
        Economic Area (EEA).
      </p>

      <p>
        STA handles personal data in accordance with the rights given to individuals under UK data protection legislation. 
        Data subjects have a right to see information held about them and STA will cooperate fully when a subject access 
        request is made.
      </p>

      <h2 class="heading-small heading-contents" id="retain">Retaining personal data</h2>

      <p>
        Data collected by STA will be retained for up to 6 months following the end of the survey, STA will destroy data and 
        permanently delete computer files from their systems. 
      </p>

      <p>
        STA will only keep personal data for as long as it is needed for the purposes of this project, after which point it will 
        be securely destroyed. Please note that, under Article 5(1)(e) GDPR 2018, and in compliance with the relevant conditions, 
        we can lawfully keep personal data processed purely for research purposes indefinitely.
      </p>

      <h2 class="heading-small heading-contents" id="info">Further information</h2>

      <p>
        If you have any queries about MTC trial data, please email 
        <a href="mailto:MTC.STA@education.gov.uk">MTC.STA@education.gov.uk</a>.
      </p>

      <p>
        STA, as an executive agency of the Department for Education (DfE), determines the purposes and means of processing personal 
        data as part of this project. You can find more information in the DfE’s        
        <a target="_blank" rel="noopener noreferrer" href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter">
          personal information charter
        </a>.
      </p>

      <p>
        You have the right to lodge a complaint about data protection issues with the Information Commissioner’s Office. 
        More information is available on the  
        <a target="_blank" rel="noopener noreferrer" href="https://www.ico.org.uk/concerns/">
          website
        </a>.
      </p>

      <p>&copy; Crown copyright 2018</p>

      <p class="top">
        <a href="/ict-survey/privacy#content">Back to top</a>
      </p>
    </div>

    <div class="column-one-third related">
    </div>
  </div>
</main>

<app-footer></app-footer>
