<app-header></app-header>

<main id="content" role="main">
  <div class="breadcrumbs">
    <ol class="list">
      <li><a href="">Home</a></li>
      <li aria-current="page"><a href="">Privacy notice</a></li>
    </ol>
  </div>
  
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        2018 multiplication tables check ICT survey: privacy notice
      </h1>
      <p>Contents:</p>
      <div class="grid-row">
        <div class="column-full">
          <ul class="list list-contents">
            <li class="list-item-dashed"><a href="/ict-survey/privacy#overview">Overview</a></li>
            <li class="list-item-dashed"><a href="/ict-survey/privacy#legal">What is the legal basis for collecting and processing the data?</a></li>
            <li class="list-item-dashed"><a href="/ict-survey/privacy#collect">What data will be collected and who can access it?</a></li>
            <li class="list-item-dashed"><a href="/ict-survey/privacy#retain">Retaining personal data</a></li>
            <li class="list-item-dashed"><a href="/ict-survey/privacy#info">Further information</a></li>
          </ul>
        </div>
      </div>

      <h2 class="heading-small heading-contents" id="overview">Overview:</h2>

      <p>
        OliveJar Digital is administering the multiplication tables check (MTC) ICT survey on behalf of 
        the Standards and Testing Agency (STA). The survey will take place in a sample of schools during September and October 2018.
      </p>
      <p>
        STA will use the results of the survey to: 
      </p>

      <ul class="list list-bullet">
        <li>
          understand the use of information and communications technology (ICT) in schools
        </li>
        <li>
          develop and refine the digital service for implementing live checks
        </li>
      </ul>
      <p>
        STA is the data controller for the survey and is responsible for determining how personal data 
        collected during the period will be treated. We will not publish the results of the survey, and 
        no individual school will be identified.
      </p>

      <p>
        As data processor, OliveJar Digital is responsible for securely storing and handling 
        any personal data required to administer the survey. They will securely dispose of 
        this data at the end of the MTC contract, in accordance with the agreement with STA, 
        and in line with the requirements of UK data protection legislation and the 
        <a href="www.ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/">
          General Data Protection Regulation (GDPR)
        </a>.
      </p>
      
      <h2 class="heading-small heading-contents" id="legal">What is the legal basis for collecting and processing the data?</h2>

      <p>
        The legal basis for processing the personal data used and collected during the 2018 MTC trial is covered by:
      </p>
      
      <ul class="list list-bullet">
        <li>
          Data Protection Act 1998, Schedule 2, section 5(c), which allows for when (data) processing is 
          necessary for the exercise of any functions of the Crown, a Minister of the Crown or a government department.
        </li>
        <li>
            GDPR Article 6 (1)(e), which states that the processing is for the performance of a task carried 
            out in the public interest, or in the exercise of the data controller’s official authority, where 
            the processing is necessary for the exercise of a function of the Crown, a Minister of the Crown or 
            a government department and is a proportionate means of achieving a legitimate aim. This provision 
            covers personal data.
        </li>
      </ul>

      <p>
        Schedule 1 of the Data Protection Bill, which is currently making its way through Parliament, further defines how this condition can be met.
      </p>

      <ul class="list list-bullet">
        <li>
          Schedule 1, part 2, 6 (1)(b) allows for when processing is necessary for reasons of substantial public interest. 
          Substantial public interest is defined by Schedule 1, part 2, 6 (2)(b) as being where the purpose is for the exercise 
          of a function of the Crown, a Minister of the Crown or a government department.
        </li>
      </ul>

      <h2 class="heading-small heading-contents" id="collect">What data will be collected and who can access it?</h2>

      <p>
        STA and OliveJar Digital will collect and hold data gathered from the survey. This includes:
      </p>

      <ul class="list list-bullet">
        <li>
          browser settings 
        </li>        
        <li>
          device type (if available)
        </li>
        <li>
          operating system
        </li>
        <li>
          screen width
        </li>
        <li>
          any additional data provided in the feedback form
        </li>
      </ul>

      <p>
        The MTC ICT survey is completed online by selected schools. Access to the completed survey results will be 
        restricted to those STA and OliveJar Digital employees who need to see the survey data. All data for the survey
         will be supplied in electronic data files and sent by secure file transfer protocol.
      </p>

      <p>
        No information gathered during the trial will be transferred or stored outside of the European Economic Area (EEA). 
        OliveJar Digital handles personal data in accordance with the rights given to individuals under UK data protection legislation.
         Data subjects have a right to see information held about them and OliveJar Digital will cooperate fully when a 
         subject access request is made of the data controller (in this instance, STA).
      </p>

      <h2 class="heading-small heading-contents" id="retain">Retaining personal data</h2>

      
      <p>
        Data collected by OliveJar Digital will be retained for up to 6 months following the end of the survey, as agreed by STA and OliveJar Digital.
         On STA’s approval, OliveJar Digital will destroy data and permanently delete computer files from their systems.
      </p>

      <p>
          STA will only keep personal data for as long as it is needed for the purposes of this project, 
          after which point it will be securely destroyed. Please note that, under section 33 of the Data Protection Act 1998,
          and in compliance with the relevant conditions, we can lawfully keep personal data processed purely for 
          research purposes indefinitely.
      </p>
      <h2 class="heading-small heading-contents" id="info">Further information</h2>

      
      <p>
        If you have any queries about MTC trial data, please email MTC.STA@education.gov.uk.
      </p>

      <p>
        STA, as an executive agency of the Department for Education (DfE), determines the purposes and means of processing personal data as part of this project. <a href="www.gov.uk/government/organisations/department-for-education/about/personal-information-charter">You can find more information in the DfE’s personal information charter</a>.
      </p>

      <p>
        You have the right to lodge a complaint about data protection issues with the Information Commissioner’s Office. More information is available on the <a href="www.ico.org.uk/concerns/">ICO website</a>.
      </p>

      <p>© Crown copyright 2018</p>

      <p class="top">
        <a href="/ict-survey/privacy#content">Back to top</a>
      </p>
    </div>

    <div class="column-one-third related">
      <div class="border"></div>
      <h2 class="heading-small heading-contents">Related</h2>
      <a href="{{linkCookies}}">Cookies</a>
    </div>

    

  </div>
</main>

<app-footer></app-footer>
