@import "../../shared-styles/elements/aa-variables.scss";

.multiple-choice {
  margin-bottom: 20px;
}

label {
  line-height: 28px;
}

.preview-box {
  border: 1px solid #6f777b;
  float: left;
  width: 500px;
  height: 350px;
  position: relative;
  margin: 10px 0 0 40px;

  > .badge {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #6f777b;
    display: inline-block;
    text-transform: uppercase;
    padding: 8px 15px;
    width: auto;
  }

  > .question-text {
    margin-top: 10%;
    text-align: center;
  }

  table {
    border-spacing: 10px;
    margin: auto;
  }

  > table button {
    background-color: #6f777b;
    border: none;
    color: #fff;
  }
}

.warning-box {
  float: left;
  width: 500px;
  height: 350px;
  background-color: rgba(0, 94, 165, 1);
  padding: 0;
  i {
    margin-left: 30px;
    top: 90px;
  }
  p {
    margin: 70px 40px 0 80px;
    font-size: 36px !important;
    color: #fff !important;
  }
}

@mixin font-settings($button-width, $button-height, $button-text-size) {

  > table button {
    width: $button-width;
    height: $button-height;
    font-size: $button-text-size;
    line-height: 1.1em;
  }

  > .badge {
    // force the font-size if someone is
    // viewing after setting a larger font
    font-size: 16px !important;
  }
}

.xsmall {
  @include font-settings($aa-numpad-button-width-xsmall, $aa-numpad-button-height-xsmall, $aa-numpad-button-number-size-xsmall);
}

.small {
  @include font-settings($aa-numpad-button-width-small, $aa-numpad-button-height-small, $aa-numpad-button-number-size-small);
}

.regular {
  @include font-settings($aa-numpad-button-width-regular, $aa-numpad-button-height-regular, $aa-numpad-button-number-size-regular);
}

.large {
  @include font-settings($aa-numpad-button-width-large, $aa-numpad-button-height-large, $aa-numpad-button-number-size-large);
}

.xlarge {
  @include font-settings($aa-numpad-button-width-xlarge, $aa-numpad-button-height-xlarge, $aa-numpad-button-number-size-xlarge);
}

.xxlarge {
  @include font-settings($aa-numpad-button-width-xxlarge, $aa-numpad-button-height-xxlarge, $aa-numpad-button-number-size-xxlarge);
}
