<%/*  Inactive Link
   *  Params:
   *    linkDescription - string - the text to show to the user
   *    linkUrl - string - the link that goes in the href attribute
   */%>
<h2 class="govuk-heading-s arrow-up">
    <a class="govuk-link" href="<%- linkUrl %>"><%= linkDescription %></a>
</h2>