# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2.1
orbs:
  browser-tools: circleci/browser-tools@1.4.1
jobs:
  unit_tests:
    working_directory: ~/repo/
    docker:
      - image: stamtc/mtc_circleci:latest
    environment:
      TZ: Europe/London
    steps:
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - checkout
      - restore_cache:
          key: v1-node-admin-deps-{{ checksum "admin/yarn.lock" }}
      - restore_cache:
          key: v1-node-pupil-spa-deps-{{ checksum "pupil-spa/yarn.lock" }}
      - restore_cache:
          key: v1-node-tslib-deps-{{ checksum "tslib/yarn.lock" }}
      - run: export NVM_DIR=${HOME}/.nvm && source ${NVM_DIR}/nvm.sh; cd admin; nvm use; yarn install --frozen-lockfile
      - run:
          name: Admin lint and ts compile
          command: export NVM_DIR=${HOME}/.nvm && source ${NVM_DIR}/nvm.sh; cd admin; nvm use; yarn lintAndBuild; rm -rf dist
      - run:
          name: Install JUnit coverage reporter for admin unit tests
          command: export NVM_DIR=${HOME}/.nvm && source ${NVM_DIR}/nvm.sh; cd admin; nvm use; yarn add --dev jest-junit
      - run:
          name: Admin unit tests with JUnit as reporter
          command: export NVM_DIR=${HOME}/.nvm && source ${NVM_DIR}/nvm.sh; cd admin; nvm use; ./node_modules/.bin/jest --ci --runInBand --reporters=default --reporters=jest-junit --collectCoverage=true
          environment:
            JEST_JUNIT_OUTPUT_DIR: "reports/junit/js-test-results.xml"
      - run: export NVM_DIR=${HOME}/.nvm && source ${NVM_DIR}/nvm.sh; cd pupil-spa;     nvm use; yarn install --frozen-lockfile
      - run: export NVM_DIR=${HOME}/.nvm && source ${NVM_DIR}/nvm.sh; cd pupil-spa;     nvm use; yarn run test-single
      - run: export NVM_DIR=${HOME}/.nvm && source ${NVM_DIR}/nvm.sh; cd tslib;         nvm use; yarn install --frozen-lockfile
      - run: export NVM_DIR=${HOME}/.nvm && source ${NVM_DIR}/nvm.sh; cd tslib;         nvm use; yarn test:throttle
      - run: export NVM_DIR=${HOME}/.nvm && source ${NVM_DIR}/nvm.sh; cd admin;         nvm use; yarn test:frontend
      - save_cache:
          key: v1-node-admin-deps-{{ checksum "admin/yarn.lock" }}
          paths:
            - ~/repo/admin/node_modules
      - save_cache:
          key: v1-node-pupil-spa-deps-{{ checksum "pupil-spa/yarn.lock" }}
          paths:
            - ~/repo/pupil-spa/node_modules
      - save_cache:
          key: v1-node-tslib-deps-{{ checksum "tslib/yarn.lock" }}
          paths:
            - ~/repo/tslib/node_modules
  validate_admin_gems:
    working_directory: ~/repo/
    docker:
      - image: stamtc/mtc_circleci_ruby
    environment:
        TZ: Europe/London
    steps:
      - checkout
      - restore_cache:
          key: v2-ruby-admin-hpa-deps-{{ checksum "test/admin-hpa/Gemfile.lock" }}
      - run: cd test/admin-hpa && ls -alR .
      - run: cd test/admin-hpa && bundle install --jobs=4 --retry=3 --path vendor/bundle
      - run: cd test/admin-hpa && bundle exec rake -T
      - save_cache:
          key: v2-ruby-admin-hpa-deps-{{ checksum "test/admin-hpa/Gemfile.lock" }}
          paths:
            - test/admin-hpa/vendor/bundle

  validate_pupil_gems:
    working_directory: ~/repo/
    docker:
      - image: stamtc/mtc_circleci_ruby
    environment:
      TZ: Europe/London
    steps:
      - checkout
      - restore_cache:
          key: v2-ruby-pupil-hpa-deps-{{ checksum "test/pupil-hpa/Gemfile.lock" }}
      - run: cd test/pupil-hpa && bundle install --jobs=4 --retry=3 --path vendor/bundle
      - run: cd test/pupil-hpa && bundle exec rake -T
      - save_cache:
          key: v2-ruby-pupil-hpa-deps-{{ checksum "test/pupil-hpa/Gemfile.lock" }}
          paths:
            - test/pupil-hpa/vendor/bundle

  docker_build_admin:
    working_directory: ~/repo/
    docker:
      - image: cimg/base:stable
    environment:
      TZ: Europe/London
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.17
      - run: cd admin && BUILDKIT=1 docker build .
      - run: docker images

  docker_build_pupil_spa:
    working_directory: ~/repo/
    docker:
      - image: cimg/base:stable
    environment:
      TZ: Europe/London
    steps:
      - checkout
      - setup_remote_docker:
            version: 20.10.17
      - run: cd pupil-spa && BUILDKIT=1 docker build .
      - run: docker images

  docker_build_pupil_api:
    working_directory: ~/repo/
    docker:
      - image: stamtc/mtc_circleci:latest
    environment:
      TZ: Europe/London
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.17
      - run: export NVM_DIR=${HOME}/.nvm && source ${NVM_DIR}/nvm.sh; cd ./pupil-api; nvm use; yarn build; BUILDKIT=1 docker build .
      - run: docker images

  docker_build_admin_assets:
    working_directory: ~/repo/
    docker:
      - image: stamtc/mtc_circleci:latest
    environment:
      TZ: Europe/London
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.17
      - run: export NVM_DIR=${HOME}/.nvm && source ${NVM_DIR}/nvm.sh; cd ./admin; nvm use; cd ../admin-assets; ./copy-assets.sh
      - run: cd admin-assets && BUILDKIT=1 docker build .
      - run: docker images

workflows:
  version: 2
  build_and_test:
    jobs:
      - unit_tests
      - validate_admin_gems
      - validate_pupil_gems
      - docker_build_admin
      - docker_build_admin_assets
      - docker_build_pupil_spa
      - docker_build_pupil_api
