# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    working_directory: ~/repo/
    docker:
      - image: circleci/node:10-browsers
    environment:
      TZ: Europe/London
    steps:
      - checkout
      - restore_cache:
          key: v1-node-admin-deps-{{ checksum "admin/yarn.lock" }}
      - restore_cache:
          key: v1-node-pupil-spa-deps-{{ checksum "pupil-spa/yarn.lock" }}
      - restore_cache:
          key: v1-node-pupil-api-deps-{{ checksum "pupil-api/yarn.lock" }}
      - restore_cache:
          key: v1-node-functions-app-deps-{{ checksum "functions-app/yarn.lock" }}
      - restore_cache:
          key: v1-node-tslib-deps-{{ checksum "tslib/yarn.lock" }}
      - run: cd admin; yarn install --frozen-lockfile
      - run:
          name: Admin lint and ts compile
          command: cd admin; yarn lintAndBuild; rm -rf dist
      - run:
          name: Install JUnit coverage reporter for admin unit tests
          command: cd admin; yarn add --dev jest-junit
      - run:
          name: Admin unit tests with JUnit as reporter
          command: cd admin; ./node_modules/.bin/jest --ci --runInBand --reporters=default --reporters=jest-junit --collectCoverage=true
          environment:
            JEST_JUNIT_OUTPUT_DIR: "reports/junit/js-test-results.xml"
      - run: cd pupil-spa; yarn install --frozen-lockfile
      - run: cd pupil-spa; yarn run test-single
      - run: cd pupil-api; yarn install --frozen-lockfile
      - run: cd pupil-api; yarn run test
      - run: cd functions-app; yarn install --frozen-lockfile
      - run: cd functions-app; yarn test
      - run: cd tslib; yarn install --frozen-lockfile
      - run: cd tslib; yarn test:throttle
      - run: cd admin; yarn test:frontend
      - save_cache:
          key: v1-node-admin-deps-{{ checksum "admin/yarn.lock" }}
          paths:
            - ~/repo/admin/node_modules
      - save_cache:
          key: v1-node-pupil-spa-deps-{{ checksum "pupil-spa/yarn.lock" }}
          paths:
            - ~/repo/pupil-spa/node_modules
      - save_cache:
          key: v1-node-pupil-api-deps-{{ checksum "pupil-api/yarn.lock" }}
          paths:
            - ~/repo/pupil-api/node_modules
      - save_cache:
          key: v1-node-functions-app-deps-{{ checksum "functions-app/yarn.lock" }}
          paths:
            - ~/repo/functions-app/node_modules
      - save_cache:
          key: v1-node-tslib-deps-{{ checksum "tslib/yarn.lock" }}
          paths:
            - ~/repo/tslib/node_modules

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
