<app-page-modifications>
  <app-header class="full-width"></app-header>
  <main id="content" class="js-content" role="main">
    <div class="grid-row">
      <div class="column-full">
        <div class="connectivity-description">
          <br>
          <app-svg-girl aria-hidden="true"></app-svg-girl>
          <app-svg-loading aria-hidden="true"></app-svg-loading>
          <span class="wait-text aa-lead-size" tabindex="0">
            Please wait
          </span>
        </div>
      </div>
    </div>
  </main>
</app-page-modifications>
