<div class="question-wrapper">
    <div class="question-header">
        <div *ngIf="isWarmUpQuestion" class="practice-box aa-copy-size aa-contrast-invert">practice</div>
        <div class="remaining-time aa-copy-size" id="js-page-time-settings">
            Time left: <span id="js-page-timer" class="bold timer aa-copy-size">{{remainingTime}}</span>
        </div>
        <div *ngIf="familiarisationCheck" class="familiarisation-title aa-copy-size"><!-- contents set in _check.scss --></div>
    </div>
    <div class="question-container">
        <form id="js-question-form" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="question-and-answer"><span class="question aa-question-size"><span *ngIf="shouldShowQuestion">{{ factor1 }} &times; {{ factor2 }} =</span></span>
                <div class="answer-container"><span class="answer aa-question-size aa-contrast-border" id="js-answer" [innerText]="answer"></span>
                    <div class="numpad-container" *ngIf="!config.numpadRemoval">
                        <table class="numpad" id="js-numpad">
                            <tr>
                                <td class="key js-key"><button type="button" class="numpad-button aa-contrast-invert" id="kb1" (click)="onClickAnswer(1, $event)"><span>1</span></button></td>
                                <td class="key js-key"><button type="button" class="numpad-button aa-contrast-invert" id="kb2" (click)="onClickAnswer(2, $event)"><span>2</span></button></td>
                                <td class="key js-key"><button type="button" class="numpad-button aa-contrast-invert" id="kb3" (click)="onClickAnswer(3, $event)"><span>3</span></button></td>
                            </tr>
                            <tr>
                                <td class="key js-key"><button type="button" class="numpad-button aa-contrast-invert" id="kb4" (click)="onClickAnswer(4, $event)"><span>4</span></button></td>
                                <td class="key js-key"><button type="button" class="numpad-button aa-contrast-invert" id="kb5" (click)="onClickAnswer(5, $event)"><span>5</span></button></td>
                                <td class="key js-key"><button type="button" class="numpad-button aa-contrast-invert" id="kb6" (click)="onClickAnswer(6, $event)"><span>6</span></button></td>
                            </tr>
                            <tr>
                                <td class="key js-key"><button type="button" class="numpad-button aa-contrast-invert" id="kb7" (click)="onClickAnswer(7, $event)"><span>7</span></button></td>
                                <td class="key js-key"><button type="button" class="numpad-button aa-contrast-invert" id="kb8" (click)="onClickAnswer(8, $event)"><span>8</span></button></td>
                                <td class="key js-key"><button type="button" class="numpad-button aa-contrast-invert" id="kb9" (click)="onClickAnswer(9, $event)"><span>9</span></button></td>
                            </tr>
                            <tr>
                                <td class="key js-key">
                                    <button type="button" id="kb-backspace" class="numpad-enter-button aa-contrast-invert" (click)="onClickBackspace($event)"><span>&#9003;</span></button>
                                </td>
                                <td class="key js-key"><button type="button" class="numpad-button aa-contrast-invert" id="kb0" (click)="onClickAnswer(0, $event)"><span>0</span></button></td>
                                <td class="key js-key"><button type="button" id="kb-enter" class="numpad-enter-button aa-contrast-invert" (click)="onClickSubmit($event)"><span>Enter</span></button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
