
<header class="page-header">
    <h1 class="heading-xlarge">Give feedback</h1>
</header>

<div class="grid-row">
    <div class="column-two-thirds">

        <% if (Object.getOwnPropertyNames(error).length > 0) { %>
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
            <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                There were some problems with your input
            </h1>
        </div>
        <% } %>

        <form action="/check/feedback" method="post">
            <h2 class="heading-medium no-top-margin">How did you enter your answers today?</h2>

            <div class="<% if (error.errors && error.errors.hasOwnProperty('inputType')) { %> form-group-error <% } else { %> form-group <% } %> text">
                <fieldset>
                    <legend class="visually-hidden">Overall, how did you find the multiplication tables check?
                    </legend>

                    <% if (error.errors && error.errors.hasOwnProperty('inputType')) { %>
                    <span class="error-message">
                        Please choose an option below
                    </span>
                    <% } %>

                    <%- partial('partials/multiple-choice-radios', {
                        elements: [
                            'Touchscreen',
                            'Mouse',
                            'Keyboard',
                            'Mix of the above'
                        ],
                        name: 'input-type',
                        selected: form['input-type']
                    }) %>

                </fieldset>
            </div>

            <br style="clear:both">

            <h2 class="heading-medium no-top-margin">How easy or difficult was it to enter your answers today?</h2>

            <div class="<% if (error.errors && error.errors.hasOwnProperty('satisfactionRating')) { %> form-group-error <% } else { %> form-group <% } %> text">
                <fieldset>
                    <legend class="visually-hidden">Overall, how did you find the multiplication tables check?
                    </legend>

                    <% if (error.errors && error.errors.hasOwnProperty('satisfactionRating')) { %>
                    <span class="error-message">
                        Please choose an option below
                    </span>
                    <% } %>

                    <%- partial('partials/multiple-choice-radios', {
                        elements: [
                            'Very easy',
                            'Easy',
                            'Neither easy or difficult',
                            'Difficult',
                            'Very difficult'
                        ],
                        name: 'satisfaction-group',
                        selected: form['satisfaction-group']
                    }) %>

                </fieldset>
            </div>

            <br style="clear:both">

            <div class="<% if (error.errors && error.errors.comment) {  %> form-group-error <% } else { %> form-group <% } %> text">
                <h2 class="heading-medium no-top-margin">What would make it better?</h2>

                <% if (error.errors  && error.errors.comment) { %>
                <span class="error-message">
                  <%= error.errors.comment.message %>
                </span>
                <% } %>

                <p>
                    <textarea name="comment" class="textarea form-control"><% if (form.comment) { %><%= form.comment %> %><% } %></textarea>
                    <br>
                    (Limit is 1200 characters)
                </p>
            </div>

            <br style="clear:both">

            <div class="form-group">
                <input type="submit" class="button" value="Send feedback">
            </div>

        </form>
    </div>
</div>
