<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl"><%= pageTitle %></h1>
      <%- partial('partials/_gds_session_expiry') %>
      <p class="govuk-body">
        This section will be available when all pupils have either completed the MTC or have a reason for not taking the check.
      </p>
      <p class="govuk-body">
        Provisional results will then be available when the check window has closed, and will become official at a later date.
      </p>
      <div class="govuk-back-to-top govuk-!-margin-top-9 govuk-!-margin-bottom-9">
        <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
          <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>Back to top
        </a>
      </div>
    </div>
    <div class="govuk-grid-column-one-third" aria-label="sidebar">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link" href="/attendance/declaration-form" rel="noopener noreferrer">Headteacher's declaration form</a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
</main>
