<%- partial('partials/_breadcrumbs_and_sign_out', { breadcrumbs }) %>

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge"><%= pageTitle %></h1>

    <%- partial('partials/_session_expiry') %>

    <p><span class="lede font-medium" id="lead-paragraph">To view results you must complete the headteacher’s declaration form.</span></p>
    <p>After the headteacher's declaration form has been submitted, this page will show individual pupil results from Monday 24th June.</p>
    <a class="button button-primary" href="/attendance/declaration-form">Go to Headteacher declaration form</a>
  </div>
</div>
<div class="back-to-top-container">
  <a href="#top">Back to top</a>
</div>
