.hide-checkbox-content {
  display: none;
}

.show-checkbox-content {
  margin-top: 10px;
  display: block;
  position: relative;
  .form-group {
    margin-bottom: govuk-em(-10px, $govuk-root-font-size);
  }
}

.access-arrangements-textarea {
  width: govuk-em(460px, $govuk-root-font-size);
}

.extra-space {
  margin-top: govuk-em(40px, $govuk-root-font-size);
}

#submitted-pupil-access-arrangements td {
  vertical-align: baseline;
}

.access-arrangements-list {
  width: govuk-em(230px, $govuk-root-font-size);
  line-height: govuk-em(30px, $govuk-root-font-size);
  > div {
    width: govuk-em(235px, $govuk-root-font-size);
  }
}
