.hide-checkbox-content {
  display: none;
}

.show-checkbox-content {
  margin-top: 10px;
  display: block;
  position: relative;
  .form-group {
    margin-bottom: pem(-10px);
  }
}

.access-arrangements-textarea {
  width: pem(460px);
}

.extra-space {
  margin-top: pem(40px);
}

#submitted-pupil-access-arrangements td {
  vertical-align: baseline;
}

.access-arrangements-pupil {
  text-decoration: underline;
}

.access-arrangements-list {
  width: pem(160px);
}

