.app-cookie-banner {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #0b0c0c;
  background-color: #d5e8f3;
  font-family: $govuk-font-family;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14286;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media print {
  .app-cookie-banner {
    font-family: $govuk-font-family;
  }
}

@media (min-width: 40.0625em) {
  .app-cookie-banner {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media print {
  .app-cookie-banner {
    font-size: 14pt;
    line-height: 1.2;
  }
}

@media print {
  .app-cookie-banner {
    color: #000000;
  }
}

.app-cookie-banner {
  display: none;
}

@media print {
  .app-cookie-banner {
    display: none !important;
  }
}
