.assigned-check-windows {
  font-family: $govuk-font-family;
  border-top: 1px solid govuk-colour('mid-grey');
  > dl {
    border-bottom: 1px solid govuk-colour('mid-grey');
    > dd {
      margin-inline-start: 0;
    }
  }
}

.check-window-period {
  margin: govuk-em(2px, $govuk-root-font-size) 0 0 0;
}

.assigned-forms-highlight {
  display: inline-table;
}

.divider {
  margin: govuk-em(20px, $govuk-root-font-size) 0;
}
