.assigned-check-windows {
  border-top: 1px solid $grey-2;
  > dl > dd {
    border-bottom: 1px solid $grey-2;
  }
}

.check-window-period {
  margin: pem(2px) 0 0 0;
}

.assigned-forms-highlight {
  display: inline-table;
}

.divider {
  margin: pem(20px) 0;
}
