// Boxes
.box-grey {
  background-color: $grey-3;
  display: block;
  position: relative;
  padding: $gutter-two-third;
  width: 100%;
  a {
    position: absolute;
    margin-left: 15px;
    margin-top: 0.6em;
  }
}

.box-light-grey {
  background-color: $grey-3;
  display: inline-block;
  padding: $gutter-one-third 0;
  width: 100%;
}
