// Boxes
.box-grey {
  display: block;
  position: relative;
  width: 100%;
  padding: $gutter-two-thirds;
  background-color: $grey-3;

  a {
    position: absolute;
    margin-top: .6em;
    margin-left: 15px;
  }
}

.box-light-grey {
  display: inline-block;
  width: 100%;
  padding: $gutter-two-thirds 0;
  background-color: $grey-3;
}

.box-successful {
  display: block;
  width: 100%;
  padding: $gutter-two-thirds;
  background-color: $turquoise;

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: $white;
    text-align: center;
  }
}
