// Breadcrumbs
.breadcrumbs {
  padding-top: $gutter-one-third;
  padding-bottom: $gutter-half;

  div {
    display: inline-block;
    font-size: medium;

    a {
      font-size: medium;
    }
  }
}

.breadcrumb-separator {
  color: $grey-2;
  font-weight: bold;
  margin-left: $gutter-one-third;
  margin-right: $gutter-one-third;
}