.custom-card {
  color: govuk-colour("white");
  text-align: center;
  cursor: pointer;
  display: inline-block;
  width: 150px;
  padding: 0;
  .custom-card-small-text {
    @include govuk-font(19);
    padding-bottom: 10px;
  }
  .custom-card-large-text {
    margin-top: 0;
    margin-bottom: 5px;
    @include govuk-font(36);
  }
}

.green-card {
  background-color: govuk-colour("green");
}

.orange-card {
  background-color: govuk-colour("orange");
}

.yellow-card {
  background-color: govuk-colour("yellow");
}

.blue-card {
  background-color: govuk-colour("blue");
}

.red-card {
  background-color: govuk-colour("red");
}
