// Check forms

#checkWindowList {
  td {
    text-align: left;

    &:first-child {
      white-space: nowrap;
    }

    &:last-child {
      text-align: right;
    }
  }
}

.icon-download {
  &:before {
    content: " ";
    background-image: url(/govuk_template/stylesheets/images/icon-file-download.png);
    background-size: 21px 26px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 26px;
    width: 30px;
    top: 6px;
    position: relative;
  }
}

dl.inline-definition-list {
  @include core-36;

  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;

  dd {
    @include core-36;

    float: left;
    margin: 0 0 1em 0;
    padding: 0;
    width: 90%;

    @include media(tablet) {
      width: 80%;
    }
    @include media(desktop) {
      width: 90%;
    }
  }

  dt {
    @include core-24;

    color: $grey-1;
    float: left;
    margin: 0;
    padding: 5px 0;
    width: 10%;

    @include media(tablet) {
      float: left;
      width: 20%;
    }

    @include media(desktop) {
      float: left;
      width: 10%;
    }
  }
}

.first-factor {
  display: inline-block;
  margin-left: pem(40px);
  margin-right: pem(6px);
  text-align: right;
  width: pem(17px);

  @include media(tablet) {
    margin-left: pem(10px);
  }

  @include media(mobile) {
    margin-left: pem(15px);
  }
}

.second-factor {
  display: inline-block;
  margin-left: pem(6px);
  text-align: left;
  width: pem(15px);
}

.equals-sign {
  margin-left: pem(5px);
  margin-right: pem(5px);

  @include media(tablet) {
    margin-left: pem(5px);
    margin-right: pem(5px);
  }
}

.fixed-result {
  display: inline-block;
  text-align: left;
}
