#checkWindowList {
  td {
    text-align: left;

    &:first-child {
      white-space: nowrap;
    }

    &:last-child {
      text-align: right;
    }
  }
}

#checkWindowsForm {
  @include media(mobile) {
    .button.button-secondary {
      margin-top: 10px;
    }
  }
}

.inline-group {
  display: inline-block;
  margin-bottom: pem(50px);
}

.start-date {
  float: left;
  margin-bottom: 0;
}

.end-date {
  float: left;
  margin-bottom: 0;
}

.separator {
  float: left;
  margin-top: pem(30px);
  margin-right: pem(15px);
}

.hint-spacious {
  margin-bottom: pem(5px);
  padding-top: pem(5px);
}
