// Check forms

#checkWindowList {
  td {
    text-align: left;

    &:first-child {
      white-space: nowrap;
    }

    &:last-child {
      text-align: right;
    }
  }
}

.icon-download {
  &:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 6px;
    width: 30px;
    height: 26px;
    background-image: url("/images/icon-file-download.png");
    background-repeat: no-repeat;
    background-size: 21px 26px;
  }
}

dl.inline-definition-list {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: govuk-em(12px, $govuk-root-font-size);

  dd {
    width: 90%;
    margin: 0 0 1em;
    padding: 0;
    float: left;
    font-size: govuk-em(36px, $govuk-root-font-size);
    @include govuk-media-query($from: tablet) {
      width: 80%;
    }
    @include govuk-media-query($from: desktop) {
      width: 90%;
    }
  }

  dt {
    width: 10%;
    margin: 0;
    padding: 5px 0;
    float: left;

    color: govuk-colour("dark-grey");
    font-size: 24px;

    @include govuk-media-query($from: tablet) {
      width: 20%;
      float: left;
    }

    @include govuk-media-query($from: desktop) {
      width: 10%;
      float: left;
    }
  }
}

.first-factor {
  display: inline-block;
  width: govuk-em(17px, $govuk-root-font-size);
  margin-right: govuk-em(6px, $govuk-root-font-size);
  margin-left: govuk-em(40px, $govuk-root-font-size);
  text-align: right;

  @include govuk-media-query($from: tablet) {
    margin-left: govuk-em(10px, $govuk-root-font-size);
  }

  @include govuk-media-query($from: mobile) {
    margin-left: govuk-em(15px, $govuk-root-font-size);
  }
}

.second-factor {
  display: inline-block;
  width: govuk-em(15px, $govuk-root-font-size);
  margin-left: govuk-em(6px, $govuk-root-font-size);
  text-align: left;
}

.equals-sign {
  margin-right: govuk-em(5px, $govuk-root-font-size);
  margin-left: govuk-em(5px, $govuk-root-font-size);

  @include govuk-media-query($from: tablet) {
    margin-right: govuk-em(5px, $govuk-root-font-size);
    margin-left: govuk-em(5px, $govuk-root-font-size);
  }
}

.fixed-result {
  display: inline-block;
  text-align: left;
}
