#checkWindowList {
  td {
    text-align: left;

    &:first-child {
      white-space: nowrap;
    }

    &:last-child {
      text-align: right;
    }
  }
}

#checkWindowsForm {
  @include govuk-media-query($until: mobile) {
    .button.button-secondary {
      margin-top: 10px;
    }
  }
}

.inline-group {
  display: table;
  margin-bottom: govuk-em(50px, $govuk-root-font-size);

  @include govuk-media-query($from: desktop) {
    width: 550px;
  }
  @include govuk-media-query($until: mobile) {
    width: 500px;
  }
}

.start-date {
  float: left;
  margin-bottom: 0;
}

.end-date {
  float: left;
  margin-bottom: 0;
  @include govuk-media-query($from: desktop) {
    margin-left: 20px;
  }
  @include govuk-media-query($until: mobile) {
    margin-left: 0;
  }
}

.date-input-separator {
  float: left;
  margin-top: govuk-em(30px, $govuk-root-font-size);
}

.hint-spacious {
  margin-bottom: govuk-em(5px, $govuk-root-font-size);
  padding-top: govuk-em(5px, $govuk-root-font-size);
}

.disabled-check-window-field {
  margin-top: govuk-em(10px, $govuk-root-font-size);
  margin-bottom: govuk-em(10px, $govuk-root-font-size);
}

.left-float {
  float: left;
}
