#checkWindowsForm {
  .button.button-secondary {
    margin-left: $gutter-half;
  }

  @include media(mobile) {
    .button.button-secondary {
      margin-top: 10px;
      margin-left: 0;
    }
  }
}
