.disabled-banner {
  margin: 0 govuk-em(5px, $govuk-root-font-size) 0 0;
  padding: govuk-em(2px, $govuk-root-font-size) govuk-em(10px, $govuk-root-font-size);
  color: #ffffff;
  background-color: govuk-colour("dark-grey");
  font-size: large;
  letter-spacing: 1px;
}

.warning-banner {
  margin: 0 govuk-em(5px, $govuk-root-font-size) 0 0;
  padding: govuk-em(2px, $govuk-root-font-size) govuk-em(10px, $govuk-root-font-size);
  color: #ffffff;
  background-color: govuk-colour("red");
  font-size: large;
  letter-spacing: 1px;
}
