.govuk-icon-download {
  &:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 6px;
    width: 30px;
    height: 26px;
    background-image: url("/images/icon-file-download.png");
    background-repeat: no-repeat;
    background-size: 21px 26px;
  }
}

.mtc-icon-download {
  &:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 6px;
    width: 30px;
    height: 26px;
    background-image: url("/images/custom-download-2.svg");
    background-repeat: no-repeat;
    background-size: 23px 25px;
  }
}
