// Filters

.filter-header {
  background-color: $panel-colour;
  padding: pem(8) pem(10) pem(4) pem(10)
}

.filter-label {
  font-weight: bold;
}

.filter-content {
  background-color: $panel-colour;
  padding: 0 pem(10) pem(10) pem(10);
}

#filterByGroup {
  background-color: white;
  padding: 10px;
  margin: 0;
}
