// Flash message
.info-message {
  border: 5px solid $green;
  padding: 1em;
  margin-top: 40px;
  color: $black;
  font-weight: bold;

  a,
  a:link,
  a:visited,
  a:active,
  a:hover {
    color: $green;
  }
  &.clickable {
    text-decoration: underline;
    color: $green;
  }
}

// Green border to highlight table cell content
.highlight-item {
  display: flex;

  &:before {
    content: '';
    border-left: 7px solid $green;
    display: table-cell;
    padding-left: 10px;
    margin-top: -5px;
    margin-bottom: -5px;
  }

  .highlight-wrapper {
    display: table-cell;
  }
}
