// Flash message
.govuk-info-message {
  padding: 1em;
  border: 5px solid govuk-colour("green");
  color: govuk-colour("black");
  font-weight: bold;

  a,
  a:link,
  a:visited,
  a:active,
  a:hover {
    color: govuk-colour("green");
  }

  &.clickable {
    color: govuk-colour("green");
    text-decoration: underline;
  }
}

.govuk-warning-message {
  margin-top: 40px;
  padding: 1em;
  border: 5px solid govuk-colour("red");
  color: govuk-colour("red");
  font-weight: bold;

  a,
  a:link,
  a:visited,
  a:active,
  a:hover {
    color: govuk-colour("red");
  }

  &.clickable {
    color: govuk-colour("red");
    text-decoration: underline;
  }
}

// Notification banners
// The standard for GDS is to use blue for system events, but MTC want a choice of colours.
.mtc-notification-banner-blue {
  @extend .govuk-notification-banner;
  border: 5px solid govuk-colour("blue");
  background-color: govuk-colour("blue");
}

.mtc-notification-banner-red {
  @extend .govuk-notification-banner;
  border: 5px solid govuk-colour("red");
  background-color: govuk-colour("red");
}

.mtc-notification-banner-orange {
  @extend .govuk-notification-banner;
  border: 5px solid govuk-colour("orange");
  background-color: govuk-colour("orange");
}

.mtc-notification-banner-green {
  @extend .govuk-notification-banner;
  border: 5px solid govuk-colour("green");
  background-color: govuk-colour("green");
}

// Green border to highlight table cell content
.govuk-highlight-item {
  display: flex;

  &:before {
    content: "";
    display: table-cell;
    margin-top: -5px;
    margin-bottom: -5px;
    padding-left: 10px;
    border-left: 7px solid govuk-colour("green");
  }

  .govuk-highlight-wrapper {
    display: table-cell;
  }
}

// Red border to display warning on table cell content
.govuk-warning-item {
  min-height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  border-bottom: none;
  border-left: 7px solid govuk-colour("red");

  .govuk-highlight-wrapper {
    display: table-cell;
  }
}

.govuk-green-panel {
  border-color: govuk-colour("green");

  div:first-child {
    margin-top: -15px;
  }
}

.mtc-service-message {
  @extend .govuk-body;

  a,
  a:link,
  a:visited,
  a:active,
  a:hover {
    color: govuk-colour("blue");
  }

  &.clickable {
    color: govuk-colour("blue");
    text-decoration: underline;
  }
}
