.govuk-form-button {
  display: inline;
}

.govuk-button-as-link {
  &.no-underline {
    text-decoration: none;
  }
  padding: 0;
  border: none;
  color: $govuk-link-colour;
  background: none;
  text-decoration: underline;
  cursor: pointer;
}
