.sort {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: govuk-em(8, $govuk-root-font-size) govuk-em(5, $govuk-root-font-size) 0 govuk-em(5, $govuk-root-font-size);
  border-color: govuk-colour("black") transparent transparent transparent;
}

.sort.up {
  border-width: 0 govuk-em(5, $govuk-root-font-size) govuk-em(8, $govuk-root-font-size) govuk-em(5, $govuk-root-font-size);
  border-color: transparent transparent govuk-colour("black") transparent;
}

table.spacious {
  &.sorting {
    font-size: govuk-em(14, $govuk-root-font-size);
  }
}

table.govuk-spacious,
table.govuk-spacious.sorting {
  a {
    span {
      margin-left: govuk-em(7, $govuk-root-font-size);

      span {
        font-size: govuk-em(12, $govuk-root-font-size);
        display: none;
      }
    }
  }
}

.tick-all-checkboxes {
  font-weight: normal;
}

body.js-enabled .tick-all-checkboxes.all-hide {
  display: none;
  visibility: hidden;
}


// Client side sorting
.sort-icon {
  position: relative;
}

.sort-icon:before,
.sort-icon:after {
  content: '';
  border: 5px solid transparent;
  right: govuk-em(-10px, $govuk-root-font-size);
  top: 45%;
  width: 0;
  height: 0;
  position: absolute;
}

.sort-icon:before {
  border-bottom-color: govuk-colour("black");
  margin-top: -9px;
}
.sort-icon:after {
  border-top-color: govuk-colour("black");
  margin-top: 2px;
}

.sort-icon.asc:before {
  border-width: 0 govuk-em(5, $govuk-root-font-size) govuk-em(8, $govuk-root-font-size) govuk-em(5, $govuk-root-font-size);
  border-color: transparent transparent govuk-colour("black") transparent;
  margin-top: govuk-em(-4px, $govuk-root-font-size);
}
.sort-icon.asc:after {
  border-top-color: transparent;
  margin-top: 0;
}

.sort-icon.desc:before {
  border-width: govuk-em(8, $govuk-root-font-size) govuk-em(5, $govuk-root-font-size) 0 govuk-em(5, $govuk-root-font-size);
  border-color: govuk-colour("black") transparent transparent transparent;
  margin-top: govuk-em(-4px, $govuk-root-font-size);
}
.sort-icon.desc:after {
  border-top-color: transparent;
  margin-top: 0;
}
