#groupList {
  .align-right a {
    text-decoration: underline;
  }
}

.group-pupil-count {
  font-size: 16px !important;
  font-family: $govuk-font-family;
  line-height: 1.6;
  margin-left: 3px;
}

