// Headers
.heading-border-top {
  border-top: 1px solid $black;
  padding-top: $gutter-and-a-half;
}

.heading-large-no-bold {
  @extend .heading-large;
  font-weight: normal;
}

.heading-xlarge {
  margin-top: $gutter-and-a-half;
  margin-bottom: $gutter-one-third;
}

.heading-xlarge-no-top-space {
  margin-top: 0;
  margin-bottom: $gutter-one-third;
}

h1 {
  padding-bottom: $gutter-one-third;

  &.error-summary-heading {
    font-size: 24px;
    padding-bottom: 0;
  }
}

h2 {
  &.error-summary-heading {
    font-size: 24px;
  }
}
