dl.key-value-list {
  padding: 0;
  float: left;
  border-bottom: 1px solid #999999;
}

.key-value-list dt {
  width: 10em;
  margin: 0;
  padding: 5px;
  float: left;
  clear: left;
  border-top: 1px solid #999999;
}

.key-value-list dd {
  width: 15em;
  margin: 0;
  padding: 5px;
  float: left;
  border-top: 1px solid #999999;
  font-weight: bold;
}
