a.govuk-disabled-link {
  color: govuk-colour("black");
  text-decoration: none;
  cursor: default;
  pointer-events: none;
}

input.govuk-link {
  display: block !important;
  margin: 0;
  padding: 0;
  border: none;
  color: $govuk-link-colour;
  background: none;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;

  &.govuk-remove-file {
    padding-top: govuk-em(10px, $govuk-root-font-size);
    font-size: medium;
  }
}

.govuk-pupil-error-template {
  display: block;
  margin: -5px;
}

.mtc-disabled-link {
  color: #666666;
}
