.single-column-list {
  margin-left: govuk-em(-4px, $govuk-root-font-size);
  overflow: visible;

  .multiple-choice {
    margin: govuk-em(4px, $govuk-root-font-size);
  }

  li {
    margin-top: govuk-em(10px, $govuk-root-font-size);
    overflow: visible;

    @include govuk-media-query($from: desktop) {
      width: 100%;
      float: left;
    }

    @include govuk-media-query($until: mobile) {
      margin-top: govuk-em(5px, $govuk-root-font-size);
    }
  }
}

.error-summary-list {
  word-break: break-word;
}

.govuk-list-item--dashed:before {
  content: "— ";
}
