// Radio buttons & checkboxes (new implementation uses 'div' rather than 'label')

.multiple-choice-mtc {
  display: block;
  float: right;
  clear: left;
  position: relative;

  padding: 0 5px;
  margin-bottom: $gutter-one-third;
  top: -11px;

  @include media(tablet) {
    float: right;
  }

  // Absolutely position inputs within div, to allow text to wrap
  input {
    position: absolute;
    cursor: pointer;
    left: -15px;
    top: 0;
    width: 38px;
    height: 38px;
    z-index: 1;

    // IE8 doesn’t support pseudoelements, so we don’t want to hide native elements there.
    @if ($is-ie == false) or ($ie-version == 9) {
      margin: 0;
      @include opacity(0);
    }
  }

  div {
    cursor: pointer;
    padding: 8px 0 9px 12px;
    display: block;

    // remove 300ms pause on mobile
    -ms-touch-action: manipulation;
    touch-action: manipulation;

    @include media(tablet) {
      float: left;
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }

  [type=checkbox] + div::before {
    content: "";
    border: 2px solid;
    background: transparent;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
  }

  [type=checkbox] + div::after {
    content: "";
    border: solid;
    border-width: 0 0 5px 5px;
    background: transparent;
    border-top-color: transparent;
    width: 17px;
    height: 7px;
    position: absolute;
    top: 10px;
    right: 8px;
    -moz-transform: rotate(-45deg); // Firefox 15 compatibility
    -o-transform: rotate(-45deg); // Opera 12.0 compatibility
    -webkit-transform: rotate(-45deg); // Safari 8 compatibility
    -ms-transform: rotate(-45deg); // IE9 compatibility
    transform: rotate(-45deg);
    @include opacity(0);
  }

  // Focused state
  [type=checkbox]:focus + div::before {
    @include box-shadow(0 0 0 3px $focus-colour);
  }

  // Selected state
  input:checked + div::after {
    @include opacity(1);
  }

  // Disabled state
  input:disabled {
    cursor: default;
  }

  input:disabled + div {
    @include opacity(0.5);
    cursor: default;
  }

  &:last-child,
  &:last-of-type {
    margin-bottom: 0;
  }
}

#tickAllCheckboxes {
  left: 15px;
}

.tick-all-boxes-nojs {
  display: table-cell;
  visibility: visible;
  margin-left: .5em;
}

.js-enabled .tick-all-boxes-nojs {
  display: none;
  visibility: hidden;
}

.tick-all-checkboxes-wrapper {
  display: flex;
  justify-content: flex-end;

  .multiple-choice-mtc {
    display: none;
    visibility: hidden;
  }

  @include media (desktop) {
    .multiple-choice-mtc {
      display: inline-block;
      visibility: visible;

      div {
        padding-left: $gutter-and-a-half;
      }
    }
  }
}

body .tick-all-checkboxes {
  display: none;
  visibility: hidden;
}

body.js-enabled .tick-all-checkboxes {
  display: table-cell;
  visibility: visible;
  white-space: nowrap;
}

// To sit multiple choice inputs next to each other, use .inline on parent
.inline .multiple-choice-mtc {
  clear: none;

  @include media (tablet) {
    margin-bottom: 0;
    margin-right: $gutter;
  }
}

// Checkbox list

ul.checkbox-list {
  margin-top: pem(15px);
  margin-left: pem(-35px);
  li:first-child {
    border-top: 1px solid $grey-2;
  }
  li {
    padding-bottom: pem(15px);
    padding-top: pem(15px);
    border-bottom: 1px solid $grey-2;
    .multiple-choice-mtc input {
      top: -20px;
    }
    .multiple-choice-mtc [type=checkbox]+div::before {
      top: -20px;
    }
    .multiple-choice-mtc [type=checkbox]+div::after {
      top: -10px;
    }
  }
}
