.attendance-code-list {
  overflow: hidden;

  li {
    overflow: hidden;
    margin-top: 15px;

    @include media(desktop) {
      width: 50%;
      float: left;
    }
  }
}

.panel-no-border.attendance-reasons {
  margin-top: 0;

  li {
    margin-bottom: 15px;

    ul > li {
      list-style-type: disc;
      margin-bottom: 5px;
    }
  }
}
