.attendance-code-list {
  overflow: hidden;
  margin-left: -4px;

  .multiple-choice {
    margin: 4px;
  }

  li {
    overflow: hidden;
    margin-top: 10px;

    @include media(desktop) {
      width: 50%;
      float: left;
    }

    @include media(mobile) {
      margin-top: 5px;
    }
  }
}

#pupils-not-taking-checks {
  .column-full {
    z-index: 1
  }
  .column-two-thirds {
    z-index: 2
  }
}

#pupilsList {
  th:nth-child(1),
  th:nth-child(2),
  th:nth-child(3) {
    width: auto;
  }

  td:nth-child(1),
  td:nth-child(2) {
    width: auto;
    white-space: normal;
  }
  td:nth-child(3) {
    width: 10%;
  }
}

.highlight-table-cell {
  border-left: 10px solid green;
  padding-left: 15px;
}
