// needs to be refactored for re-usability
@media print {
  #content {
    padding-bottom: 0;
  }
  .no-print{
    display: none;
  }
}

.pupil-print-table {
  table, td, tr {
    border-top: 1px dashed $black;
    border-bottom: 1px dashed $black;
    text-align: center;
    vertical-align: middle;
    margin-bottom: -1px;
    font-size: 16px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  tr.page
  {
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;
  }
  td {
    padding: 1em;
    strong {
      font-size: medium;
    }

    &.line-checktype {
      vertical-align: middle;
      text-align: center;
      padding: 0px;
      border-left: 1px solid $black;
      border-right: 1px solid $black;

      span {
        -ms-writing-mode: tb-rl;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        white-space: nowrap;
        padding: 0;
        margin: 0;
        font-size: 14px;
        width: 14px;
        font-weight: bold;
      }
    }

    &.line-empty {
      padding: 0.5em;
    }

    &.line-content {
      padding-right: pem(20px);
    }
  }
  .pupil-content {
    text-align: left;
    font-size: 12px;
    margin-bottom: pem(50px);
    margin-top: pem(20px);
  }
  .fullname {
    font-size: 22px;
    background: none;
    text-align: left;
    font-weight: bold;
    margin: 0;
  }
  .dob {
    color: $grey-1;
    margin-bottom: pem(-15px);
  }
  .information {
    font-size: 26px;
    background: none;
    text-align: left;
    font-weight: bold;
    margin: 0;
  }
  .label {
    font-size: 16px;
  }
  .pin-content {
    text-align: left;
    line-height: pem(5px);
    font-size: 12px;
    margin-bottom: pem(15px);
  }
  .qr {
    position: relative;
    left:12px;
    img {
      width: pem(100px);
      height: pem(100px);
      float: right;
      position: static;
      margin-top: -135px;
    }
  }
  .url {
    font-size: 16px;
    float: right;
    margin-left: pem(150px);
    position: static;
    margin-top: pem(-35px);
  }
}
