.pin-content {
  display: flex;
  margin-top: govuk-em(20px, $govuk-root-font-size);
  font-size: 12px;
  text-align: left;
  white-space: normal;
  align-items: flex-end;

  .information {
    width: auto;
    margin: 0 govuk-em(5px, $govuk-root-font-size);
    background: none;
    font-size: 26px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
  }

  .label {
    max-width: govuk-em(80px, $govuk-root-font-size);
    font-size: 16px;
  }

  .separator {
    padding: 0 govuk-em(30px, $govuk-root-font-size);
  }
}

.group-name {
  word-break: break-word;
}

.generate-additional-pins {
  a {
    display: inline-block;
    vertical-align: bottom;
  }
}
