.pin-content {
  text-align: left;
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  margin-top: pem(20px);
  white-space: normal;

  .information {
    font-size: 26px;
    background: none;
    text-align: left;
    font-weight: bold;
    margin: 0 pem(5px);
    width: auto;
  }
  .label {
    font-size: 16px;
    max-width: pem(80px);
  }
  .separator {
    padding: 0 pem(30px);
  }
}
