// Pupils list

.pupils-print-pins {
  font-size: .8em;
  padding-right: .5em;

  &:before {
    background-image: url('/images/icon-printer.png');
    background-repeat: no-repeat;
    content: " ";
    margin-left: .5em;
    margin-top: 12px;
    padding-left: .5em;
    padding-right: 1.5em;
  }
}

.pupil-name-container {
  margin-bottom: govuk-em(5px, $govuk-root-font-size);
  margin-top: govuk-em(5px, $govuk-root-font-size);
  position: relative;
}

// pupil listing indent highlighted lines as the 'highlight' is positioned absolutely
.indent {
  padding-left: 1em;
}

// pupil listing - hide exceptionally large names that overflow
.name-text-wrap {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-width: govuk-em(200px, $govuk-root-font-size);
}

// pupil form
.hide-age-content {
  display: none;
}

.panel, .warning-panel, .panel-no-border {
  margin-bottom: 0;
}

// Generated Pins list
.icon-custom-download {
  display:inline-block;
  white-space: nowrap;
  &:before {
    background-image: url('/images/custom-download.png');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    content: " ";
    padding-left: 28px;
  }
}

.school-pin-wrapper {
  padding-top: 15px;
}

.school-pin-pin {
  padding-top: 10px;
}

.pin-date,
.pupil-print-table .pupil-group strong {
  font-size: small;
}

.pupil-group {
  font-size: small;
  display: block;
}

// multiple pupils submission
// error container
.error-file-icon {
  float: left;
}

.error-csv-link {
  margin-top: govuk-em(10px, $govuk-root-font-size);
  display: inline-block;
  padding-left: govuk-em(10px, $govuk-root-font-size);
  padding-bottom: govuk-em(10px, $govuk-root-font-size);
}
