.pupil-census-uploaded-file {
  border-top: 1px solid govuk-colour('mid-grey');
  border-bottom: 1px solid govuk-colour('mid-grey');
  display: inline-flex;
  min-width: 100%;
  > dd {
    padding-top: govuk-em(10px, $govuk-root-font-size);
    padding-bottom: govuk-em(10px, $govuk-root-font-size);
    > span:first-child {
      display:inline-block;
      word-wrap: break-word;
      width: govuk-em(120px, $govuk-root-font-size);
    }
  }
}

.job-status {
  min-width: govuk-em(255px, $govuk-root-font-size);
  margin-left: govuk-em(100px, $govuk-root-font-size);
}

.job-status-value {
  margin-left: govuk-em(85px, $govuk-root-font-size);
}

.job-remove {
  margin-left: govuk-em(50px, $govuk-root-font-size);
}

.no-file-uploaded {
  width: govuk-em(500px, $govuk-root-font-size);
}
