// Pupils list
.pupils-list div {
  margin-left: $gutter-one-third;
}

.pupils-list label {
  padding-bottom: 0;
  padding-top: 0;
  a {
    display: inline;
    left: 16em;
    position: absolute;
  }
}

.pupils-print-pins {
  font-size: .8em;
  padding-right: .5em;

  &:before {
    background-image: url('/images/icon-printer.png');
    background-repeat: no-repeat;
    content: " ";
    margin-left: .5em;
    margin-top: 12px;
    padding-left: .5em;
    padding-right: 1.5em;
  }
}

.width-60 {
  @include media(mobile) {
    width: 60%;
  }
}

/* Add/edit form */

.upn-text {
  margin-top: 20px;

  a {
    text-decoration: none;
  }

  div {
    margin-left: 15px;
    margin-top: 15px;
  }
}

.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 12px 6px;
  border-color: transparent transparent $govuk-blue transparent;
}

.triangle.down {
  border-width: 12px 6px 0 6px;
  border-color: $govuk-blue transparent transparent transparent;
}
