// Pupils list
.pupils-list div {
  margin-left: $gutter-one-third;
}

.pupils-list label {
  padding-bottom: 0;
  padding-top: 0;
  a {
    display: inline;
    left: 16em;
    position: absolute;
  }
}

.pupils-print-pins {
  font-size: .8em;
  padding-right: .5em;

  &:before {
    background-image: url('/images/icon-printer.png');
    background-repeat: no-repeat;
    content: " ";
    margin-left: .5em;
    margin-top: 12px;
    padding-left: .5em;
    padding-right: 1.5em;
  }
}

.width-60 {
  @include media(mobile) {
    width: 60%;
  }
}

#register-pupils {
  table-layout: fixed;

  // @TODO: to be deleted
  //td {
  //  padding-top: pem(10px);
  //  padding-bottom: pem(10px);
  //}
}

.pupil-name-container {
  margin-bottom: pem(5px);
  margin-top: pem(5px);
  position: relative;
}

// @TODO: to be deleted
//.table-cell {
//  padding-left: pem(10px);
//  padding-right: pem(10px);
//}

// @TODO: to be deleted
// Pupil listing - highlight pupils
//.highlight {
//  border-left: 7px solid $green;
//  height: 80%;
//  left: 0;
//  position: absolute;
//  right: 7px;
//  top: 10%;
//  width: 7px;
//}

// @TODO: To be deleted
// pupil listing - centering method using padding
//.pupil-name {
//  padding-bottom: 0.4em;
//  padding-top: 0.4em;
//}

// pupil listing indent highlighted lines as the 'highlight' is positioned absolutely
.indent {
  padding-left: 1em;
}

// pupil listing - hide exceptionally large names that overflow
.truncate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// @TODO: to be deleted
//.two-thirds {
//  width: 66%;
//}

// Add multiple pupil

.icon-file-download {
  width: 22px;
  height: 29px;
  background-size: cover;
}

.icon-file-download.pupils-template {
  display:inline-block;
  vertical-align:middle;
  margin-right: 6px;
}

// @TODO: To be deleted
//.template-link {
//  cursor: pointer;
//}

.panel, .warning-panel, .panel-no-border {
  margin-bottom: 0;
}

// Generated Pins list

.icon-custom-download {
  display:inline-block;
  white-space: nowrap;
  &:before {
    background-image: url('/images/custom-download.png');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    content: " ";
    padding-left: 28px;
  }
}

.school-pin-wrapper {
  padding-top: 15px;
}

.school-pin-pin {
  padding-top: 10px;
}
