// Pupils list
.pupils-list div {
  margin-left: $gutter-one-third;
}

.pupils-list label {
  padding-bottom: 0;
  padding-top: 0;
  a {
    display: inline;
    left: 16em;
    position: absolute;
  }
}

.pupils-print-pins {
  font-size: .8em;
  padding-right: .5em;

  &:before {
    background-image: url('/images/icon-printer.png');
    background-repeat: no-repeat;
    content: " ";
    margin-left: .5em;
    margin-top: 12px;
    padding-left: .5em;
    padding-right: 1.5em;
  }
}

.width-60 {
  @include media(mobile) {
    width: 60%;
  }
}

#register-pupils {
  table-layout: fixed;

  td {
    padding-top: pem(10px);
    padding-bottom: pem(10px);
  }
}

.pupil-name-container {
  margin-bottom: pem(5px);
  margin-top: pem(5px);
  position: relative;
}

.table-cell {
  padding-left: pem(10px);
  padding-right: pem(10px);
}

// Pupil listing - highlight pupils
.highlight {
  border-left: 7px solid $green;
  height: 80%;
  left: 0;
  position: absolute;
  right: 7px;
  top: 10%;
  width: 7px;
}

// pupil listing - centering method using padding
.pupil-name {
  padding-bottom: 0.4em;
  padding-top: 0.4em;
}

// pupil listing indent highlighted lines as the 'highlight' is positioned absolutely
.indent {
  padding-left: 1em;
}

// pupil listing - hide exceptionally large names that overflow
.truncate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.two-thirds {
  width: 66%;
}
