// Pupils list
.pupils-list div {
  margin-left: $gutter-one-third;
}

.pupils-list label {
  padding-bottom: 0;
  padding-top: 0;
  a {
    display: inline;
    left: 16em;
    position: absolute;
  }
}

.pupils-print-pins {
  font-size: .8em;
  padding-right: .5em;

  &:before {
    background-image: url('/images/icon-printer.png');
    background-repeat: no-repeat;
    content: " ";
    margin-left: .5em;
    margin-top: 12px;
    padding-left: .5em;
    padding-right: 1.5em;
  }
}

.width-60 {
  @include media(mobile) {
    width: 60%;
  }
}

.pupil-name-container {
  margin-bottom: pem(5px);
  margin-top: pem(5px);
  position: relative;
}

// pupil listing indent highlighted lines as the 'highlight' is positioned absolutely
.indent {
  padding-left: 1em;
}

// pupil listing - hide exceptionally large names that overflow
.truncate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.panel, .warning-panel, .panel-no-border {
  margin-bottom: 0;
}

// Generated Pins list

.icon-custom-download {
  display:inline-block;
  white-space: nowrap;
  &:before {
    background-image: url('/images/custom-download.png');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    content: " ";
    padding-left: 28px;
  }
}

.school-pin-wrapper {
  padding-top: 15px;
}

.school-pin-pin {
  padding-top: 10px;
}
