.pin-content {
  text-align: left;
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  margin-top: pem(20px);
  white-space: normal;

  .information {
    font-size: 26px;
    background: none;
    text-align: left;
    font-weight: bold;
    margin: 0 pem(5px);
    width: auto;
    line-height: 1;
  }
  .label {
    font-size: 16px;
    max-width: pem(80px);
  }
  .separator {
    padding: 0 pem(30px);
  }
}

.generate-additional-pins {
  padding-top: pem(10px);
  form {
    display: inline-block;
  }

  a {
    display: inline-block;
    vertical-align: bottom;
    padding: 0 pem(10px);
  }
}
