.pin-content {
  text-align: left;
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  margin-top: govuk-em(20px, $govuk-root-font-size);
  white-space: normal;

  .information {
    font-size: 26px;
    background: none;
    text-align: left;
    font-weight: bold;
    margin: 0 govuk-em(5px, $govuk-root-font-size);
    width: auto;
    line-height: 1;
  }
  .label {
    font-size: 16px;
    max-width: govuk-em(80px, $govuk-root-font-size);
  }
  .separator {
    padding: 0 govuk-em(30px, $govuk-root-font-size);
  }
}

.generate-additional-pins {
  a {
    display: inline-block;
    vertical-align: bottom;
  }
}
