#select-pupils-restart {
  .panel.panel-border-wide {
    padding: 0 govuk-em(10px, $govuk-root-font-size);
  }
}
.restart-pupil-name {
  max-width: govuk-em(150px, $govuk-root-font-size);
  min-width: govuk-em(135px, $govuk-root-font-size);
}
.restart-reason {
  max-width: govuk-em(150px, $govuk-root-font-size);
   min-width: govuk-em(135px, $govuk-root-font-size);
 }
.restart-status {
  max-width: govuk-em(150px, $govuk-root-font-size);
  min-width: govuk-em(135px, $govuk-root-font-size);
}

.hide {
  display: none;
}

input[type=radio]:checked ~ .hide {
  display: block;
  position: relative;
  margin-top: govuk-em(25px, $govuk-root-font-size);
  margin-left: govuk-em(-35px, $govuk-root-font-size);
  .form-group {
    margin-bottom: govuk-em(-10px, $govuk-root-font-size);
  }
}

.restart-reason-info {
  min-width: govuk-em(380px, $govuk-root-font-size);
}

.link-button {
  padding-left: 0;
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 19px;
  color: $govuk-link-colour;
}

.link-button:visited {
  color: $govuk-link-visited-colour;
}

.link-button:hover {
  color: $govuk-link-hover-colour;
}

.link-button:active {
  color: $govuk-link-hover-colour;
}
