// Results

#results {
  table-layout: fixed;
}

.score-presenter {
  margin-bottom: govuk-em(35px, $govuk-root-font-size);
  > dd {
    display: inline-block;
    width: 47%;
    > h3:first-child {
      border-bottom: 1px solid govuk-colour("mid-grey") govuk-em(12px, $govuk-root-font-size);
      padding-bottom: govuk-em(10px, $govuk-root-font-size);
      margin-right: govuk-em(20px, $govuk-root-font-size);
    }
    > div {
      margin-top: govuk-em(10px, $govuk-root-font-size);
    }
  }
}

th:nth-child(1) {
  width: 50%;
}

th:nth-child(2) {
  width: 20%;
}

th:nth-child(3) {
  width: 30%;
}

.score-col {
  white-space: pre;
}
