.restart-list {
  overflow: hidden;
  margin-left: pem(-4px);

  .multiple-choice {
    margin: pem(4px);
  }

  li {
    overflow: hidden;
    margin-top: pem(10px);

    @include media(desktop) {
      width: 100%;
      float: left;
    }

    @include media(mobile) {
      margin-top: pem(5px);
    }
  }
}

label:hover {
  text-decoration: underline
}
.hide {
  display: none;
}

input[type=radio]:checked ~ .hide {
  display: block;
  position: relative;
  margin-top: pem(60px);
  margin-left: pem(-35px);
  .form-group {
    margin-bottom: pem(-10px);
  }
}

#didNotCompleteInfo {
  padding-bottom: pem(5px);
  min-width:pem(380px);
}
