.restart-list {
  overflow: visible;
  margin-left: pem(-4px);

  .multiple-choice {
    margin: pem(4px);
  }

  li {
    overflow: visible;
    margin-top: pem(10px);

    @include media(desktop) {
      width: 100%;
      float: left;
    }

    @include media(mobile) {
      margin-top: pem(5px);
    }
  }
}

#register-pupils {
  .highlight-item::before {
    display: table-cell;
  }
}

#select-pupils-restart {
  .panel.panel-border-wide {
    padding: 0 pem(10px);
  }
}
.restart-pupil-name {
  max-width: pem(150px);
  min-width: pem(135px);
}
.restart-reason {
  max-width: pem(150px);
   min-width: pem(135px);
 }
.restart-status {
  max-width: pem(150px);
  min-width: pem(135px);
}

.hide {
  display: none;
}

input[type=radio]:checked ~ .hide {
  display: block;
  position: relative;
  margin-top: pem(60px);
  margin-left: pem(-35px);
  .form-group {
    margin-bottom: pem(-10px);
  }
}

.restart-reason-info {
  min-width:pem(380px);
}

#classDisruptionInfo {
  margin-bottom: pem(20px);
}

.link-button {
  padding-left: 0;
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 19px;
  color: $link-colour;
}

.link-button:visited {
  color: $link-visited-colour;
}

.link-button:hover {
  color: $link-hover-colour;
}

.link-button:active {
  color: $link-hover-colour;
}
