// Sign-out

#sign-out {
  font-family: $govuk-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: medium;
  text-decoration: none;
  float: right;
  padding-top: 10px;
  padding-bottom: 15px;
}

.signed-in-as {
  font-family: $govuk-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: medium;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-right: 20px;
  float: right;
}
