.sort {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: pem(8) pem(5) 0 pem(5);
  border-color: $black transparent transparent transparent;
}

.sort.up {
  border-width: 0 pem(5) pem(8) pem(5);
  border-color: transparent transparent $black transparent;
}

table.spacious {
  &.sorting {
    font-size: pem(14);
  }
}

table.spacious,
table.spacious.sorting {
  a {
    span {
      margin-left: pem(7);

      span {
        font-size: pem(12);
        display: none;
      }
    }
  }
}

.tick-all-checkboxes {
  font-weight: normal;
}

body.js-enabled .tick-all-checkboxes.all-hide {
  display: none;
  visibility: hidden;
}
