.sort {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: pem(10px) pem(6px) 0 pem(6px);
  border-color: $black transparent transparent transparent;
}

.sort.up {
  border-width: 0 pem(6px) pem(10px) pem(6px);
  border-color: transparent transparent $black transparent;
}

table.spacious {
  &.sorting {
    font-size: pem(14px);

    a {
      span {
        margin-left: pem(7px);

        span {
          font-size: pem(12px);
          display: none;
        }
      }
    }
  }
}

.tick-all-checkboxes {
  font-weight: normal;
}

body.js-enabled .tick-all-checkboxes.all-hide {
  display: none;
  visibility: hidden;
}
