.govuk-organisation-container {
  padding-top: 0;
  padding-bottom: 25px;
}

.govuk-organisation-logo {
  padding: 20px 0 0 6px;
  border-left: 2px solid govuk-organisation-colour("department-for-education");
  background-image: url("/images/org_crest_13px.png");
  background-repeat: no-repeat;
  background-position: 5px top;
  background-size: auto 20px;
  font-family: Helvetica, Arial;
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;

  @include govuk-media-query($until: tablet) {
    padding: 25px 0 0 7px;
    border-width: 2px;
    background-image: url("/images/org_crest_18px.png");
    background-position: 6px top;
    background-size: auto 25px;
    font-size: 18px;
    line-height: 20px;
  }

  @include govuk-media-query($from: desktop) {
    padding: 40px 0 0 10px;
    border-width: 3px;
    background-image: url("/images/org_crest_27px.png");
    background-position: 6px top;
    background-size: auto 40px;
    font-size: 27px;
    line-height: 30px;
  }
}

.govuk-organisation-logo.home {
  margin-top: $govuk-gutter - ($govuk-gutter / 3);
}

//  Logo
.govuk-logo-text {
  padding-top: 5px;
}
