<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
        What do these reasons mean?
    </span>
    </summary>
    <div class="govuk-details__text">
        <dl class="govuk-panel-list">
            <dt>
                <div><strong>Absent</strong></div>
                <div>Pupil did not take the check due to absence.</div>
            </dt>
            <dt>
                <div><strong>Incorrect registration</strong></div>
                <div>Pupil has been incorrectly included in the pupil register.</div>
            </dt>
            <dt>
                <div><strong>Just arrived with EAL</strong></div>
                <div>Pupil with English as an additional language (EAL) has arrived during the check period and there
                    isn't enough time to establish their abilities.
                </div>
            </dt>
            <dt>
                <div><strong>Left school</strong></div>
                <div>Pupil has left the school.</div>
            </dt>
            <dt>
                <div><strong>Unable to access</strong></div>
                <div>Pupil is unable to access the check. This may be due to a physical disability or behavioural,
                    emotional or social difficulties.
                </div>
            </dt>
            <dt>
                <div><strong>Working below expectation</strong></div>
                <div>Headteachers should use their knowledge of each pupil when considering whether it's appropriate to
                    administer the check.
                    The headteacher should consider entering any pupils who know, apply and understand the matters,
                    skills and processes specified in the key stage 1 programme of study in relation to multiplication
                    tables.
                </div>
            </dt>
        </dl>
    </div>
</details>
