<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
        What do these reasons mean?
    </span>
    </summary>
    <div class="govuk-details__text">
        <dl class="govuk-panel-list">
            <dt>
                <div><strong>Absent during the check window</strong></div>
                <div>Pupil is absent and therefore the school are unable to administer the check during the 3-week check window.</div>
            </dt>
            <dt>
                <div><strong>Incorrect registration</strong></div>
                <div>Pupil appears in error on the pupil register.</div>
            </dt>
            <dt>
                <div><strong>Just arrived and unable to establish abilities</strong></div>
                <div>
                  Pupil has arrived in school during the check window and there is not enough time to establish their abilities - for example, pupils with English as an additional language (EAL).
                </div>
            </dt>
            <dt>
                <div><strong>Left school</strong></div>
                <div>Pupil has left the school.</div>
            </dt>
            <dt>
                <div><strong>Unable to access</strong></div>
                <div>Pupil is unable to access the check even when using suitable access arrangements.</div>
            </dt>
            <dt>
                <div><strong>Working below expectation</strong></div>
                <div>
                  Pupils who are unable to answer the easiest questions or are working below the national curriculum expectation for <a class="govuk-link" target="_blank" rel="noopener noreferrer" href="http://www.gov.uk/government/publications/national-curriculum-in-england-mathematics-programmes-of-study">year 2 in multiplication tables</a>.
                </div>
            </dt>
        </dl>
    </div>
</details>
