<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary govuk-!-margin-top-5">
    <span class="govuk-details__summary-text">
        What do these reasons mean?
    </span>
    </summary>
    <div class="govuk-details__text">
        <dl class="govuk-panel-list">
            <dt>
                <div><strong>Absent during the whole check window</strong></div>
                <div>Pupil did not take the check due to absence during the check window.</div>
            </dt>
            <dt>
                <div><strong>Incorrect registration</strong></div>
                <div>Pupil has been incorrectly included in the pupil register.</div>
            </dt>
            <dt>
                <div><strong>Just arrived and unable to establish abilities</strong></div>
                <div>
                    Pupil has arrived during the check window and there isn't enough time to establish their abilities.
                    This may be for example a pupil with English as an additional language
                    and not being able to communicate with the pupil.
                </div>
            </dt>
            <dt>
                <div><strong>Left school</strong></div>
                <div>Pupil has left the school.</div>
            </dt>
            <dt>
                <div><strong>Unable to access</strong></div>
                <div>Pupil is unable to access the check. This may be due to a physical disability or behavioural,
                    emotional or social difficulties.
                </div>
            </dt>
            <dt>
                <div><strong>Working below expectation</strong></div>
                <div>
                    Headteachers should use their knowledge of each pupil to decide
                    whether it is appropriate for them to take the check.
                    Consider omitting pupils who do not possess the skills specified in the key stage 1 programme of study
                    for multiplication tables.
                    For example, pupils who cannot recall their 2, 5 and 10 times tables.
                </div>
            </dt>
        </dl>
    </div>
</details>
