<div class="grid-row no-print">
    <div class="column-one-half">
      <div class="breadcrumbs">
          <% if (breadcrumbs && Array.isArray(breadcrumbs)) { %>
              <% const totalBreadcrumb = (breadcrumbs.length - 1) %>
              <% breadcrumbs.forEach( (b, index) => { %>
                  <% if (b) { %>
                  <div>
                      <% if (b.url) { %>
                          <a href="<%= b.url %>"><%= b.name %></a>
                      <% } else { %>
                          <%= b.name %>
                      <% } %>
                      <% if ((index+1) <= totalBreadcrumb) { %>
                      <span class="breadcrumb-separator">&gt;</span>
                      <% } %>
                  </div>
                  <% } %>
              <% }); %>
          <% } %>
      </div>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>