<main id="content" role="main">
    <a name="top" id="top"></a>
    <div class="phase-banner no-print">
        <p aria-describedby="beta-service">
            <span id="beta-service"><strong class="phase-tag">BETA</strong>This is a new service – your <a target="_blank" rel="noopener noreferrer" href="https://www.smartsurvey.co.uk/s/MTCTrial3SchoolSurvey/">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <%- body %>
</main>
