<main id="content" role="main">
    <div class="phase-banner no-print">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a target="_blank" href="http://www.smartsurvey.co.uk/s/mtc-trial-june-2017/">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <%- body %>
</main>
