<p>The Multiplication tables check service uses cookies to make the site simpler. <a href="<%= govukRoot %>/help/cookies">Find out more about cookies</a>
<a id="close-cookie-message" href="#" class="float-right">Close this message</a></p>
