<h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="<%= govukRoot %>/help/cookies">Cookies</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/privacy">Privacy notice</a></li>
  <li>Built by the <a href="https://www.gov.uk/government/organisations/standards-and-testing-agency">Standards and Testing Agency</a></li>
</ul>
