<% if (typeof countingLabel == 'undefined') { countingLabel = 'Pupils' } %>
<div class="govuk-sticky-banner-wrapper no-print" id="stickyBanner">
    <div id="content">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half first-half">
                <span class="govuk-body"><%= countingLabel %> selected: <span id="totalPupilsSelected"></span></span>
            </div>
            <div class="govuk-grid-column-one-half">
                <button id="stickyConfirm" data-prevent-double-click="true" class="govuk-button govuk-form-button govuk-!-margin-bottom-0" type="button" data-module="govuk-button">
                    <%= submitLabel %>
                </button>
                <button id="stickyCancel" type="button" onclick="window.location.replace('<%= cancelLink %>')" class="govuk-button govuk-button--secondary govuk-form-button govuk-!-margin-bottom-0" data-module="govuk-button">
                    <%= cancelLabel %>
                </button>
            </div>
        </div>
    </div>
</div>

<% if (typeof submitPrint !== 'undefined') { %>
    <script>
      $('#stickyConfirm').click(function (event) {
        event.preventDefault();
        window.MTCAdmin.printPopup.hideUncheckedPupils('.pupil-print-table');
        window.print();
      });
    </script>
<% } %>
