<div class="app-cookie-banner js-cookie-banner" id="global-cookie-message">
  <p class="govuk-width-container">
    The Multiplication tables check service uses cookies to make the site simpler.
    <a href="/cookies" class="govuk-link">Find out more about cookies</a> or <a id="close-cookie-message" href="#">hide this message</a>
  </p>
</div>
