<% if (isAuthenticated) { %>
<div id="sign-out">
    <a href="/sign-out" class="govuk-!-font-size-16">Sign out</a>
</div>
<% if (typeof user != 'undefined') { %>
<div class="signed-in-as govuk-!-font-size-16">Signed in as <%= user.displayName %></div>
<% } %>
<% } %>
