<% if (isAuthenticated) { %>
<div id="sign-out">
    <a class="govuk-link" href="/sign-out">Sign out</a>
</div>
<% if (typeof user != 'undefined') { %>
<div class="signed-in-as">Signed in as <%= user.displayName %></div>
<% } %>
<% } %>
