<div class="header-proposition">
    <div class="content">
        <nav id="proposition-menu">
            <a href="/" title="" id="proposition-name">
                Multiplication Tables Check
            </a>
            <% if (isAuthenticated) {%><span id="sign-out">
                <a href="/sign-out">Sign out</a>
            </span>
            <% } %>
        </nav>
    </div>
</div>
