<div class="header-proposition">
    <div class="content">
        <nav id="proposition-menu">
            <span id="proposition-name">
                Multiplication Tables Check
            </span>
        </nav>
    </div>
</div>
