<% if (availabilityData.hdfSubmitted && !user.role === roles.staAdmin) { %>
    <div class="govuk-body govuk-info-message govuk-!-margin-bottom-7">
        Currently unavailable. This section is now read only.
    </div>
<% } else if(availabilityData.adminWindowClosed) { %>
    <div class="govuk-body govuk-info-message govuk-!-margin-bottom-7">
        Currently unavailable as the Multiplication tables check window <% if(availabilityData.checkWindowYear){ %>for <%= availabilityData.checkWindowYear %><% } %> has closed.
    </div>
<% } %>
