<% if (isAuthenticated) { %>
    <div class="error-session-expiration error-summary top-padding-30" role="group" aria-labelledby="error-summary-1">
        <p>Your session will expire in 5 minutes.</p>
        <p>Would you like to continue this session?</p>

        <p><button class="button" id="continue-session-expiration">Yes</button></p>
    </div>
<% } %>
