<div class="grid-row">
    <div class="column-full">
        <div class="sticky-banner-wrapper" id="stickyHeader">
            <div>
                <a href="<%= cancelLink %>" class="button-secondary" id="stickyCancel">Cancel</a>
                <input type="submit" class="button" value="Confirm" id="stickyConfirm" disabled="disabled">
            </div>
        </div>
    </div>
</div>
