<div class="grid-row">
    <div class="column-full">
        <div class="sticky-banner-wrapper" id="stickyHeader">
            <div>
                <a href="#" class="button-secondary">Cancel</a>
                <input type="submit" class="button" value="Confirm">
            </div>
        </div>
    </div>
</div>
