<% if (typeof countingLabel == 'undefined') { countingLabel = 'Pupil(s)' } %>
<div class="sticky-banner-wrapper" id="stickyBanner">
    <div id="sticky-content">
        <div class="grid-row">
            <div class="column-half first-half">
                <%= countingLabel %> selected: <span id="totalPupilsSelected"></span>
            </div>
            <div class="column-half">
                <input type="submit" class="button" value="<%= submitLabel %>" id="stickyConfirm">
                <a href="<%= cancelLink %>" class="button-secondary" id="stickyCancel"><%= cancelLabel %></a>
            </div>
        </div>
    </div>
</div>
