<div class="column-one-third sidebar" role="group" aria-label="sidebar">
    <aside role="complementary" class="support-column">
        <h3 class="heading-medium">Related</h3>
        <nav role="navigation">
            <ul class="list">
                <li>
                    <a href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Guidance (PDF)</a>
                </li>
            </ul>
        </nav>
    </aside>
</div>