<div class="grid-row">
    <div class="column-full">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row" aria-describedby="lead-paragraph">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Multiplication tables check for service managers</h1>
        <ol class="list">
            <li>
                <h2 class="heading-small"><a href="/service-manager/check-windows">Manage check windows</a></h2>
                <p>Create and edit check administration windows</p>
            </li>

            <li>
                <h2 class="heading-small"><a href="/service-manager/check-settings">Settings on pupil check</a></h2>
                <p>Change the settings within the pupil check</p>
            </li>

            <li>
                <h2 class="heading-small"><a href="#">Settings on school pages</a></h2>
                <p>Change the settings within the school pages</p>
            </li>

            <li>
                <h2 class="heading-small"><a href="#">Manage access arrangements</a></h2>
                <p>Approve or reject access arrangement requests</p>
            </li>

            <li>
                <h2 class="heading-small"><a href="#">Manage restart requests</a></h2>
                <p>Approve or reject restart requests</p>
            </li>

            <li>
                <h2 class="heading-small"><a href="#">View progress reports</a></h2>
                <p>View reports of this check window</p>
            </li>
        </ol>
    </div>

    <div class="column-one-third sidebar" aria-label="sidebar">
        <aside role="complementary" class="support-column">
            <h3 class="heading-medium">Related</h3>
            <nav role="navigation">
                <ul class="list">
                    <li>
                        <a href="/PDFs/MTC_administration_guidance_June-2017-trial.pdf" target="_blank">Guidance</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>
