<div class="grid-row">
    <div class="column-full">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row" aria-describedby="lead-paragraph">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Multiplication tables check for service managers</h1>

        <%- partial('partials/_session_expiry') %>

        <ol class="list">
            <% const hrefValue = isNewCheckWindow ? '/check-window/manage-check-windows' : '/service-manager/check-windows' %>
            <li>
                <h2 class="heading-small"><a href="<%= hrefValue %>">Manage check windows</a></h2>
                <p>Create, edit or remove check windows</p>
            </li>
            <li>
                <h2 class="heading-small"><a href="/service-manager/upload-pupil-census">Upload pupil census</a></h2>
                <p>Enter pupil data into the check</p>
            </li>
            <li>
                <h2 class="heading-small"><a href="/service-manager/check-settings">Settings on pupil check</a></h2>
                <p>Change the settings within the pupil check</p>
            </li>

            <li>
                <h2 class="heading-small"><a href="#">Settings on school pages</a></h2>
                <p>Change the settings within the school pages</p>
            </li>
            <li>
                <h2 class="heading-small"><a href="#">View progress reports</a></h2>
                <p>View reports of this check window</p>
            </li>
        </ol>
    </div>

    <div class="column-one-third sidebar" aria-label="sidebar">
        <aside role="complementary" class="support-column">
            <h3 class="heading-medium">Related</h3>
            <nav role="navigation">
                <ul class="list">
                    <li>
                        <a href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Guidance</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>
