<div class="heading-block">
    <header class="page-header">
            <div class="organisation-logo">
                <div class="logo-text">Standards<br>&amp; Testing<br>Agency</div>
            </div>
    </header>
</div>




<div class="grid-row">
    <div class="column-two-thirds">
        <div>
            <header class="page-header">
                <h1 class="heading-xlarge" >
                    Welcome to multiplication tables check ICT survey</h1>
            </header>
        </div>

        <p class="lede">
            Thank you for participating in this survey about schools' information and communications technology (ICT)
            equipment. We need to understand the devices that pupils are likely to use when taking the multiplication tables
            check.
        </p>

        <div class="panel panel-border-wide">
            <p>
                Please complete this survey on a device you would use to administer the multiplication tables check.
            </p>
        </div>

        <p>
            After a short connection test, you will have the opportunity to preview the multiplication tables check and
            provide feedback on your experience.
        </p>

        <details role="group">
            <summary role="button"><span class="summary">More detail</span></summary>
            <div>
                <p>
                    We will determine your:
                <ul class="list list-bullet">
                    <li>connection speed</li>
                    <li>operating system</li>
                    <li>browser type</li>
                </ul>
                </p>
                <p>
                    During this process, random data files will be downloaded, held temporarily and then deleted. Any
                    data
                    returned will be anonymised.
                </p>
            </div>
        </details>

        <div class="group">
            <p>
                <a class="button button-start" role="button" href="/check/connection" style="margin-top: 1.12em">Start
                    now</a>
            </p>
        </div>
    </div>

</div>