<br style="clear: both">
<header class="page-header">
    <h1 class="heading-xlarge">Practice completed</h1>
</header>
<div class="grid-row">
    <div class="column-two-thirds">
        <p class="lede">
            You have completed the practice questions.<br /><br />
            Press ‘Begin check’ when you are ready to start the check. There will be {{count}} questions.
        </p>
        <div>
            <button type="button" class="button" id="start-now-button" (click)="onClick()">
                Begin Check
            </button>
        </div>
    </div>
</div>
