<p class="govuk-body govuk-!-font-weight-bold">
    <span class="govuk-warning-text__icon warning-text__icon-small" aria-hidden="true">!</span>
    The check window has now closed. <a href="/pupils-not-taking-the-check/pupils-list">Confirm pupils not taking the
        check</a>. You can then sign the HDF.
</p>
