<details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Steps to take
        </span>
    </summary>
    <div class="govuk-details__text">
        <dl class="govuk-panel-list">
            <dt>
                <div><strong>Either log into the device that pupil used</strong></div>
                <div>
                    <dl>
                        <dt>Step 1</dt>
                        <dd>Log into the device this pupil used to take the check and the Live MTC should send through automatically.</dd>
                    </dl>
                    <dl>
                        <dt>Step 2 <dt/>
                        <dd>Check this pupil status page to see if this pupil is now listed as 'Complete'. If not follow the instructions below</dd>
                    </dl>
                </div>
            </dt>
            <dt>
                <div><strong>or restart check for pupil</strong></div>
                <div>
                    <dl>
                        <dt>Step 1</dt>
                        <dd>Go to the <a href="/restart/select-restart-list">Restart</a> page to create a restart for the pupil.</dd>
                    </dl>
                    <dl>
                        <dt>Step 2</dt>
                        <dd><a href="/pupil-pin/generate-live-pins-overview">Generate a new PIN</a> for the pupil to take the check again.</dd>
                    </dl>
                </div>
            </dt>
        </dl>
    </div>
</details>
