<details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Steps to take
        </span>
    </summary>
    <div class="govuk-details__text">
        <div><strong>Either log into the device that pupil used</strong></div>
        <ol class="govuk-list govuk-list--number">
            <li>Log into the device this pupil used to take the check and the Live MTC should send through automatically.</li>
            <li>Check this pupil status page to see if this pupil is now listed as 'Complete'. If not follow the instructions below.</li>
        </ol>
        <div><strong>or restart check for pupil</strong></div>
        <ol class="govuk-list govuk-list--number">
            <li>Go to the <a href="/restart/select-restart-list">Restart</a> page to create a restart for the pupil.</li>
            <li><a href="/pupil-pin/generate-live-pins-overview">Generate a new PIN</a> for the pupil to take the check again.</li>
        </ol>
    </div>
</details>
