<details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Steps to take
    </span>
    </summary>
    <div class="govuk-details__text">
        This pupil has been removed from the MTC register and will not be taking the check.
        This can be changed by going to the <a class="govuk-link" href="/pupils-not-taking-the-check/pupils-list" rel="noopener noreferrer">remove pupils from register</a> page
    </div>
</details>
