<% if (status === 'Processing' ) { %>
<details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Steps to take
        </span>
    </summary>
    <div class="govuk-details__text">
        This check is being processed, come back later for confirmation of pupil status
    </div>
</details>
<% } %>
