
<header class="page-header">
    <h1 class="heading-xlarge">Confirmation required</h1>
</header>

<p class="text">
    Please note that by clicking through to the next page the check will
    start and you will be given 5 seconds to answer the question.
</p>

<a class="button" href="/check/question/1" role="button">Start the check</a>