<header class="page-header">
    <h1 class="heading-xlarge">Warm-up completed</h1>
</header>
<div class="grid-row">
    <div class="column-two-thirds">
        <p class="lede">
            You have completed the warm-up questions. Press ‘Start check’ when you are ready to start the real check.
        </p>
        <div>
            <form method="post" action="/check/start-check" name="start-check">
                <input type="submit" class="button button-start" id="start-now-button" value="Start check">
            </form>
        </div>
    </div>
</div>
