<main id="content" class="nojs-content" role="main">
    <%- partial('partials/_phase_banner') %>

    <div class="grid-row">

        <div class="column-two-thirds">
            <header class="page-header ">
                <h1 class="heading-xlarge">Please enable Javascript</h1>
            </header>

            <div class="panel panel-border-wide alert">
                Javascript is disabled in your web browser. You will need to enable it to use the multiplication tables check.
            </div>

            <p class="top-padding">To solve this issue:</p>

            <ol class="list list-number">
                <li>Contact IT administrator in your school</li>
                <li>Contact STA service desk
                    <p class="top-padding">
                        Telephone:<br />
                        <strong>0300 3033013</strong>
                    </p>
                </li>
            </ol>

            <p>
                <div>Opening times:</div>
                <div>8:00am to 6:00pm, Monday to Friday</div>
            </p>
        </div>

        <div class="column-one-third"></div>

    </div>
</main>
