{
  "extends": [
    "standard-with-typescript",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "root": true,
  "env": {
    "node": true
  },
  "rules": {
    "no-return-await": "off",
    "object-shorthand": "off"
  },
  "ignorePatterns": [
    "assets/javascripts/jquery-3.5.1.js",
    "assets/vendor-js/*",
    "dist/",
    "public/"
  ]
}
