<app-header class="full-width"></app-header>
<main id="content" class="js-content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <header class="page-header">
        <h1 tabindex="0">Loading error</h1>
      </header>
      <br />
      <div class="notice">
        <strong class="visually-hidden">Warning</strong>
        <app-svg-warning></app-svg-warning>
        <strong>
          Please tell your teacher
        </strong>
      </div>
      <br />
      <details>
        <summary><span class="summary">Instructions for teachers</span></summary>
        <div class="panel no-border">
          <p><strong>{{serviceErrorMessage}}</strong></p>
          <p>You may proceed to sign in, but pupils may not be able to sign in and data from this device may not be collected.</p>
          <p>To ensure the system is working correctly, please follow these steps:</p>
          <ol class="list list-number">
            <li>Advise your school’s administrators to enable the school’s network and web browser configuration, to allow this website to communicate securely over the TLS 1.2 protocol.
              This is typically enabled by default, but it may have been disabled by your network administrators.
            </li>
            <li>
              Advise your school’s internet network team to ensure the following are accessible or whitelisted:
              <div>
                *.windows.net - for data submission <br />
                *.azurewebsites.net - for pupil authentication
              </div>
            </li>
            <br />
            <li>If you need further assistance please contact our helpline:
              <div class="panel panel-border-wide">
                <div class="bold-small">National curriculum assessments helpline</div>
                <div>Telephone: 0300 303 3013</div>
                <div>Email: assessments@education.gov.uk</div>
                <div>Monday to Friday, 9am to 5pm</div>
              </div>
            </li>
          </ol>
          <br />
          <a routerLink="/sign-in" class="button ultrawider" id="sign-in-button">
            Sign in
          </a>
        </div>
      </details>
    </div>
  </div>
</main>
<app-footer></app-footer>
