<div class="question-header">
  <div class="practice-box aa-copy-size aa-contrast-invert">practice</div>
  <div *ngIf="familiarisationCheck" class="familiarisation-title aa-copy-size"><!-- contents set in _check.scss --></div>
</div>

<div class="preload" id="js-preload-div">
  <div>
    <p id="js-loading" class="text-center aa-lead-size">
      Practice question {{question.sequenceNumber}}&hellip;
    </p>
    <button
      type="button"
      class="item-center button button-start"
      id="goButton"
      (click)="this.sendTimeoutEvent()"
    >
      Go
    </button>
  </div>
</div>
