<header class="page-header">
  <h1 class="heading-xlarge" tabindex="0">What to expect</h1>
</header>

<div>
  <ul class="text list list-bullet" tabindex="0">
    <li>There will be <strong>3 practice questions</strong>.</li>
    <li>Then there will be <strong>{{count}} questions</strong>.</li>
    <li>Each question will show for <strong>{{questionTime}} seconds</strong>.</li>
  </ul>

  <div>
    <p>
      <button class="button" (click)="onClick()" role="button" id="start-now-button">Go to practice questions</button>
    </p>
  </div>
</div>
