<div class="grid-row">
    <div class="column-two-thirds">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-third">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Multiplication tables check for test development</h1>

        <%- partial('partials/_session_expiry') %>

        <ol class="list">
            <li>
                <h2 class="heading-small"><a href="/test-developer/upload-and-view-forms">Upload and view forms</a></h2>
                <p>Add, view, remove and edit check forms</p>
            </li>

            <li>
                <h2 class="heading-small"><a href="/test-developer/assign-form-to-window">Assign forms to check windows</a></h2>
                <p>Select uploaded forms and assign them to check windows</p>
            </li>

            <li>
                <h2 class="heading-small"><a href="/test-developer/download-pupil-check-data">Download pupil check data</a></h2>
                <p>Generate and download detailed raw pupil check data</p>
            </li>
        </ol>
    </div>

    <div class="column-one-third sidebar" aria-label="sidebar">
        <aside role="complementary" class="support-column">
            <h3 class="heading-medium">Related</h3>
            <nav role="navigation">
                <ul class="list">
                    <li>
                        <a href="<%- guidancePdf %>" target="_blank" rel="noopener noreferrer">Guidance</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>
