<% let err = (typeof error !== 'undefined') ? error : false; %>

<div class="grid-row">
    <div class="column-one-half">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-half">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds check-forms">

        <% if (error) { %>
            <% if (error.hasOwnProperty('message')) { %>
            <div class="error-summary" role="group" aria-labelledby="error-summary-heading-1">
                <h2 class="heading-medium error-summary-heading" id="error-summary-heading-1" tabindex="0">
                    <%= error.message %>
                </h2>

                <p>The form upload spreadsheet:</p>

                <ul class="list list-bullet">
                    <li> must be in CSV format</li>
                    <li> must only contain 2 columns</li>
                    <li> must not have a header row</li>
                    <li> must only contain numbers between 1 and 12</li>
                </ul>

                <ul class="error-summary-list">
                    <li><a href="#file-upload">Please try uploading a file again</a></li>
                </ul>
            </div>
            <% } %>
        <% } %>

        <h1 class="heading-xlarge">Upload new form</h1>
        <h2 class="heading-medium">Download example</h2>

        <ol class="numeric-list">
            <li>
                Download the example
                <div class="panel panel-border-wide">
                    <a href="/CSVs/MTC-Pupil-details-template-Sheet-1.csv" class="heading-small icon-download">Check form example</a> (CSV file)
                </div>
            </li>
            <li>Open file in a programme like Excel, OpenOffice or Google Sheets</li>
            <li>Add check questions using the given format</li>
            <li>Save as a CSV file on your computer</li>
            <li>Select 'Choose file' button and navigate to the file on your computer</li>
            <li>Choose the file(s) to upload</li>
        </ol>

        <h2 class="heading-medium">Upload file(s)</h2>

        <form action="/test-developer/upload-new-form" method="post" enctype="multipart/form-data" id="upload-form">
            <div class="form-group<% if (err) { %> form-group-error<% } %>">
                <% if (err) { %>
                <label class="error-message"><%= err.message %></label>
                <% } %>
                <div class="font-xsmall">
                    <input type="file" name="csvFile" id="file-upload" accept="text/csv" aria-label="Choose a file to upload">
                </div>
                <input type="reset" class="link remove-file" id="removeUploadedFile" value="Remove file" aria-label="Remove uploaded file." />
            </div>

            <div class="form-group">
                <input type="submit" class="button" id="upload-form-submit" value="Upload" disabled="disabled" />
                <a href="/test-developer/upload-new-form" class="button-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
