<app-header class="full-width"></app-header>
<app-page-modifications>
<main id="content" class="js-content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <div *ngIf="isAAUser" class="back-link-wrapper">
              <a routerLink="/sign-out" class="back-link">Back</a>
            </div>
            <header class="page-header">
                <h1 *ngIf="isAAUser" class="heading-xlarge" tabindex="0">Is this you?</h1>
                <h1 *ngIf="!isAAUser" class="heading-xlarge" tabindex="0">Welcome, {{ pupil.firstName }}</h1>
            </header>
            <div class="notice" tabindex="0">
                <i class="icon icon-important">
                    <span class="visually-hidden">Warning</span>
                </i>
                <strong class="bold-small">
                    Do not press 'Next' if this is not you,
                    <a routerLink="/sign-out">sign out</a>
                </strong>
            </div>
            <br />
            <p id="first-name" class="lede" tabindex="0">First name: <strong
                class="bold-medium"
            >
              {{pupil.firstName}}
            </strong></p>
            <p id="last-name" class="lede" tabindex="0">Last name: <strong
                class="bold-medium"
            >
              {{pupil.lastName}}
            </strong></p>
            <p id="dob" class="lede" tabindex="0">Date of birth: <strong
                class="bold-medium"
            >
                {{pupil.dob}}
            </strong></p>
            <p id="school" class="lede" tabindex="0">School: <strong
                class="bold-medium"
            >
                {{school.name}}
            </strong></p>
          <button class="button" (click)="onClick()">Next</button>
        </div>
    </div>
</main>
</app-page-modifications>
