<app-header class="full-width"></app-header>
<main id="content" class="js-content" role="main">
  <div class="grid-row">
    <div *ngIf="testSuccessful" class="column-full">
      <header class="page-header">
          <h1 class="heading-xlarge" tabindex="0">Completed successfully</h1>
      </header>
      <p class="lede">
        Thank you for participating in the connection test.
      </p>
      <p class="lede">
        Please leave <a routerLink="/ict-survey/feedback">feedback</a> about your connection.
      </p>
      <a routerLink="/check-start" class="button">Preview multiplication tables check</a>
    </div>
    <div *ngIf="!testSuccessful" class="column-full">
      <header class="page-header">
          <h1 class="heading-xlarge" tabindex="0">Unsuccessful</h1>
      </header>
      <p class="lede">
        We're sorry, something went wrong and we weren't able to gather the connection data. 
        Please leave <a routerLink="/ict-survey/feedback">feedback</a> about what happened. 
      </p>
      <p class="lede">
        Feel free to <a routerLink="/ict-survey/test">retry </a> to connection test.
      </p>
      <a routerLink="/check-start" class="button">Preview multiplication tables check</a>
    </div>
  </div>
</main>
