<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Accessibility statement</h1>
            <%- partial('partials/_gds_session_expiry') %>
            <p class="govuk-body">
                We're constantly working to make the multiplication tables check (MTC) accessible and user-friendly for all
                pupils, regardless of physical, cognitive or emotional impairment.
            </p>

            <p class="govuk-body">
                You can read a <a class="govuk-link" target="_blank" rel="noopener noreferrer" href="https://accessibility.blog.gov.uk/">
                    blog about accessibility</a> <img alt="" src="/images/icon-link.png"/> on GOV.UK.
            </p>

            <h3 class="govuk-heading-m">Our commitment to accessibility</h3>

            <p class="govuk-body">
                The Standards and Testing Agency is committed to making websites accessible, in accordance with The Public
                Sector Bodies (Websites and Mobile Applications) Accessibility Regulations 2018.
            </p>

            <p class="govuk-body">This accessibility statement applies to the MTC:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>pupil site</li>
                <li>teacher site</li>
            </ul>

            <h3 class="govuk-heading-m">Conformance status</h3>

            <p class="govuk-body">
                We seek to ensure that all aspects of the service meet the
                <a class="govuk-link" target="_blank" rel="noopener noreferrer" href="https://www.w3.org/WAI/standards-guidelines/wcag/">
                    Web Content Accessibility Guidelines (WCAG)</a> <img alt="" src="/images/icon-link.png"/>
                2.1 at Level AA. The MTC is partially conformant with WCAG 2.1 level AA.
            </p>

            <p class="govuk-body">Partially conformant means that some parts of the content do not fully conform to the accessibility standard.</p>

            <h3 class="govuk-heading-m">Pupil site</h3>

            <p class="govuk-body">The MTC does not support third-party screen readers due to compatibility issues with the timed element of the check.</p>

            <p class="govuk-body">
                To address this, MTC provides a number of access arrangements that can be applied to the pupil check. The following
                table shows which access arrangements are compatible with each device.
            </p>

            <table class="govuk-table govuk-spacious govuk-!-font-size-16">
                <thead class="govuk-table__head">
                <tr>
                    <th>Access arrangement</th>
                    <th>Recommended browser/device</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Audible time alert</td>
                    <td>Not compatible with IE11</td>
                </tr>
                <tr>
                    <td>Colour contrast</td>
                    <td>Any browser/device</td>
                </tr>
                <tr>
                    <td>Font size</td>
                    <td>Any browser/device</td>
                </tr>
                <tr>
                    <td>Input assistance</td>
                    <td>Any browser/device</td>
                </tr>
                <tr>
                    <td>'Next' button between questions</td>
                    <td>Any browser/device</td>
                </tr>
                <tr>
                    <td>Question reader</td>
                    <td>Not recommended for IOS 9.3 <br /> Not compatible with IE11</td>
                </tr>
                <tr>
                    <td>Remove on-screen number pad</td>
                    <td>Any browser/device (External keyboard required for tablets)</td>
                </tr>
                </tbody>
            </table>

            <h3 class="govuk-heading-m">Teacher site</h3>

            <p class="govuk-body">MTC does not currently have any built-in access arrangements for the teacher site.</p>

            <p class="govuk-body">The MTC teacher site is being designed to be compatible with recent versions of the following screen readers:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>job access with speech (JAWS)</li>
                <li>non-visual desktop access (NVDA)</li>
                <li>voiceOver</li>
            </ul>


            <p class="govuk-body">The site is also being designed to be compatible with:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>basic operating system screen magnifiers, such as ZoomText magnifier</li>
                <li>speech recognition software, such as Dragon Naturally Speaking</li>
                <li>operating system speech packages</li>
            </ul>

            <h3 class="govuk-heading-m">Get help for Teacher Site</h3>

            <p class="govuk-body">AbilityNet provides guidance about how to:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" target="_blank" rel="noopener noreferrer" href="https://mcmw.abilitynet.org.uk/impairment/making-your-mouse-easier-use">
                        make your mouse easier to use</a> <img alt="" src="/images/icon-link.png"/></li>
                <li><a class="govuk-link" target="_blank" rel="noopener noreferrer" href="https://mcmw.abilitynet.org.uk/category/keyboard-shortcuts">
                        use your keyboard instead of a mouse</a> <img alt="" src="/images/icon-link.png"/></li>
                <li><a class="govuk-link" target="_blank" rel="noopener noreferrer" href="https://mcmw.abilitynet.org.uk/impairment/talking-your-device">
                        talk to your device</a> <img alt="" src="/images/icon-link.png"/></li>
                <li><a class="govuk-link" target="_blank" rel="noopener noreferrer" href="https://mcmw.abilitynet.org.uk/impairment/making-your-device-talk-you">
                        make your device talk to you</a> <img alt="" src="/images/icon-link.png"/></li>
                <li><a class="govuk-link" target="_blank" rel="noopener noreferrer" href="https://mcmw.abilitynet.org.uk/impairment/making-text-larger">
                        make text larger</a> <img alt="" src="/images/icon-link.png"/></li>
                <li><a class="govuk-link" target="_blank" rel="noopener noreferrer" href="https://mcmw.abilitynet.org.uk/impairment/changing-your-colours">
                        change your colours</a> <img alt="" src="/images/icon-link.png"/></li>
                <li><a class="govuk-link" target="_blank" rel="noopener noreferrer" href="https://mcmw.abilitynet.org.uk/impairment/magnifying-screen">
                        magnify the screen</a> <img alt="" src="/images/icon-link.png"/></li>
            </ul>

            <h3 class="govuk-heading-m">Leave feedback</h3>

            <p class="govuk-body">We welcome your feedback on the accessibility of this site, please let us know if you encounter any accessibility barriers.</p>

            <p class="govuk-body">
                National curriculum assessments helpline: 0300 303 3013<br />
                Email: <a class="govuk-link" href="mailto: MTC.STA@education.gov.uk"> MTC.STA@education.gov.uk</a>
            </p>

            <p class="govuk-body">
                <b>Preparation of this accessibility statement</b><br />
                <span class="govuk-!-font-size-16">
                    This statement was prepared on 27th February, 2019.<br />
                    This statement was prepared based on an independent accessibility audit carried out in 2017.<br />
                    The statement will be amended following an additional independent accessibility audit prior to the national rollout in 2020.<br />
                </span>
            </p>
            <div class="govuk-back-to-top govuk-!-margin-top-5">
                <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
                    <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                    </svg>Back to top
                </a>
            </div>
        </div>
        <div class="govuk-grid-column-one-third" aria-label="sidebar">
            <aside class="app-related-items" role="complementary">
                <h2 class="govuk-heading-m" id="subsection-title">
                    Related
                </h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            <a class="govuk-link" href="/privacy">Privacy notice</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</main>
