<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Accessibility statement for the multiplication tables check service</h1>
            <%- partial('partials/_gds_session_expiry') %>

            <p class="govuk-body">
                This statement applies to content published on the
                multiplication tables check (MTC) service. This includes the
                school administration application accessed via
                <a class="govuk-link" target="_blank" rel="noopener noreferrer"
                href="https://services.signin.education.gov.uk/">DfE Sign-in</a> and
                the pupil try it out and official
                <a class="govuk-link" target="_blank" rel="noopener noreferrer"
                href="https://pupil.multiplication-tables-check.service.gov.uk/sign-in">
                check application</a>.
            </p>

            <p class="govuk-body">
                We are committed to making the MTC service accessible and
                user-friendly for school staff and pupils, regardless of any
                physical, cognitive or emotional impairment.
            </p>

            <p class="govuk-body">
                You can read a <a class="govuk-link" target="_blank"
                rel="noopener noreferrer" href="https://accessibility.blog.gov.uk/">
                blog about accessibility</a> <img alt=""
                src="/images/icon-link.png"/> on GOV.UK.
            </p>

            <h3 class="govuk-heading-m">Our commitment to accessibility</h3>

            <p class="govuk-body">
                The Standards and Testing Agency (STA) is committed to making websites accessible,
                in accordance with
                <a href="https://www.legislation.gov.uk/uksi/2018/952/contents/made"
                class="govuk-link"  rel="noopener noreferrer"  target="_blank"
                >The Public Sector Bodies (Websites and Mobile Applications) (No.2) Accessibility Regulations 2018</a>.
            </p>

            <h3 class="govuk-heading-m">Conformance status</h3>

            <p class="govuk-body">
                We seek to ensure that most of the service meets the
                <a class="govuk-link" target="_blank" rel="noopener noreferrer" href="https://www.w3.org/WAI/standards-guidelines/wcag/">
                    Web Content Accessibility Guidelines (WCAG)</a> <img alt="" src="/images/icon-link.png"/>
                2.1 at Level AA. The MTC is partially conformant with WCAG 2.1 level AA.
            </p>

            <p class="govuk-body">Partially conformant means that some parts of
            the content do not fully conform to the accessibility standard.</p>

            <h3 class="govuk-heading-m">Pupil site</h3>

            <p class="govuk-body">The MTC pupil application does not support
            third-party screen readers due to compatibility issues with the
            timed element of the check.</p>

            <p class="govuk-body">
                To address this and other accessibility needs, a number of
                access arrangements can be applied to the pupil check. The
                following table shows access arrangement compatibility with
                browsers and devices.
            </p>

            <table class="govuk-table govuk-spacious govuk-!-font-size-16">
                <thead class="govuk-table__head">
                <tr>
                    <th>Access arrangement</th>
                    <th>Browser and device compatibility</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Audible time alert</td>
                    <td>Not compatible with any version of Internet Explorer and below version 14 for Microsoft Edge</td>
                </tr>
                <tr>
                    <td>Colour contrast</td>
                    <td>Any browser/device</td>
                </tr>
                <tr>
                    <td>Font size</td>
                    <td>Any browser/device</td>
                </tr>
                <tr>
                    <td>Input assistance</td>
                    <td>Any browser/device</td>
                </tr>
                <tr>
                    <td>Pause ‘next’ button between questions</td>
                    <td>Any browser/device</td>
                </tr>
                <tr>
                    <td>Audio version</td>
                    <td>Not recommended for iOS and Safari below version 13,
                      not compatible with any version of Internet Explorer and below version 14 of Microsoft Edge
                    </td>
                </tr>
                <tr>
                    <td>Remove on-screen number pad</td>
                    <td>Any browser/device (external keyboard required for tablets)</td>
                </tr>
                </tbody>
            </table>

            <h3 class="govuk-heading-m">School administration website</h3>

            <p class="govuk-body">The school administration website does not
            currently have any built-in access arrangements.</p>

            <p class="govuk-body">The school administration website has been designed to be compatible with current versions (as of April 2024) of the following screen readers:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>job access with speech (JAWS)</li>
                <li>non-visual desktop access (NVDA)</li>
                <li>voiceover</li>
            </ul>


            <p class="govuk-body">The site has also been designed to be compatible with:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>basic operating system screen magnifiers, such as ZoomText magnifier</li>
                <li>speech recognition software, such as Dragon Naturally Speaking</li>
                <li>operating system speech packages</li>
            </ul>

            <h3 class="govuk-heading-m">Get help for the school administration
            website</h3>

            <p class="govuk-body">AbilityNet provides guidance about how to:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li><a class="govuk-link" target="_blank" rel="noopener noreferrer" href="https://mcmw.abilitynet.org.uk/impairment/making-your-mouse-easier-use">
                        make your mouse easier to use</a> <img alt="" src="/images/icon-link.png"/></li>
                <li><a class="govuk-link" target="_blank" rel="noopener noreferrer" href="https://mcmw.abilitynet.org.uk/category/keyboard-shortcuts">
                        use your keyboard instead of a mouse</a> <img alt="" src="/images/icon-link.png"/></li>
                <li><a class="govuk-link" target="_blank" rel="noopener noreferrer" href="https://mcmw.abilitynet.org.uk/impairment/talking-your-device">
                        talk to your device</a> <img alt="" src="/images/icon-link.png"/></li>
                <li><a class="govuk-link" target="_blank" rel="noopener noreferrer" href="https://mcmw.abilitynet.org.uk/impairment/making-your-device-talk-you">
                        make your device talk to you</a> <img alt="" src="/images/icon-link.png"/></li>
                <li><a class="govuk-link" target="_blank" rel="noopener noreferrer" href="https://mcmw.abilitynet.org.uk/impairment/making-text-larger">
                        make text larger</a> <img alt="" src="/images/icon-link.png"/></li>
                <li><a class="govuk-link" target="_blank" rel="noopener noreferrer" href="https://mcmw.abilitynet.org.uk/impairment/changing-your-colours">
                        change your colours</a> <img alt="" src="/images/icon-link.png"/></li>
                <li><a class="govuk-link" target="_blank" rel="noopener noreferrer" href="https://mcmw.abilitynet.org.uk/impairment/magnifying-screen">
                        magnify the screen</a> <img alt="" src="/images/icon-link.png"/></li>
            </ul>

            <h3 class="govuk-heading-m">How accessible this website is</h3>

            <p class="govuk-body">Parts of the MTC website are not fully accessible for example:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>some feedback messages are not clearly associated with form fields, instead all feedback is presented at the top of the page.</li>
                <li>focus indicators and tab order for keyboard users may be inconsistent with the layout.</li>
                <li>some elements and images are missing descriptive alternative text, their function should, however, be evident by their location.</li>
                <li>the “loading wheel” animation continues for longer than 3 seconds and cannot be paused.</li>
                <li>users are not warned of the idle 5-minute time-out function on pages until notified by a notification box. There is no option to extend or turn off this 5-minute time-out function.</li>
                <li>the "skip to main content" function does not always move the cursor to the main content.</li>
                <li>the search function and filter controls automatically update the content presented as input is given.</li>
                <li>some tables in the service are not presented as tables or are missing headers. The layout is, however, consistent.</li>
                <li>the structure, formatting, and use of headings may not be consistent or defined across the service.</li>
                <li>with some presented information some elements do not have unique IDs for assistive technologies. Their content is, however, sufficiently unique to ascertain their purpose.</li>
                <li>some elements such as filters and controls will not be accessible by keyboard. Please use the search box where possible to navigate the site and manual operation may be required.</li>
                <li>screen reader users may have a different experience to content provided on screen.</li>
            </ul>
            <p class="govuk-body">These parts of the MTC service will be reviewed as part of our annual review of the service.</p>

            <h3 class="govuk-heading-m">How to request content in an accessible format</h3>

            <p class="govuk-body">All content on the MTC service is in an
            accessible format.</p>

            <h3 class="govuk-heading-m">Reporting accessibility problems with this website</h3>

            <p class="govuk-body">If you find any problems that are not listed
            on this page or you think we are not meeting the accessibility
            requirements, please contact the national curriculum assessments
            helpline on 0300 303 3013 or email <a
            href="mailto:assessments@education.gov.uk">assessments@education.gov.uk</a>.
            </p>

            <h3 class="govuk-heading-m">Enforcement procedure</h3>

            <p class="govuk-body">If you contact us with a complaint and you are
            not happy with our response, please <a class="govuk-link"
            href="https://www.equalityadvisoryservice.com/">contact the Equality
            Advisory and Support Service (EASS).</a>
            </p>

            <p class="govuk-body">The Equality and Human Rights Commission
            (EHRC) is responsible for enforcing the <a
            class="govuk-link" target="_blank" rel="noopener noreferrer"
            href="https://www.legislation.gov.uk/uksi/2018/952/contents/made">
            Public Sector Bodies (Websites and Mobile Applications) (No. 2)
            Accessibility Regulations 2018 (the ‘accessibility
            regulations’)</a>.
            </p>

            <h3 class="govuk-heading-m">How we tested this website</h3>

            <p class="govuk-body">We have tested this website for compliance
              with the <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link"
            target="_blank" rel="noopener noreferrer">
            Web Content Accessibility Guidelines V2.1</a> level A and level
            AA, and these tests have been carried out internally.
            </p>

            <h3 class="govuk-heading-m">What we’re doing to improve accessibility</h3>

            <p class="govuk-body">We audit our content annually and update the
            service according to report findings.</p>

            <p class="govuk-body">This statement was prepared based on an
            independent accessibility audit of the full MTC service carried out
            in July 2019. It was last updated on 08 April 2024 following an
            annual accessibility assurance audit.</p>

            <div class="govuk-back-to-top govuk-!-margin-top-5">
                <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
                    <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                    </svg>Back to top
                </a>
            </div>
        </div>
        <div class="govuk-grid-column-one-third" aria-label="sidebar">
            <aside class="app-related-items" role="complementary">
                <h2 class="govuk-heading-m" id="subsection-title">
                    Related
                </h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            <a class="govuk-link" href="/privacy">Privacy notice on multiplication tables check</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</main>
