<%- partial('partials/_breadcrumbs_and_sign_out', { breadcrumbs }) %>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Contact</h1>

        <%- partial('partials/_session_expiry') %>

        <div class="panel panel-border-wide">
            National curriculum assessments helpline
            <br />
            0300 303 3013
        </div>
    </div>

    <div class="column-one-third add-title-margin">
        <aside role="complementary" class="support-column">
            <h3 class="heading-medium">Related</h3>
            <nav role="navigation">
                <ul class="list">
                    <li>
                        <a href="/">Home</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>
