<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Contact</h1>
            <%- partial('partials/_gds_session_expiry') %>
            <p>If you have a question about the MTC, you can: </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>visit our <a class="govuk-link" href="https://help.multiplicationtablescheckservice.education.gov.uk">
                    MTC help centre
                    </a> 
                </li>
                <li>use our <a class="govuk-link" href="https://askonline.education.gov.uk/chatbot/davina?regional=true">
                    virtual assistant
                    </a>
                </li>
                <li><a class="govuk-link" href="https://help.multiplicationtablescheckservice.education.gov.uk/hc/en-gb/requests/new?ticket_form_id=">
                    contact us
                    </a> directly 
                </li>
            </ul>
            <br />
            <p>If you are still unable to find an answer to your question, you can contact the national curriculum assessments helpline on 0300 303 3013, selecting the option for MTC. </p>
        </div>
        <div class="govuk-grid-column-one-third" aria-label="sidebar">
            <aside class="app-related-items" role="complementary">
                <h2 class="govuk-heading-m" id="subsection-title">
                    Related
                </h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            <a class="govuk-link" href="/">Home</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</main>
