<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<div id="wrapper" class="">
    <div class="govuk-grid-row">
        <main id="content" role="main" class="group help-page cookie-settings govuk-grid-column-two-thirds">
            <div class="cookie-settings__confirmation" data-cookie-confirmation="true">
                <section class="govuk-notice-summary govuk-!-margin-bottom-8" aria-label="Notice" aria-live="polite"
                    role="region">
                    <h2 class="govuk-heading-m">Your cookie settings were saved</h2>

                    <p>Government services may set additional cookies and, if so, will have their own cookie policy and
                        banner.</p>
                    <a class="govuk-link cookie-settings__prev-page" href="/" data-module="track-click"
                        data-track-category="cookieSettings" data-track-action="back">
                        Go back
                    </a>
                </section>
            </div>

            <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
                <h1 class="govuk-heading-xl">
                    Cookies on the multiplication tables check (MTC)
                </h1>
            </div>

            <div>
                <p>Cookies are files saved on your phone, tablet or computer
                when you visit a website.</p>
                <p>We use cookies to store information about how you use the MTC
                service, such as the pages you visit.</p>
            </div>

            <h2 class="govuk-heading-m">Cookie settings</h2>

            <div class="cookie-settings__no-js">
                <div>
                    <p>We use Javascript to set most of our cookies. Unfortunately Javascript is not running on your
                        browser, so you cannot change your settings. You can try:</p>
                    <ul>
                        <li>reloading the page</li>
                        <li>turning on Javascript in your browser</li>
                    </ul>
                </div>
            </div>

            <div class="cookie-settings__form-wrapper">
                <p>We use 2 types of cookie. You can choose which cookies you’re
                happy for us to use.</p>

                <form data-module="cookie-settings">

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="hint-61b03936">

                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Cookies that measure
                                website use
                            </legend>

                            <div id="hint-61b03936" class="govuk-hint govuk-!-margin-bottom-3">
                                We use Google Analytics to measure how you use
                                the website so we can improve it based on user
                                needs. Google Analytics sets cookies that store
                                anonymised information about:
                                <ul>
                                    <li>how you got to the site</li>
                                    <li>the pages you visit on the MTC service, and how long you
                                        spend on each page
                                    </li>
                                    <li>what you click on while you're visiting the site</li>
                                </ul>
                                We do not allow Google to use or share the data about how you use this site.
                            </div>

                            <div class="govuk-radios govuk-radios--inline">
                                <div class="govuk-radios__item">
                                    <input type="radio" name="cookies-usage" id="radio-51383d9f-0" value="on"
                                        class="govuk-radios__input">

                                    <label for="radio-51383d9f-0" class="govuk-label govuk-radios__label">
                                        On
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input type="radio" name="cookies-usage" id="radio-51383d9f-1" value="off"
                                        class="govuk-radios__input">

                                    <label for="radio-51383d9f-1" class="govuk-label govuk-radios__label">
                                        Off
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <% /* The following hidden radio buttons are for compatabilty with the cookies JS which is an
                        external library */%>
                        <input type="radio" name="cookies-campaigns" value="on" class="mtc-not-visible-not-accessible">
                        <input type="radio" name="cookies-campaigns" value="off" class="mtc-not-visible-not-accessible">
                        <input type="radio" name="cookies-settings" value="on" class="mtc-not-visible-not-accessible">
                        <input type="radio" name="cookies-settings" value="off" class="mtc-not-visible-not-accessible">

                        <div>
                            <h2 class="govuk-heading-m">Strictly necessary cookies</h2>
                            <p>These essential cookies do things like recording
                            telemetry and usage data to support our users and
                            enhance the MTC service.</p>
                            <p>They always need to be on.</p>
                            <p>
                                <a href="/cookies-mtc" data-module="track-click" data-track-category="cookieSettings"
                                    data-track-action="Find out more about cookies">
                                    Find out more about cookies on MTC
                                </a>
                            </p>
                        </div>

                        <button class="govuk-button" type="submit">Save changes</button>
                </form>
            </div>
        </main>
    </div>
</div>
<script src="/javascripts/cookie-form.js"></script>
