<div class="grid-row">
    <div class="column-two-thirds">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-third">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Cookies</h1>
        <br/>
        <p>
            MTC puts small files (known as ‘cookies’) on to your computer to collect information about how you browse the site.
        </p>
        Cookies are used to:
        <br/><br/>
        <ul class="list list-bullet">
            <li>remember you once you've signed in</li>
            <li>remember the notifications you've seen so we don't show them again</li>
            <li>measure how you use the website so it can be updated and improved based on your needs</li>
        </ul>
        You’ll normally see a message on the site before we store a cookie on your computer.
        <br/><br/>
        Find out 
        <a target="_blank" href="https://ico.org.uk/your-data-matters/online/cookies/">
            how to manage cookies.
        </a>
        <br/><br/><br/>
        <h2>How cookies are used on MTC</h2>
        <br/><br/>
        <h3>Session cookies</h3>
        <br/>
        <br/>
        <span class="font-xsmall">Last updated 12 June 2018</span>
        <div class="back-to-top-container">
            <a href="#top">Back to top</a>
        </div>
    </div>

    <div class="column-one-third add-title-margin">
        <aside role="complementary" class="support-column">
            <h3 class="heading-medium">Related</h3>
            <nav role="navigation">
                <ul class="list">
                    <li>
                        <a href="/privacy">Privacy notice</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>
