<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Access to the MTC service has not been allowed</h1>
      <p class="govuk-body">Your school must be open, with year 4 pupils to access this service.</p>
      <p class="govuk-body">Check you are accessing the service using your up-to-date organisation and that you have the MTC service added to this organisation.</p>
      <p class="govuk-body">You can see which organisations are linked to the service in the ‘services’ section of DfE Sign-in by selecting ‘show organisations’ next to the MTC service.</p>
      <p class="govuk-body">If you need further support, please contact the national curriculum assessments helpline on <strong>0300 303 3013</strong>, selecting the option for MTC.</p>
    </div>
  </div>
</main>

