<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Something isn't quite right!</h1>
      <p class="govuk-body govuk-!-font-size-24">Access to this service has not been allowed. An approver at your
        organisation will be able to provide you with access to this service. Please ask them to confirm that you have
        the correct organisation and the multiplication tables check service on your account.</p>

      <p class="govuk-body">If your permission is confirmed please sign-out and try again. If the problem persists, please contact
        the national curriculum assessments helpline on 0300 303 3013 or email us at <a
          href="mailto:assessments@education.gov.uk">assessments@education.gov.uk</a></p>

      <p class="govuk-body">Please quote error ID: <%= errorId %></p>

      <a href="/sign-out-dso" class="govuk-button" data-module="govuk-button">Sign out and try again</a>
    </div>
  </div>
</main>
