<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Something isn't quite right.</h1>
      <p class="govuk-body govuk-!-font-size-24">Access to the multiplication tables check (MTC) service has not been allowed.</p>

      <p class="govuk-body">STA will only allow open schools, with year 4 pupils to access the MTC service.</p>
      <p class="govuk-body">Please check that you are accessing the service using your up-to-date organisation.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>If your school has recently changed you must ensure you have added your new organisation to your DfE Sign-in account.</li>
        <li>You can do this by navigating to your 'organisations' section within your DfE Sign-in account and selecting 'Request access to an organisation'.</li>
      </ul>
      <p class="govuk-body">If you have more than one organisation linked to your DfE Sign-in account, you must ensure the MTC service is linked to the correct school. You can see which organisations are linked to the service in the 'services' section by selecting 'show organisations' next to the MTC service. </p>
      <p class="govuk-body">General users will need a DfE Sign-in approver within your school to approve your requests.</p>
      <p class="govuk-body">If the issue continues, please contact the national curriculum assessments helpline on <strong>0300 303 3013</strong>, selecting the option for MTC.</p>

      <a href="/sign-out-dso" class="govuk-button" data-module="govuk-button">Sign out and try again</a>
    </div>
  </div>
</main>
