<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Form already submitted</h1>
        <p class="govuk-body">
          A form has been submitted more than once. This can happen if you used the back button, or the page failed to handle a double-click correctly. Your information should have been saved, but we recommend you review the action and try again if needed. 
        </p>
        <p>
          <a href="/">Home</a>
        </p>
      </div>
    </div>
  </main>
</div>
