<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Form already submitted</h1>
        <p class="govuk-body">
          A form has been submitted more than once.
        </p>
        <p class="govuk-body">
         You may have used the back button, or the page has failed to handle a double-click correctly.  Please review what you were doing and try again if needed.
        </p>
        <p>
          <a href="/">Home</a>
        </p>
      </div>
    </div>
  </main>
</div>
