<%- partial('partials/_gds_breadcrumbs_and_sign_out', { breadcrumbs }) %>
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Privacy notice: multiplication tables check (MTC)</h1>
            <%- partial('partials/_gds_session_expiry') %>



            <ul class="govuk-list">
                <li>Contents</li>
                <li class="govuk-list-item--dashed"><a class="govuk-link" href="#who-we-are">Who we are</a></li>
                <li class="govuk-list-item--dashed"><a class="govuk-link" href="#how-we-will-use-information">How we will use your information
                    </a></li>
                <li class="govuk-list-item--dashed"><a class="govuk-link" href="#nature-personal-data">The nature of personal data we will be using</a></li>
                <li class="govuk-list-item--dashed"><a class="govuk-link" href="#legal">Why our use of your pupils’ personal data is lawful</a></li>
                <li class="govuk-list-item--dashed"><a class="govuk-link" href="#personal-data-available">Who we will make your pupils’ personal data available too</a></li>
                <li class="govuk-list-item--dashed"><a class="govuk-link" href="#personal-data">How long we will keep your pupils’ personal data</a></li>
                <li class="govuk-list-item--dashed"><a class="govuk-link" href="#rights">Your data protection rights</a></li>
            </ul>

            <hr />
            <br />
            <div id="who-we-are">
                <h3 class="govuk-heading-m">Who we are</h3>
                <p class="govuk-body">
                    This work is being carried out by the Standards and Testing Agency (STA) which is part of the Department for Education (DfE).
                    For the purpose of data protection legislation, DfE is the data controller for the personal data processed as part of MTC.
                </p>
            </div>
            <div id="how-we-will-use-information">
                <h3 class="govuk-heading-m">How we will use your information</h3>
                <p class="govuk-body">We receive your pupils’ personal data from your school.</p>
                <p class="govuk-body">The aim of this project is to determine whether pupils can recall their times tables fluently,
                    which is essential for future success in mathematics. It will help schools to identify pupils who have not yet mastered their times tables,
                    so that additional support can be provided. Further <a class="govuk-link" href="https://www.gov.uk/government/collections/multiplication-tables-check">information about MTC</a> is available on GOV.UK.
                </p>
            </div>
            <div id="nature-personal-data">
                <h3 class="govuk-heading-m">The nature of personal data we will be using</h3>
                <p class="govuk-body">
                    The categories of your pupils’ personal data that we will be using for this project are:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>full name</li>
                    <li>gender</li>
                    <li>date of birth</li>
                    <li>unique pupil number (UPN)</li>
                </ul>
            </div>
            <div id="legal">
                <h3 class="govuk-heading-m">Why our use of your pupils’ personal data is lawful</h3>
                <p class="govuk-body">
                    In order for our use of personal data to be lawful,
                    we need to meet one (or more) conditions in the data protection legislation.
                    For the purpose of this project, the relevant condition is:
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Article 6(1)(e) GDPR, to perform a public task as part of our function as a department</li>
                </ul>
                <p class="govuk-body">
                    The Data Protection Act 2018, Part 2 Chapter 2 Lawfulness of processing Section 8 (d) allows
                    for when (data) processing is necessary for the exercise of a function of the Crown,
                    a Minister of the Crown or a government department.
                </p>
            </div>
            <div id="personal-data-available">
                <h3 class="govuk-heading-m">Who we will make your pupils’ personal data available too</h3>
                <p class="govuk-body">
                    We sometimes need to make personal data available to other organisations.
                </p>
                <p class="govuk-body">
                    Where we need to share your pupils’ personal data with others, we will only do this where the law allows us to.
                </p>
            </div>
            <div id="personal-data">
                <h3 class="govuk-heading-m">How long we will keep your pupils’ personal data</h3>
                <p class="govuk-body">
                    DfE will keep your pupils’ personal data, that is the personal details listed above, alongside the pupils’ MTC score for 2 years.
                </p>
                <p class="govuk-body">
                    The MTC database for each annual test cycle will (in line with STA data retention policy) be retained for a maximum of 2 years
                    after each cycle (encrypted at rest in Enterprise Azure).
                    This is in case we need to extract the data again (for disaster recovery purposes) or to retrieve
                    to inform any subsequently received allegation of test maladministration. The data will be securely destroyed once it is no longer required.
                    Please note, under section 33 of the Data Protection Act 1998, and in compliance with the relevant conditions,
                    we can lawfully keep personal data processed purely for research purposes indefinitely,
                    although the personal data at this point is now anonymised
                </p>
            </div>
            <div id="rights">
                <h3 class="govuk-heading-m">Your data protection rights</h3>
                <p class="govuk-body">
                    <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter">
                        https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter
                    </a>
                </p>
                <p class="govuk-body">
                    Under the Data Protection Act 2018, you are entitled to ask if we hold information relating to you and ask for a copy,
                    by making a ‘subject access request’.
                </p>
                <p class="govuk-body">
                    For further information and how to request your data, please use the <a class="govuk-link" href="https://www.education.gov.uk/help/contactus">contact form</a> in the Personal Information Charter at
                    <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter">https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter</a>
                    under the ‘How to find out what personal information we hold about you’ section.
                </p>
                <p class="govuk-body">
                    If you need to contact us regarding any of the above,
                    please do so via the GOV.UK at: <a class="govuk-link" href="https://www.gov.uk/contact-dfe">https://www.gov.uk/contact-dfe</a>.
                </p>
                <p class="govuk-body">
                    Further information about your data protection rights appears on the Information Commissioner’s website at:
                    <a class="govuk-link" href="https://ico.org.uk/for-organisations/guide-to-data-protection/principle-6-rights/">https://ico.org.uk/for-organisations/guide-to-data-protection/principle-6-rights/</a>.
                </p>
            </div>
            <div id="last-updated">
                <h3 class="govuk-heading-m">Last updated</h3>
                <p class="govuk-body">
                    We may need to update this privacy notice periodically so we recommend that you revisit this information from time to time. This version was last updated on 23 March 2020.
                </p>
            </div>


            <div class="govuk-back-to-top govuk-!-margin-top-9">
                <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
                    <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
                        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                    </svg>Back to top
                </a>
            </div>
        </div>
        <div class="govuk-grid-column-one-third" aria-label="sidebar">
            <aside class="app-related-items" role="complementary">
                <h2 class="govuk-heading-m" id="subsection-title">
                    Related
                </h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            <a class="govuk-link" href="/cookies-form">Cookies</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</main>
