<div class="grid-row">
    <div class="column-two-thirds">
        <%- partial('partials/_breadcrumbs', { breadcrumbs: breadcrumbs }) %>
    </div>
    <div class="column-one-third">
        <%- partial('partials/_name_and_sign_out') %>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Privacy Notice</h1>
        <ul class="list list-contents">
            <li class="list-item--dashed"><a href="#overview">Overview</a></li>
            <li class="list-item--dashed"><a href="#data-collection-and-access">What data will be collected and who can access it?</a></li>
            <li class="list-item--dashed"><a href="#retaining-personal-data">Retaining personal data</a></li>
            <li class="list-item--dashed"><a href="#further-information">Further information</a></li>
        </ul>
        <hr>
        <div id="overview">
            <h2 class="heading-large">Overview</h2>
            The Scottish Qualification Authority (SQA) is administering the multiplication tables check (MTC) technical
            pre-test trials on behalf of the Standards and Testing Agency (STA).
            The trials will take place in a sample of schools from 25 June to 6 July 2018.
            <br/><br/>
            STA will use the results of the trial to:
            <br/><br/>
            <ul class="list list-bullet">
                <li>create a range of check forms (online question papers) to ensure
                    they are of comparable difficulty for implementing in national checks from 2020
                </li>
                <li>develop and refine the digital service for implementing live checks</li>
            </ul>
            <br/>
            STA is the data controller for the trials and is responsible for determining how personal data collected
            during the period will be treated.
            As with all trials of new national assessments, we will not publish the results of the check, and no
            individual school or pupil will be identified.
            <br/><br/>
            As data processor, SQA is responsible for securely storing and handling any personal data required to
            administer the trials.
            They will securely dispose of this data at the end of the MTC contract, in accordance with the agreement
            with STA, and in line with the requirements of UK data protection legislation and the
            <a target="_blank" href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr">
                General Data Protection Regulation (GDPR)
            </a>.&nbsp<img src="/images/icon-link.png"/>
        </div>
        <div id="data-collection-and-access">
            <h2 class="heading-large">What data will be collected and who can access it?</h2>
            STA and SQA will collect and hold data they need to administer the trials:
            <br/><br/>
            <ul class="list list-bullet">
                <li>selected pupils’ names</li>
                <li>pupils’ dates of birth</li>
                <li>unique pupil numbers (UPNs)</li>
                <li>names of schools</li>
            </ul>
            MTC trials are completed online by selected pupils.
            Their completed test results remain within the MTC system, to which only STA has access.
            Access within STA will be restricted to those employees who need to see the pupil data.
            <br/><br/>
            SQA will share the pupil data with their test administrators.
            Test administrators will only see the data for pupils for those schools in which they are administering
            trials.
            <br/><br/>
            After the trial, SQA will return any pupil data to STA, with the additional data they have collected.
            This will include test attendance register data, which will comprise school and pupils’ names, pupils’ dates
            of birth and UPNs.
            <br/><br/>
            This data will be used to match collected pupil data to the pupil concerned and to confirm which pupils from
            the sample have taken the tests.
            All data for the trial will be supplied in electronic data files and sent by secure file transfer protocol.
            <br/><br/>
            No information gathered during the trial will be transferred or stored outside of the EEA.
            SQA handles personal data in accordance with the rights given to individuals under UK data protection
            legislation.
            Data subjects have a right to see information held about them and SQA will cooperate fully when a subject
            access request is made of the data controller (in this instance, STA).
        </div>
        <div id="retaining-personal-data">
            <h2 class="heading-large">Retaining personal data</h2>
            Data collected by SQA will be retained for up to 6 months following the end of the trial, as agreed by STA
            and SQA.
            On STA’s approval, SQA will destroy data and permanently delete computer files from their systems.
            Any paper copies of check materials returned to SQA will be shredded securely on site.
            <br/><br/>
            STA will only keep personal data for as long as it is needed for the purpose(s) of this project, after which
            point it will be securely destroyed.
            Please note that, under section 33 of the Data Protection Act 1998, and in compliance with the relevant
            conditions, we can lawfully keep personal data processed purely for research purposes indefinitely.
        </div>
        <div id="further-information">
            <h2 class="heading-large">Further information</h2>
            If you have any queries about MTC trial data, please email <a
                    href="mailto:mtc@sqa.org.uk">mtc@sqa.org.uk</a>.
            <br/><br/>
            STA, as an executive agency of the Department for Education (DfE), determines the purposes and means of
            processing personal data as part of this project.
            You can find more information in the DfE’s
            <a target="_blank" href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter">
                personal information charter
            </a>.&nbsp<img src="/images/icon-link.png"/>
            <br/><br/>
            You have the right to lodge a complaint about data protection issues with the Information Commissioner’s
            Office.
            More information is available on their <a target="_blank" href="https://ico.org.uk/make-a-complaint">website</a>.&nbsp<img src="/images/icon-link.png"/>
        </div>
        <br/>
        <span class="font-xsmall">Last updated 25 May 2018</span>
        <div class="back-to-top-container">
            <a href="#top">Back to top</a>
        </div>
    </div>

    <div class="column-one-third add-title-margin">
        <aside role="complementary" class="support-column">
            <h3 class="heading-medium">Related</h3>
            <nav role="navigation">
                <ul class="list">
                    <li>
                        <a href="<%= govukRoot %>/help/cookies">Cookies</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>
