<meta http-equiv="refresh" content="<%= WaitTimeBeforeRedirectInSeconds %>;url=<%= url %>" />
<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds wait-redirect">
            <h1 class="govuk-heading-xl">Saving changes...</h1>
        </div>
    </div>
</main>
