<div class="organisation-container" aria-describedby="standards-and-testing-agency">
    <div class="organisation-logo home">
        <div class="logo-text" id="standards-and-testing-agency">Standards<br>&amp; Testing<br>Agency</div>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds" aria-describedby="lead-paragraph">
        <h1 class="heading-xlarge">Check Development Service</h1>

        <p class="lede" id="lead-paragraph">Sign-in to access the Check Development Service</p>

        <form action="/sign-in" method="post" aria-label="Sign-in below" autocomplete="off">
            <div class="form-group">
                <label for="username" class="form-label-bold"> Username </label>
                <input class="form-control"
                       id="username"
                       name="username"
                       type="text"
                       aria-required="true"
                       aria-label="Enter your user name.">
            </div>

            <div class="form-group">
                <label for="password" class="form-label-bold"> Password </label>
                <input class="form-control"
                       id="password"
                       name="password"
                       type="password"
                       aria-required="true"
                       aria-label="Enter your password.">
            </div>

            <div class="form-group">
                <input class="button button-start" type="submit" value="Sign in">
            </div>

        </form>
    </div>
</div>
