<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Unable to confirm details</h1>
        <p class="lede">The details entered do not match our records.</p>
        <a href="/sign-in">Try again</a>
    </div>
</div>
