<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Access unauthorised</h1>
            <p class="govuk-body">You're not authorised to access this page.</p>
            <a class="govuk-link" href="/">Back to home</a>
        </div>
    </div>
</main>
