<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">The service is unavailable</h1>
    <div id="overview">
      <p>The service is currently unavailable. Please try again later.</p>
      <p>If you have an urgent enquiry, please contact the helpline.</p>
      <div class="panel panel-border-wide">
        National Curriculum Assessments Helpline<br />
        0300 303 3013
      </div>
    </div>
  </div> 
  <%- partial('partials/_support_column') %>
</div>