<app-header class="full-width"></app-header>

<main id="content" class="js-content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <div class="back-link-wrapper">
        <a routerLink="/font-choice" class="back-link">Back</a>
      </div>
      <header class="page-header">
          <h1 class="heading-xlarge" tabindex="0">Settings for you</h1>
      </header>
      <p>
          You have the following settings on your check
      </p>
      <ol class="list list-number">
        <li *ngIf="config.audibleSounds">Beep</li>
        <li *ngIf="config.numpadRemoval">Numpad removal</li>
        <li *ngIf="config.colourContrast">Colour contrast</li>
        <li *ngIf="config.fontSize">Font size <a routerLink="/font-choice">Edit</a></li>
      </ol>
      <div class="sign-out-link">
        <p class="lede">
          <button class="button" (click)="onClick()">Confirm</button>
        </p>
      </div>
    </div>
  </div>
</main>
