<app-header style="width:100%"></app-header>
<main id="content" class="js-content" role="main">
<div class="grid-row">
  <div class="column-two-thirds">
    <header class="page-header">
      <h1 class="heading-xlarge">Unable to confirm details</h1>
    </header>

    <p class="lede">
      The details entered do not match our records. Please check with your teacher that you used the correct school password and pupil PIN.
    </p>

    <a routerLink="/sign-in">Try again</a>
  </div>
</div>
</main>
