.contrast-bow {
  background-color: #fff;
  color: #000 !important;

  .question-text span {
    color: #000 !important;
  }

  button, .badge {
    background-color: #6f777b !important;
    color: #fff !important;
  }

  .badge span {
    color: #fff !important;
  }
}

.contrast-yob {
  background-color: #000;
  color: #ff0 !important;

  .question-text span {
    color: #ff0 !important;
  }

  button, .badge {
    background: #000 !important;
    color: #ff0 !important;
    border: 1px solid #ff0 !important;
  }

  .badge span {
    color: #ff0 !important;
  }
}

.contrast-bob {
  background-color: #96adfc;
  color: #000 !important;

  .question-text span {
    color: #000 !important;
  }

  button, .badge {
    background-color: #000 !important;
    color: #96adfc !important;
  }

  .badge span {
    color: #96adfc !important;
  }
}

.contrast-bop {
  background-color: #edd1b0;
  color: #000 !important;

  .question-text span {
    color: #000 !important;
  }

  button, .badge {
    background-color: #000 !important;
    color: #edd1b0 !important;
  }

  .badge span {
    color: #edd1b0 !important;
  }
}

.contrast-boc {
  background-color: #fff5cd;
  color: #00008b !important;

  .question-text span {
    color: #00008b !important;
  }

  button, .badge {
    background-color: #00008b !important;
    color: #fff5cd !important;
  }

  .badge span {
    color: #fff5cd !important;
  }
}

span.contrast-yob {
  border: 2px solid #ff0 !important;
}

span.contrast-boc {
  border: 2px solid #00008b !important;
}

span.contrast-bow,  span.contrast-bob, span.contrast-bop {
  border: 2px solid #000 !important;
}

.multiple-choice {
  margin: 10px 0;
}

p {
  margin: 30px 0;
}

label > span {
  padding: 10px 0;
  border: none;
  display: inline-block;
  text-align: center;
  width: 150px;
  margin-top: -10px;
}

span.xxlarge {
  width: 280px !important;
}

span.xlarge {
  width: 220px !important;
}

span.large {
  width: 180px !important;
}

span.small {
  width: 120px !important;
}

span.xsmall {
  width: 100px !important;
}

.preview-box {
  border: 1px solid #6f777b;
  float: left;
  width: 500px;
  height: 350px;
  position: relative;
  margin: 10px 0 0 40px;

  @media (max-width: 640px) {
    margin: 0;
    max-width: 100%;
    height: 250px;
    padding-bottom: 20px;
  }

  > .badge {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    text-transform: uppercase;
    padding: 8px 15px;
    width: auto;
  }

  > .preview-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    > .question-text {
      text-align: center;
    }

    table {
      border-spacing: 10px;
      margin: auto;
    }

    > table button {
      background-color: #6f777b;
      border: none;
      color: #fff;
    }
  }
}
