<app-header class="full-width"></app-header>

<app-page-modifications>
<main id="content" class="js-content" role="main">
  <div class="grid-row">
    <div class="column-full">
      <div class="back-link-wrapper">
        <a routerLink="/sign-out" class="back-link">Back</a>
      </div>
      <header class="page-header">
          <h1 class="heading-xlarge" tabindex="0">Choose colour of page</h1>
      </header>
      <p class="lede">
        <button class="button" (click)="onClick()">Confirm</button>
      </p>
    </div>
  </div>
</main>
</app-page-modifications>
