<div id="skiplink-container">
  <div>
    <a href="#content" class="skiplink">Skip to main content</a>
  </div>
</div>

<div id="global-cookie-message">
  <p>GOV.UK uses cookies to make the site simpler. <a href="{{govukRoot}}/help/cookies">Find out more about cookies</a></p>
</div>

<header role="banner" id="global-header" class="with-proposition">
  <div class="header-wrapper">
    <div class="header-global">
      <div class="header-logo">
        <span id="logo" class="content">
          <img src="{{govukAssetPath}}/images/gov.uk_logotype_crown_invert_trans.png" width="36" height="32" alt=""> {{globalHeaderText}}
        </span>
      </div>
    </div>
    <div class="header-proposition">
      <div class="content">
        <nav id="proposition-menu">
          <a href="/" title="" id="proposition-name">{{appTitle}}</a>
        </nav>
      </div>
    </div>
  </div>
</header>