@mixin border-radius($radius) {
  -webkit-border-radius: $radius; 
     -moz-border-radius: $radius; 
          border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow; 
     -moz-box-shadow: $shadow; 
          box-shadow: $shadow;
}

@mixin scale($x, $y, $transform-origin: 50% 50% 0) {
  
  -webkit-transform: scale($x, $y); 
     -moz-transform: scale($x, $y); 
      -ms-transform: scale($x, $y); 
          transform: scale($x, $y);

  -webkit-transform-origin: $transform-origin; 
     -moz-transform-origin: $transform-origin; 
      -ms-transform-origin: $transform-origin; 
          transform-origin: $transform-origin;
}

@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y); 
     -moz-transform: translate($x, $y); 
      -ms-transform: translate($x, $y); 
       -o-transform: translate($x, $y); 
          transform: translate($x, $y);
}

@mixin gradient($from, $to) {
  
  
  
  background-color: $from;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to)); 
  background-image: -webkit-linear-gradient($from, $to); 
  background-image:    -moz-linear-gradient($from, $to); 
  background-image:      -o-linear-gradient($from, $to); 
  background-image:         linear-gradient($from, $to);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$from}', endColorstr='#{$to}',GradientType=0 ); 
}

@mixin transition($property, $duration, $function, $delay: 0s) {
  -webkit-transition: ($property $duration $function $delay); 
     -moz-transition: ($property $duration $function $delay); 
       -o-transition: ($property $duration $function $delay); 
          transition: ($property $duration $function $delay);
}

@mixin box-sizing($type) {
  
  
  -webkit-box-sizing: $type; 
     -moz-box-sizing: $type; 
          box-sizing: $type;
}

@mixin appearance($appearance) {
  -webkit-appearance: $appearance;
     -moz-appearance: $appearance;
}

@mixin calc($property, $calc) {
  #{$property}: -webkit-calc(#{$calc}); 
  #{$property}:         calc(#{$calc});
}

@mixin opacity($trans) {
  zoom: 1;
  filter: unquote('alpha(opacity=' + ($trans * 100) + ')'); 
  opacity: $trans;
}
