@import 'conditionals';
@import 'css3';
@import 'measurements';
@import 'shims';

$site-width: 960px;

%site-width-container {
  max-width: $site-width;

  @include ie-lte(8) {
    width: $site-width;
  }

  margin: 0 $gutter-half;

  @include media(tablet) {
    margin: 0 $gutter;
  }

  @include media($min-width: ($site-width + $gutter * 2)) {
    margin: 0 auto;
  }
}

%outdent-to-full-width {
  margin-left: -$gutter-half;
  margin-right: -$gutter-half;

  @include media(tablet) {
    margin-left: -$gutter;
    margin-right: -$gutter;
  }
}

%grid-row {
  @extend %contain-floats;
  margin: 0 (-$gutter-half);
}

@mixin grid-column($width, $full-width: tablet, $float: left) {

  @include media($full-width) {
    float: $float;
    width: percentage($width);
  }

  @include ie-lte(7) {
    width: (($site-width + $gutter) * $width) - $gutter;
  }

  padding: 0 $gutter-half;
  @include box-sizing(border-box);
}

@mixin outer-block {
  @warn "The @mixin outer-block is deprecated and should be updated to use new grid helpers";
  margin: 0 auto;
  width: auto;
  max-width: 960 + $gutter * 2;
  @extend %contain-floats;

  @include ie-lte(8) {
    width: 1020px;
  }
}

@mixin inner-block($margin-or-padding: padding) {
  @warn "The @mixin inner-block is deprecated and should be updated to use new grid helpers";
  #{$margin-or-padding}-left: $gutter-half;
  #{$margin-or-padding}-right: $gutter-half;

  @include media(tablet) {
    #{$margin-or-padding}-left: $gutter;
    #{$margin-or-padding}-right: $gutter;
  }
}
