.spinner {
  position: relative;
  left: -4px;
  top: 9px;
  width: 31px;
  height: 31px;
}

.wait {
  position: relative;
  width: 143px;
  height: 189px;
  left: 50px;
}

.wait-text {
  left: 31px;
  top: 10px;
  position: relative;
}
