<app-header class="full-width"></app-header>
<main id="content" class="js-content" role="main">
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Sorry, the service is unavailable</h1>
    <p>The service is currently unavailable. Please try again later.</p>
    <p>If you have an urgent enquiry please contact the helpline.</p>
    <div class="panel panel-border-wide">
      National Curriculum Assessments Helpline<br />
      <a href="tel:0300 303 3013">0300 303 3013</a>
    </div>
  </div>
  
  <div class="column-one-third add-title-margin">
    <br />
    <aside role="complementary" class="support-column">
      <h3 class="heading-medium">Related</h3>
      <nav role="navigation">
        <ul class="list">
          <li>
            <a
              href="assets/pdfs/mtc-administration-guidance-2019-03-27.pdf"
              rel="noopener noreferrer"
              target="_blank"
            >
              Guidance (PDF)
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
</main>
<app-footer></app-footer>
