<app-header class="full-width"></app-header>
<main id="content" class="js-content" role="main">
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Sorry, the service is unavailable</h1>
    <p>The service is currently unavailable. Please try again later.</p>
    <p>If you have an urgent enquiry please contact the helpline.</p>
    <div class="panel panel-border-wide">
      National Curriculum Assessments Helpline<br />
      0300 303 3013
    </div>
  </div>
</div>
</main>
<app-footer></app-footer>
