<app-sound #sound></app-sound>

<div [ngSwitch]="viewState">
    <app-warmup-intro *ngSwitchCase="'warmup-intro'"
        (clickEvent)="warmupIntroClickHandler()">
    </app-warmup-intro>
    <app-warmup-loading *ngSwitchCase="'warmup-preload'"
        [question]="question"
        [loadingTimeout]="config.loadingTime"
        (timeoutEvent)="loadingTimeoutHandler($event)"
        [total]="totalNumberOfQuestions">
    </app-warmup-loading>
    <app-warmup-complete *ngSwitchCase="'warmup-complete'"
        (clickEvent)="warmupCompleteClickHandler()">
    </app-warmup-complete>
    <app-questions-intro *ngSwitchCase="'questions-intro'"
                         (clickEvent)="questionsIntroClickHandler()">
    </app-questions-intro>
    <app-loading *ngSwitchCase="'preload'"
        [question]="question"
        [loadingTimeout]="config.loadingTime"
        (timeoutEvent)="loadingTimeoutHandler($event)"
        [total]="totalNumberOfQuestions">
    </app-loading>
    <app-practice-question
        *ngSwitchCase="'practice-question'"
        [factor1]="question.factor1"
        [factor2]="question.factor2"
        [sequenceNumber]="question.sequenceNumber"
        [questionTimeoutSecs]="config.questionTime"
        (timeoutEvent)="questionTimeoutHandler($event)"
        (manualSubmitEvent)="manualSubmitHandler($event)">
    </app-practice-question>
    <app-spoken-practice-question
        *ngSwitchCase="'spoken-practice-question'"
        [factor1]="question.factor1"
        [factor2]="question.factor2"
        [sequenceNumber]="question.sequenceNumber"
        [questionTimeoutSecs]="config.questionTime"
        [soundComponent]="sound"
        (timeoutEvent)="questionTimeoutHandler($event)"
        (manualSubmitEvent)="manualSubmitHandler($event)">
    </app-spoken-practice-question>

    <app-question *ngSwitchCase="'question'"
        [factor1]="question.factor1"
        [factor2]="question.factor2"
        [sequenceNumber]="question.sequenceNumber"
        [questionTimeoutSecs]="config.questionTime"
        (timeoutEvent)="questionTimeoutHandler($event)"
        (manualSubmitEvent)="manualSubmitHandler($event)">
    </app-question>
    <app-spoken-question *ngSwitchCase="'spoken-question'"
        [factor1]="question.factor1"
        [factor2]="question.factor2"
        [sequenceNumber]="question.sequenceNumber"
        [questionTimeoutSecs]="config.questionTime"
        [soundComponent]="sound"
        (timeoutEvent)="questionTimeoutHandler($event)"
        (manualSubmitEvent)="manualSubmitHandler($event)">
    </app-spoken-question>
  <app-submission-pending *ngSwitchCase="'submission-pending'">
  </app-submission-pending>
</div>
