<app-header class="full-width"></app-header>
<main id="content" class="js-content" role="main">
  <a name="top" id="top"></a>
  <app-breadcrumbs [breadcrumbs]="[{ url: '.', name: 'Home' }, { name: 'Accessibility Statement' } ]"></app-breadcrumbs>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Accessibility statement for the multiplication tables check (MTC) service</h1>
      <p>
        This statement applies to content published on the
        <a class="govuk-link" href="https://pupil.multiplication-tables-check.service.gov.uk/">MTC pupil check application</a> and school administration area of the MTC.
        We're constantly working to make the MTC accessible and user-friendly for all pupils, regardless of any physical,
        cognitive or emotional impairment.
      </p>

      <p>
        You can read a <a target="_blank" rel="noopener noreferrer" href="https://accessibility.blog.gov.uk/">
        blog about accessibility</a> <img alt="" src="/images/icon-link.png"/> on GOV.UK.
      </p>

      <h3 class="heading-medium">Our commitment to accessibility</h3>

      <p>
        The Standards and Testing Agency (STA) is committed to making websites accessible,
        in accordance with The Public Sector Bodies (Websites and Mobile Applications) Accessibility Regulations 2018.
      </p>

      <h3 class="heading-medium">Conformance status</h3>

      <p>
        We seek to ensure that all aspects of the service meet the
        <a target="_blank" rel="noopener noreferrer" href="https://www.w3.org/WAI/standards-guidelines/wcag/">
          Web Content Accessibility Guidelines (WCAG)</a> <img alt="" src="/images/icon-link.png"/>
        2.1 at Level AA. The MTC is partially conformant with WCAG 2.1 level AA.
      </p>

      <p>Partially conformant means that some parts of the content do not fully conform to the accessibility standard.</p>

      <h3 class="heading-medium">Pupil site</h3>

      <p>The MTC does not support third-party screen readers due to compatibility issues with the timed element of the check.</p>

      <p>
        To address this, there are a number of access arrangements that can be applied to the pupil check.
        The following table shows which access arrangements are compatible with each device.
      </p>

      <table class="table-font-xsmall">
        <thead>
        <tr>
          <th>Access arrangement</th>
          <th>Recommended browser and device</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Audible time alert</td>
          <td>Not compatible with any version of IE and any version of Microsoft Edge v 14 and below</td>
        </tr>
        <tr>
          <td>Colour contrast</td>
          <td>Any browser/device</td>
        </tr>
        <tr>
          <td>Font size</td>
          <td>Any browser/device</td>
        </tr>
        <tr>
          <td>Input assistance</td>
          <td>Any browser/device</td>
        </tr>
        <tr>
          <td>Pause ‘next’ button between questions</td>
          <td>Any browser/device</td>
        </tr>
        <tr>
          <td>Audio version</td>
          <td>Not recommended for IOS 9.3 <br />
            Not compatible with any version of IE and any version of Microsoft Edge v 14 and below
          </td>
        </tr>
        <tr>
          <td>Remove on-screen number pad</td>
          <td>Any browser/device (External keyboard required for tablets)</td>
        </tr>
        </tbody>
      </table>

      <h3 class="heading-medium">Teacher site</h3>

      <p>MTC does not currently have any built-in access arrangements for the teacher site.</p>

      <p>The MTC teacher site has been designed to be compatible with recent versions of the following screen readers:</p>

      <ul class="list list-bullet">
        <li>job access with speech (JAWS)</li>
        <li>non-visual desktop access (NVDA)</li>
        <li>voiceOver</li>
      </ul>


      <p>The site has also been designed to be compatible with:</p>

      <ul class="list list-bullet">
        <li>basic operating system screen magnifiers, such as ZoomText magnifier</li>
        <li>speech recognition software, such as Dragon Naturally Speaking</li>
        <li>operating system speech packages</li>
      </ul>

      <h3 class="heading-medium">Get help for Teacher Site</h3>

      <p>AbilityNet provides guidance about how to:</p>

      <ul class="list list-bullet">
        <li><a target="_blank" rel="noopener noreferrer" href="https://mcmw.abilitynet.org.uk/impairment/making-your-mouse-easier-use">
          make your mouse easier to use</a> <img alt="" src="/images/icon-link.png"/></li>
        <li><a target="_blank" rel="noopener noreferrer" href="https://mcmw.abilitynet.org.uk/category/keyboard-shortcuts">
          use your keyboard instead of a mouse</a> <img alt="" src="/images/icon-link.png"/></li>
        <li><a target="_blank" rel="noopener noreferrer" href="https://mcmw.abilitynet.org.uk/impairment/talking-your-device">
          talk to your device</a> <img alt="" src="/images/icon-link.png"/></li>
        <li><a target="_blank" rel="noopener noreferrer" href="https://mcmw.abilitynet.org.uk/impairment/making-your-device-talk-you">
          make your device talk to you</a> <img alt="" src="/images/icon-link.png"/></li>
        <li><a target="_blank" rel="noopener noreferrer" href="https://mcmw.abilitynet.org.uk/impairment/making-text-larger">
          make text larger</a> <img alt="" src="/images/icon-link.png"/></li>
        <li><a target="_blank" rel="noopener noreferrer" href="https://mcmw.abilitynet.org.uk/impairment/changing-your-colours">
          change your colours</a> <img alt="" src="/images/icon-link.png"/></li>
        <li><a target="_blank" rel="noopener noreferrer" href="https://mcmw.abilitynet.org.uk/impairment/magnifying-screen">
          magnify the screen</a> <img alt="" src="/images/icon-link.png"/></li>
      </ul>

      <h3 class="heading-medium">How accessible this website is</h3>

      <p>Parts of the MTC website are not fully accessible for example:</p>
      <ul class="list list-bullet">
        <li>some error messages are not clearly associated with form controls</li>
      </ul>

      <h3 class="heading-medium">How to request content in an accessible format</h3>

      <p>All content on MTC is in an accessible format.</p>

      <h3 class="heading-medium">Reporting accessibility problems with this website</h3>

      <p>If you find any problems that are not listed on this page
        or you think we’re not meeting the accessibility requirements,
        please contact the national curriculum assessments helpline on 0300 303 3013 or email assessments@education.gov.uk.
      </p>

      <h3 class="heading-medium">Enforcement procedure</h3>

      <p>If you contact us with a complaint and you are not happy with our response,
        please <a href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS).</a>
      </p>

      <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications)
        (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).
      </p>

      <h3 class="heading-medium">How we tested this website</h3>

      <p>This website was and is currently being tested for compliance with the Web Content Accessibility Guidelines V2.1 level A and level AA,
        and these tests have been carried out internally.
      </p>

      <h3 class="heading-medium">What we’re doing to improve accessibility</h3>

      <p>Ahead of the 2021/22 MTC cycle we will audit our content again and update the service according to report findings.</p>

      <p>This statement was prepared based on an independent accessibility audit carried out in July 2019. It was last updated on 19 April 2021.</p>
      <div class="back-to-top-container">
        <a [routerLink]="['/accessibility-statement']" fragment="top">Back to top</a>
      </div>
    </div>
    <div class="column-one-third add-title-margin">
      <br />
      <aside role="complementary" class="support-column">
        <h3 class="heading-medium">Related</h3>
        <nav role="navigation">
          <ul class="list">
            <li>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
</main>
<app-footer></app-footer>
