/* Base GDS Toolkit */

// used by govuk-frontend-toolkit: image-url()
$image-path: "../images/";

// used by shared-styles (MTC): file-url()
$path: "./assets/images/";

/* Custom functions */
@import "../lib/shared-styles/helpers/helpers";

/* Settings (variables): imported from govuk_frontend_toolkit in node_modules */
@import "stylesheets/colours/palette";
@import "stylesheets/colours/organisation";
@import "stylesheets/colours";
@import "stylesheets/font_stack";
@import "stylesheets/measurements";

$mainstream-brand: $department-for-education;


/* Mixins: imported from govuk_frontend_toolkit in node_modules */
@import "stylesheets/conditionals";
@import "stylesheets/device-pixels";
@import "stylesheets/grid_layout";
@import "stylesheets/typography";
@import "stylesheets/shims";

/* Functions: imported from govuk_frontend_toolkit in node_modules */
@import "stylesheets/url-helpers";

/* Extras: imported from govuk_frontend_toolkit in node_modules */
@import "stylesheets/helpers";
@import "stylesheets/design-patterns/alpha-beta";
@import "stylesheets/design-patterns/breadcrumbs";
@import "stylesheets/design-patterns/buttons";

/* Imports from govuk-elements-sass in node_modules */
@import 'elements/helpers';
@import 'elements/layout';
@import 'elements/elements-typography';
@import 'elements/buttons'; // contains images from frontend-toolkit
@import 'elements/forms';
@import 'elements/forms/form-multiple-choice';
@import 'elements/forms/form-validation';
@import 'elements/panels';
@import 'elements/details';
@import 'elements/shame';
@import 'elements/lists';
@import 'elements/icons';

/* Imports from govuk_template which have been vendored (copied) to our lib directorye */
@import "govuk_template/stylesheets/govuk-template";

/* STA-MTC project elements */
@import '../lib/shared-styles/elements/phase-banner';
@import '../lib/shared-styles/elements/organization-logo';
@import '../lib/shared-styles/elements/headings';
@import '../lib/shared-styles/elements/timer';
@import '../lib/shared-styles/elements/check';
@import '../lib/shared-styles/elements/manage-pins';
@import '../lib/shared-styles/elements/modal';
@import '../lib/shared-styles/elements/aa-variables';
@import '../lib/shared-styles/elements/virtual-keyboard';
@import '../lib/shared-styles/elements/font-size-copy';
@import '../lib/shared-styles/elements/colour-contrast';

html {
  background-color: $grey-3;
}

/* Header and footer */

#footer {
  border-top: 10px solid $mainstream-brand;
}

/* General elements */

legend {
  padding: 0;
}

/* Layout and Spacing */

.top-padding {
  padding-top: $gutter;
}

.no-top-margin {
  margin-top: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

/* Alignment */

.right {
  float: right;
}

.left {
  float: left;
}

.item-center {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.text-center {
  text-align: center;
}

/* Buttons and links */

.button-secondary {
  @include button($grey-3);

  margin-top: em(20);

  @include media(tablet) {
    margin-top: 0;
  }
}

.back-link-wrapper {
  margin-top: 25px;
}

.back-link-wrapper + .page-header {
  margin-top: 15px;
}

.back-link,
.back-link:link,
.back-link:active,
.back-link:hover,
.back-link:visited {
  border-bottom: 1px solid $black;
  color: $black;
  display: inline-block;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 11px;
  position: relative;
  text-decoration: none;

  &:before {
    border-top: 5px solid transparent;
    border-right: 6px solid $black;
    border-bottom: 5px solid transparent;
    content: '';
    display: block;
    font-size: 12px;
    height: 0;
    left: 0;
    margin-top: -7px;
    position: absolute;
    top: 50%;
    width: 0;
  }
}

/* Visibility */

.hidden {
  display: none;
}

/* Errors, alerts, notifications */

.alert {
  border-color: $error-colour;
  background-color: $grey-4;
}

.error-summary-heading {
  margin-bottom: 0;
}

/* Forms */

.textarea {
  width: 30em;
  max-width: 100%;
  height: 6em;
  resize: vertical;
}

.form-date .form-group {
  float: left;
  width: 50px;
  margin-right: 1.5em;
  margin-bottom: 0;
  clear: none;
}

/* form-buttons */
.form-buttons {
  @extend .form-group;

  input, a {
    margin-right: em(20);
  }
}

/* General */
/* Prevent anything on the screen being selectable */
body {
  user-select: none;
  -ms-touch-action: manipulation !important; /* Disable double-tap zoom */
}

.nowrap {
  white-space: nowrap;
}

.full-width {
  width: 100%;
}

/* Sidebar */
.sidebar {
  margin-top: 40px;
}

.support-column {
  border-top: pem(10px) solid $mainstream-brand;
  padding-top: pem(10px);

  ul {
    @include core-16();

    list-style: none;
  }

  h2, h3, h4 {
    @include bold-24();

    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }
}

/* Lists */

ol, ul {
  list-style-position: inside;
  padding-left: 0;
}

.list-number, .list-bullet {
  padding-left: 0;
}

.list-item--dashed:before {
  content: "— ";
}

/* AA Page Modification */
#page-modifications {
  min-height: 100vh;
  height: 100%;
}

/* Float columns for aa settings pages */

.column-float {
  min-width: 25%;
  padding: 5px 15px;
  float: left;
  overflow: hidden;
}

/* SVG icons */
.notice .svg-warning {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -20px;
}

#page-modifications .button-start {
  background-image: none;

  .svg-arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.more-links {

  > strong {
    margin-top: 75px;
    padding-top: 15px;
    width: 100%;
    display: block;
    border-top: 10px solid #005ea5;
  }

  > ul {
    list-style: none;
    padding: 0;
    margin: 0.8rem 0;
  }
}

/*
 * Disable pull to refresh on tablets
 */
@media screen and (pointer: coarse) {
  html {
    min-height: 100.3%;
    overscroll-behavior-y: none; // Disable on ios 16 and newer
    overscroll-behaviour: none; // Disable on chrome / android tablets
  }
}
