<app-header class="full-width"></app-header>
<main id="content" class="js-content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <header class="page-header">
          <h1 class="heading-xlarge">Give feedback</h1>
      </header>

      <form>
        <div class="text">
          <h2 class="heading-large">
            Did you encounter any problems running the connection test on your ICT?
          </h2>
          <p>
            <textarea #commentText name="commentText" class="textarea form-control"></textarea>
          </p>
          <p class="no-top-margin">(Limit is 1200 characters)</p>
        </div>

        <div>
            <h1 class="heading-large">
                Optional follow-up
            </h1>
            <p class="lede">
                If you encountered a problem and are willing to participate in further research, please provide us with your contact details. Please note, we may not be able to visit all schools.
            </p>
        </div>

        <div class="form-group">
          <label class="form-label" for="first-name">First name</label>
          <input class="form-control" id="first-name" name="first-name" type="text">
        </div>

        <div class="form-group">
          <label class="form-label" for="last-name">Last name</label>
          <input class="form-control" id="last-name" name="last-name" type="text">
        </div>

        <div class="form-group">
          <label class="form-label" for="contact-number">Contact number</label>
          <input class="form-control" id="contact-number" name="contact-number" type="text">
        </div>

        <div class="form-group">
          <label class="form-label" for="email-address">Email address</label>
          <input class="form-control" id="email-address" name="email-address" type="text">
        </div>

        <div class="form-group">
          <label class="form-label" for="school-name">School name (optional)</label>
          <input class="form-control" id="school-name" name="school-name" type="text">
        </div>

        <div class="form-group">
            <input class="button" value="Send feedback" type="submit">
        </div>
      </form>
    </div>
  </div>
</main>
